Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

fix(production): restore me payload and report ordering
  app/controllers/api/v1/users/sessions_controller.rb
  app/services/reports/client_revenues/report_decorator.rb
Due: lint-staged, rubocop

fix(leaves): restore legacy my leaves route
  app/javascript/src/constants/index.tsx
  app/javascript/src/constants/routes.ts
  spec/requests/spa_routes_spec.rb
  spec/system/settings/leaves_spec.rb
Due: lint-staged, rubocop

fix(payments): restore invoice manual entry and amount parsing
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
  spec/system/expenses/index_spec.rb
  spec/system/invoices/editor_preview_spec.rb
  spec/system/payments/create_spec.rb
  spec/system/payments/list_spec.rb
Due: lint-staged, rubocop

fix(expenses): keep amount input free-form on submit
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  spec/system/expenses/index_spec.rb
Due: lint-staged, rubocop

fix(invoices): restore legacy line totals
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/services/invoiceApi.ts
Due: lint-staged

chore(deps): clear bundler audit advisories
  Gemfile.lock
Due: none

fix(invoices): keep status cards in sync
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/InfiniteScrollRecentlyUpdated.tsx
  spec/system/invoices/index_spec.rb
Due: lint-staged, rubocop

fix(time-tracking): preserve leave types across week nav
  app/javascript/src/components/TimeTracking/index.tsx
  spec/system/time_tracking/views_spec.rb
Due: lint-staged, rubocop

fix(invoices): restore editor line item fallbacks
  app/javascript/src/components/Invoices/common/NewLineItemRow/NewLineItemStatic.tsx
  spec/system/invoices/editor_preview_spec.rb
Due: lint-staged, rubocop

fix(reminders): honor weekly reminder opt-outs
  app/services/weekly_reminder_for_missed_entries_service.rb
  spec/services/weekly_reminder_for_missed_entries_service_spec.rb
Due: lint-staged, rubocop

refactor(invoices): remove recently updated section
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/index.tsx
  spec/system/invoices/index_spec.rb
Due: lint-staged, rubocop

fix(time-tracking): wrap long entry text
  app/javascript/src/components/TimeTracking/EntryCard.tsx
Due: lint-staged

refactor(mailers): polish email copy and previews
  app/mailers/send_weekly_reminder_to_user_mailer.rb
  app/mailers/user_invitation_mailer.rb
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/devise/mailer/email_changed.html.erb
  app/views/devise/mailer/password_change.html.erb
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/devise/mailer/unlock_instructions.html.erb
  app/views/invoice_mailer/send_invoice.html.erb
  app/views/layouts/mailer.html.erb
  app/views/mailers/invoice_mailer/invoice.html.erb
  app/views/mailers/send_payment_reminder_mailer/send_payment_reminder.html.erb
  app/views/mailers/send_reminder_mailer/send_reminder.html.erb
  app/views/mailers/send_weekly_reminder_to_user_mailer/notify_user_about_missed_entries.html.erb
  app/views/mailers/user_invitation_mailer/send_user_invitation.html.erb
  app/views/subscription_mailer/trial_started.html.erb
  spec/mailers/devise_mailer_spec.rb
  spec/mailers/invoice_mailer_spec.rb
  spec/mailers/previews/client_payment_mailer_preview.rb
  spec/mailers/previews/invoice_mailer_preview.rb
  spec/mailers/previews/payment_mailer_preview.rb
  spec/mailers/previews/preview_support.rb
  spec/mailers/previews/rendering_spec.rb
  spec/mailers/send_weekly_reminder_to_user_mailer_spec.rb
  spec/mailers/user_invitation_mailer_spec.rb
Due: lint-staged, rubocop

docs: refresh README visuals and CTAs
  README.md
  docs/static/img/readme/dashboard-preview.png
  docs/static/img/readme/invoice-builder-preview.png
  docs/static/img/readme/invoices-preview.png
  docs/static/img/readme/reports-preview.png
Due: none

docs: replace README screenshots with current product imagery
  README.md
  docs/static/img/readme/dashboard-current.webp
  docs/static/img/readme/dashboard-preview.png
  docs/static/img/readme/hero-current.png
  docs/static/img/readme/invoice-builder-preview.png
  docs/static/img/readme/invoices-current.webp
  docs/static/img/readme/invoices-preview.png
  docs/static/img/readme/reports-current.webp
  docs/static/img/readme/reports-preview.png
  docs/static/img/readme/time-tracking-current.webp
Due: none

feat(reports): add shareable filtered report views
  app/controllers/api/v1/reports/accounts_aging_controller.rb
  app/controllers/api/v1/reports/payments_controller.rb
  app/javascript/src/components/Reports/AccountsAgingReport/index.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/ModernOutstandingInvoiceReport.tsx
  app/javascript/src/components/Reports/PaymentReport/CleanPaymentReport.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/index.tsx
  app/javascript/src/components/Reports/ShareReportButton.tsx
  app/javascript/src/components/Reports/TimeEntryReport/index.tsx
  app/javascript/src/components/Reports/filterUtils.ts
  app/services/reports/accounts_aging/download_service.rb
  app/services/reports/accounts_aging/fetch_overdue_amount.rb
  app/services/reports/client_revenues/report_decorator.rb
  app/views/api/v1/reports/accounts_aging/index.json.jbuilder
  app/views/api/v1/reports/client_revenues/index.json.jbuilder
  spec/requests/api/v1/reports/accounts_aging/index_spec.rb
  spec/requests/api/v1/reports/client_revenue/index_spec.rb
  spec/requests/api/v1/reports/payments/index_spec.rb
  spec/support/vite_test_helper.rb
  spec/system/reports/index_spec.rb
Due: lint-staged, rubocop

fix(settings): restore profile prefills and employee access
  app/controllers/api/v1/users/sessions_controller.rb
  app/javascript/src/components/Settings/ModernPreferences/index.tsx
  app/javascript/src/hooks/useCurrentUser.ts
  spec/requests/api/v1/users/me_spec.rb
  spec/system/settings/leaves_spec.rb
Due: lint-staged, rubocop

feat(i18n): add Punjabi and Telugu locale files
  app/javascript/src/i18n/locales/pa.ts
  app/javascript/src/i18n/locales/te.ts
Due: lint-staged

fix(i18n): align index.ts exports with upstream API
  app/javascript/src/common/LocaleSelector/index.tsx
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/i18n/index.ts
Due: lint-staged

fix(i18n): add missing exports for upstream compatibility
  app/javascript/src/components/Authentication/SignIn/utils.ts
  app/javascript/src/i18n/index.ts
Due: lint-staged

fix(i18n): fix Punjabi formatting and Telugu syntax error
  app/javascript/src/i18n/locales/pa.ts
  app/javascript/src/i18n/locales/te.ts
Due: lint-staged

fix(i18n): harden locale fallback and profile language settings
  app/controllers/api/v1/users_controller.rb
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileEditPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  app/javascript/src/i18n/index.ts
  app/javascript/src/mapper/teams.mapper.ts
  lib/tasks/users.rake
Due: lint-staged, rubocop

fix(i18n): add 130 missing translation keys for upstream components
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix(auth): use app login path in devise links
  app/views/devise/shared/_links.html.erb
Due: none

fix(i18n): fix syntax errors in zh-CN and gu locale files
  app/javascript/src/i18n/locales/gu.ts
  app/javascript/src/i18n/locales/zh-CN.ts
Due: lint-staged

fix(i18n): add auth.heroTitle and auth.heroDescription keys
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix(i18n): fix fallback to English and add locale to signup
  app/controllers/api/v1/users/registrations_controller.rb
  app/javascript/src/i18n/index.ts
Due: lint-staged, rubocop

fix(sentry): guard invoice, holiday, and mailer error paths
  app/controllers/api/v1/invoices/line_items_controller.rb
  app/mailers/application_mailer.rb
  app/services/bulk_holiday_service.rb
  spec/mailers/application_mailer_spec.rb
  spec/requests/api/v1/invoices/line_items/index_spec.rb
  spec/services/bulk_holiday_service_spec.rb
Due: lint-staged, rubocop

fix(sentry): guard invoice, holiday, and mailer errors
  app/controllers/api/v1/invoices/line_items_controller.rb
  app/mailers/application_mailer.rb
  app/services/bulk_holiday_service.rb
  db/migrate/20260331200000_add_locale_to_users.rb
  db/migrate/20260331200000_ensure_locale_on_users.rb
  db/schema.rb
  spec/mailers/application_mailer_spec.rb
  spec/requests/api/v1/invoices/line_items/index_spec.rb
  spec/services/bulk_holiday_service_spec.rb
Due: lint-staged, rubocop

refactor(i18n): merge duplicate keys and remove dead code in en.ts
  app/javascript/src/i18n/en.ts
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix(team): fix crash from i18n.t("projects") returning object
  app/javascript/src/components/Team/ResponsiveTeam.tsx
  app/javascript/src/components/Team/TeamTable.tsx
Due: lint-staged

fix(i18n): reload page on language change and add locale to profile
  app/javascript/src/common/LocaleSelector/index.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/StaticPage.tsx
Due: lint-staged

fix(i18n): reload page on CompactLocaleSwitcher change + show language names
  app/javascript/src/components/common/CompactLocaleSwitcher.tsx
  app/javascript/src/i18n/index.ts
Due: lint-staged

fix(i18n): always reload on locale change, even on unauthenticated pages
  app/javascript/src/components/common/CompactLocaleSwitcher.tsx
Due: lint-staged

fix(i18n): use correct %{percentage} param in ofTotal key
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

feat(billing): add rake task to set billing_exempt for grandfathered orgs
  lib/tasks/billing_exempt.rake
Due: none

fix(i18n): persist locale across reload + remove billing_exempt rake task
  app/javascript/src/components/AppWithUserData.tsx
  lib/tasks/billing_exempt.rake
Due: lint-staged

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
