Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

ci: improve test artifact collection and failure reporting
  .github/workflows/validations.yml
Due: none

feat: enhance Reports FilterSidebar with shadcn components
  app/javascript/src/components/Reports/Filters/EnhancedClientFilter.tsx
  app/javascript/src/components/Reports/Filters/EnhancedDateRangeFilter.tsx
  app/javascript/src/components/Reports/Filters/EnhancedFilterSidebar.tsx
  app/javascript/src/components/Reports/Filters/EnhancedGroupByFilter.tsx
  app/javascript/src/components/Reports/Filters/EnhancedStatusFilter.tsx
  app/javascript/src/components/Reports/Filters/EnhancedTeamMembersFilter.tsx
  app/javascript/src/components/ui/sheet.tsx
Due: lint-staged

feat(invoices): add monthly revenue chart with area/bar view toggle
  app/javascript/src/StyledComponents/SummaryDashboard.tsx
  app/javascript/src/components/Invoices/InvoiceSummary/index.tsx
  app/javascript/src/components/Invoices/List/container.tsx
  app/javascript/src/components/Invoices/MonthlyRevenueChart/index.tsx
  package.json
  pnpm-lock.yaml
  spec/system/projects/create_spec.rb
  spec/system/time_tracking/calendar_spec.rb
  spec/system/time_tracking/time_tracking_spec.rb
  spec/system/users/email_confirmations_spec.rb
Due: lint-staged, rubocop

fix(invoices): migrate from Kaminari to Pagy pagination
  app/controllers/internal_api/v1/invoices_controller.rb
Due: lint-staged, rubocop

feat(invoices): add Rails API endpoint for monthly revenue analytics
  app/controllers/internal_api/v1/invoices/analytics_controller.rb
  app/javascript/src/apis/invoices.ts
  app/javascript/src/components/Invoices/List/RecentlyUpdated/RecentlyUpdatedCard.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/index.tsx
  app/javascript/src/components/Invoices/List/container.tsx
  app/javascript/src/components/Invoices/MonthlyRevenueChart/index.tsx
  config/routes/internal_api.rb
Due: lint-staged, rubocop

fix(invoices): replace AnimatedAvatar with Avatar in RecentlyUpdatedCard
  app/javascript/src/components/Invoices/List/RecentlyUpdated/RecentlyUpdatedCard.tsx
Due: lint-staged

feat(invoices): implement infinite scroll for recently updated invoices
  app/controllers/internal_api/v1/invoices/recently_updated_controller.rb
  app/javascript/src/apis/invoices.ts
  app/javascript/src/components/Invoices/List/RecentlyUpdated/InfiniteScrollRecentlyUpdated.tsx
  app/javascript/src/components/Invoices/List/container.tsx
  config/routes/internal_api.rb
  spec/requests/internal_api/v1/invoices/recently_updated_controller_spec.rb
  spec/system/multi_currency_invoice_spec.rb
  spec/system/outstanding_overdue_reports_spec.rb
  spec/system/teams/edit_spec.rb
  spec/system/users/forgot_password_spec.rb
  spec/system/users/login_spec.rb
Due: lint-staged, rubocop

test: fix and mark pending failing system specs
  app/controllers/internal_api/v1/invoices_controller.rb
  spec/system/projects/edit_spec.rb
  spec/system/shared_examples/invoices/send_invoice.rb
  spec/system/users/logout_spec.rb
Due: lint-staged, rubocop

test: mark additional failing system specs as pending
  app/controllers/internal_api/v1/invoices_controller.rb
  app/javascript/src/components/Invoices/ChartWithSummary/index.tsx
  app/javascript/src/components/Invoices/List/container.tsx
  spec/system/shared_examples/invoices/send_reminder.rb
  spec/system/teams/delete_spec.rb
  spec/system/teams/index_spec.rb
Due: lint-staged, rubocop

fix(invoices): handle zero amounts correctly in invoice summary
  app/controllers/internal_api/v1/invoices_controller.rb
  app/javascript/src/components/Invoices/AdminDashboard/index.tsx
  app/javascript/src/components/Invoices/ChartWithSummary/index.tsx
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/List/ThemedContainer.tsx
  app/javascript/src/components/Invoices/ThemeToggle/index.tsx
  app/javascript/src/features/invoices/api/index.ts
  app/javascript/src/features/invoices/hooks/index.ts
  app/javascript/src/features/invoices/routes/dashboard/actions.ts
  app/javascript/src/features/invoices/routes/dashboard/components/DashboardLayout.tsx
  app/javascript/src/features/invoices/routes/dashboard/context.tsx
  app/javascript/src/features/invoices/routes/dashboard/loader.ts
  app/javascript/src/features/invoices/routes/dashboard/route.tsx
  app/javascript/src/lib/api-client.ts
Due: lint-staged, rubocop

feat: improve invoice cards and add compact summary design
  app/javascript/src/components/Dashboard/index.tsx
  app/javascript/src/components/Global/ThemeToggle.tsx
  app/javascript/src/components/Invoices/ChartWithSummary/index.tsx
  app/javascript/src/components/Invoices/CompactInvoiceSummary/index.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/RecentlyUpdatedCard.tsx
  app/javascript/src/components/Invoices/RecentSales/index.tsx
  app/javascript/src/features/README.md
  package.json
  pnpm-lock.yaml
Due: lint-staged

fix(system-specs): update system specs for React UI migration
  app/javascript/src/components/AdminPages/ClientsPage/index.tsx
  app/javascript/src/components/AdminPages/ReportsPage/index.tsx
  app/javascript/src/components/AdminPages/SettingsPage/index.tsx
  app/javascript/src/components/AdminPages/TimeTrackingPage/index.tsx
  spec/system/projects/create_spec.rb
  spec/system/teams/delete_spec.rb
  spec/system/teams/edit_spec.rb
  spec/system/users/logout_spec.rb
Due: lint-staged, rubocop

fix(theme): resolve ThemeProvider context error and React Hooks Rules violations
  app/controllers/internal_api/v1/invoices/analytics_controller.rb
  app/controllers/internal_api/v1/invoices_controller.rb
  app/javascript/src/components/App.tsx
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Dashboard/Sidebar.tsx
  app/javascript/src/components/Global/ThemeToggle.tsx
  app/javascript/src/components/Routes/AppRouter.tsx
  app/javascript/src/components/ui/sidebar.tsx
  app/javascript/src/contexts/ThemeContext.tsx
  app/javascript/src/hooks/use-mobile.tsx
  vite.config.mts
Due: lint-staged, rubocop

fix(theme): update Dashboard to use optional theme hooks and fix AdminDashboard imports
  app/controllers/internal_api/v1/invoices/analytics_controller.rb
  app/javascript/src/components/Dashboard/ModernLayout.tsx
  app/javascript/src/components/Dashboard/index.tsx
  app/javascript/src/components/Global/ThemeToggle.tsx
  app/javascript/src/components/Invoices/InvoiceSummary/index.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/RecentlyUpdatedCard.tsx
  app/javascript/src/components/ui/dashboard-cards.tsx
  app/javascript/src/contexts/ThemeContext.tsx
  app/javascript/stylesheets/application.scss
  spec/system/teams/edit_spec.rb
  tailwind.config.js
Due: lint-staged, rubocop
