Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

perf: optimize CI parallelization strategy
  .github/workflows/playwright.yml
  .github/workflows/validations.yml
  playwright.config.ts
  playwright/e2e/essential.spec.ts
Due: lint-staged

feat: optimize CI/CD with Docker registry and best practices
  .devcontainer/docker-compose.yml
  .github/workflows/docker-build.yml
  .github/workflows/optimized-ci.yml
  .github/workflows/playwright.yml
  .github/workflows/validations.yml
  playwright.config.ts
Due: lint-staged

fix: resolve CI failures
  .github/workflows/docker-build.yml
  playwright/e2e/time-tracking.spec.ts
  playwright/helpers/auth.ts
Due: lint-staged

fix: make Playwright artifact names unique per shard
  .github/workflows/validations.yml
Due: none

fix: remove duplicate Playwright workflow
  .github/workflows/playwright.yml
Due: none

fix: remove duplicate timezones controller spec
  spec/requests/api/internal_api/v1/timezones_controller_spec.rb
Due: lint-staged, rubocop

fix: optimize Docker builds and Playwright configuration
  .devcontainer/Dockerfile
  .github/workflows/docker-build.yml
  Dockerfile.base
  playwright.config.ts
Due: lint-staged

feat: add optimized multi-stage Docker builds
  Dockerfile
  docker-compose.test.yml
Due: none

feat: add Tapioca for Ruby type checking and restore Docker ENV vars
  Dockerfile
  Gemfile
  Gemfile.lock
  bin/tapioca
  sorbet/config
  sorbet/rbi/annotations/.gitattributes
  sorbet/rbi/annotations/actionmailer.rbi
  sorbet/rbi/annotations/actionpack.rbi
  sorbet/rbi/annotations/actionview.rbi
  sorbet/rbi/annotations/activejob.rbi
  sorbet/rbi/annotations/activemodel.rbi
  sorbet/rbi/annotations/activerecord.rbi
  sorbet/rbi/annotations/activesupport.rbi
  sorbet/rbi/annotations/devise.rbi
  sorbet/rbi/annotations/faraday.rbi
  sorbet/rbi/annotations/globalid.rbi
  sorbet/rbi/annotations/minitest.rbi
  sorbet/rbi/annotations/pundit.rbi
  sorbet/rbi/annotations/railties.rbi
  sorbet/rbi/annotations/rainbow.rbi
  sorbet/rbi/annotations/stripe.rbi
  sorbet/rbi/annotations/webmock.rbi
  sorbet/tapioca/config.yml
  sorbet/tapioca/require.rb
Due: lint-staged, rubocop

feat: add type signatures to models and auto-cancel previous CI runs
  .github/workflows/docker-build.yml
  app/models/user.rb
Due: lint-staged, rubocop

feat: optimize Docker caching and migrate to Postmark webhooks
  .github/workflows/docker-build.yml
  Dockerfile
  app/controllers/webhooks/postmark_controller.rb
  app/models/invalid_email.rb
  app/models/user.rb
  app/services/weekly_reminder_for_missed_entries_service.rb
  config/routes.rb
Due: lint-staged, rubocop

chore: remove deprecated AWS SNS/SES components
  app/controllers/api/v1/sns_subscriptions_controller.rb
  app/models/ses_invalid_email.rb
Due: lint-staged, rubocop

refactor: complete migration from AWS SES to Postmark
  app/models/invalid_email.rb
  db/migrate/20250826063907_rename_ses_tables_to_generic_email_tracking.rb
  db/migrate/20250826064100_drop_old_ses_invalid_emails_table.rb
  db/schema.rb
Due: lint-staged, rubocop

chore: remove all email bounce tracking infrastructure
  app/controllers/webhooks/postmark_controller.rb
  app/models/invalid_email.rb
  app/services/weekly_reminder_for_missed_entries_service.rb
  config/routes.rb
  db/migrate/20250826063907_rename_ses_tables_to_generic_email_tracking.rb
  db/migrate/20250826064100_drop_old_ses_invalid_emails_table.rb
  db/migrate/20250826064725_drop_ses_invalid_emails_table.rb
  db/schema.rb
Due: lint-staged, rubocop
