Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

docs(agents): add rule to comment and close GitHub issues when fixing bugs
  AGENTS.md
Due: none

fix(timeoff): national/optional holiday selection broken by Number() cast
  app/javascript/src/components/TimeoffEntries/TimeoffForm/DesktopTimeoffForm.tsx
Due: lint-staged

refactor(react): clarify component names and hierarchy
  app/javascript/src/components/Dashboard/Home.tsx
  app/javascript/src/components/Dashboard/index.tsx
  app/javascript/src/components/Invoices/Invoice/Header.tsx
  app/javascript/src/components/Invoices/Invoice/InvoiceActions.tsx
  app/javascript/src/components/Invoices/common/InvoiceForm/Header/index.tsx
  app/javascript/src/components/Invoices/common/MoreOptions.tsx
  app/javascript/src/components/Invoices/popups/WavieOffInvoice.tsx
  app/javascript/src/components/Reports/AccountsAgingReport/Container/index.tsx
  app/javascript/src/components/Reports/Container/index.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/Container/index.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/ModernOutstandingInvoiceReport.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/index.tsx
  app/javascript/src/components/Reports/PaymentReport/CleanPaymentReport.tsx
  app/javascript/src/components/Reports/PaymentReport/EnhancedPaymentReport.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/Container/index.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/ModernRevenueByClientReport.tsx
  app/javascript/src/components/Reports/TimeEntryReport/OldTimeEntryReport.tsx
  app/javascript/src/components/TimeTracking/MonthCalendar.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/TimesheetEntries/MonthCalendar/index.tsx
  app/javascript/src/components/TimesheetEntries/index.tsx
Due: lint-staged

refactor(reports): simplify filter component names
  app/javascript/src/components/Reports/Filters/FilterSideBar.tsx
  app/javascript/src/components/Reports/Filters/index.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/Filters/index.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/Filters/index.tsx
Due: lint-staged

refactor(react): remove adjective-heavy component names
  app/javascript/src/components/Reports/Filters/EnhancedClientFilter.tsx
  app/javascript/src/components/Reports/Filters/EnhancedDateRangeFilter.tsx
  app/javascript/src/components/Reports/Filters/EnhancedFilterSidebar.tsx
  app/javascript/src/components/Reports/Filters/EnhancedGroupByFilter.tsx
  app/javascript/src/components/Reports/Filters/EnhancedStatusFilter.tsx
  app/javascript/src/components/Reports/Filters/EnhancedTeamMembersFilter.tsx
  app/javascript/src/components/Reports/TimeEntryReport/OldTimeEntryReport.tsx
  app/javascript/src/components/TimeTracking/ModernTimeEntryForm.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/TimesheetEntries/EnhancedTimeEntryDialog.tsx
  app/javascript/src/components/TimesheetEntries/EnhancedTimeTrackingTable.tsx
Due: lint-staged

refactor(profile): simplify settings component names
  app/javascript/src/components/Navbar/ModernNavbar.tsx
  app/javascript/src/components/Profile/Layout/routes.tsx
  app/javascript/src/components/Profile/Organization/Details/ModernOrganizationSettings.tsx
  app/javascript/src/components/Profile/Organization/Details/index.tsx
  app/javascript/src/components/Profile/Organization/Edit/ModernStaticPage.tsx
  app/javascript/src/components/Profile/Organization/Holidays/ModernHolidaysEditor.tsx
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  app/javascript/src/components/Profile/Organization/Payment/ModernPaymentSettings.tsx
  app/javascript/src/components/Profile/Organization/Payment/index.tsx
  app/javascript/src/components/Profile/Personal/Devices/Edit/ModernEditPage.tsx
  app/javascript/src/components/Profile/Personal/Devices/Edit/index.tsx
  app/javascript/src/components/Settings/ModernPreferences/index.tsx
Due: lint-staged

refactor(profile): trim duplicate organization wrapper logic
  app/javascript/src/components/Profile/Organization/Details/index.tsx
  app/javascript/src/components/Profile/Organization/Payment/index.tsx
Due: lint-staged

refactor(profile): align organization settings file structure
  app/javascript/src/components/Profile/Organization/Details/Page.tsx
  app/javascript/src/components/Profile/Organization/Details/index.tsx
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/components/Profile/Organization/Payment/index.tsx
Due: lint-staged

refactor(profile): flatten settings page paths
  app/javascript/src/components/Profile/Layout/routes.tsx
  app/javascript/src/components/Profile/Organization/Edit/Page.tsx
  app/javascript/src/components/Profile/Personal/Devices/Edit/Page.tsx
  app/javascript/src/components/Profile/Personal/Devices/Edit/index.tsx
  app/javascript/src/components/Settings/Preferences/index.tsx
Due: lint-staged

refactor(reports): align report file names with component roles
  app/javascript/src/components/Reports/Filters/Sidebar.tsx
  app/javascript/src/components/Reports/Filters/SidebarClientFilter.tsx
  app/javascript/src/components/Reports/Filters/SidebarDateRangeFilter.tsx
  app/javascript/src/components/Reports/Filters/SidebarGroupByFilter.tsx
  app/javascript/src/components/Reports/Filters/SidebarStatusFilter.tsx
  app/javascript/src/components/Reports/Filters/SidebarTeamMembersFilter.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/WorkspaceView.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/index.tsx
  app/javascript/src/components/Reports/PaymentReport/WorkspaceView.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/WorkspaceView.tsx
  app/javascript/src/components/Reports/TimeEntryReport/Page.tsx
Due: lint-staged

refactor(time-tracking): remove unused secondary entry dialog
  app/javascript/src/components/TimeTracking/AddEntryButton.tsx
  app/javascript/src/components/TimeTracking/ModernTimeEntryForm.tsx
  app/javascript/src/components/TimeTracking/index.tsx
Due: lint-staged

fix(time-tracking): preserve leave entries across week changes
  app/controllers/api/v1/time_tracking_controller.rb
  app/controllers/api/v1/timesheet_entry_controller.rb
  app/javascript/src/components/TimeTracking/index.tsx
  app/services/time_tracking_index_service.rb
  app/views/api/v1/timesheet_entry/index.json.jbuilder
  spec/requests/api/v1/timesheet_entry/index_spec.rb
  spec/services/time_tracking_index_service_spec.rb
  spec/system/time_tracking/views_spec.rb
Due: lint-staged, rubocop

fix(team): restore member deletion from team table
  app/javascript/src/components/Team/TeamTable.tsx
  spec/system/teams/index_spec.rb
Due: lint-staged, rubocop

feat(locale): persist and surface user language
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/javascript/src/common/LocaleSelector/LocaleDropdown.tsx
  app/javascript/src/common/LocaleSelector/index.tsx
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileProfileEditor.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/PasskeysPanel.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileEditor.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileImageCard.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/TotpPanel.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  app/javascript/src/i18n/index.ts
  app/javascript/src/i18n/locales/en.ts
  lib/tasks/users.rake
  spec/requests/api/v1/users/me_spec.rb
  spec/tasks/users_rake_spec.rb
Due: lint-staged, rubocop

refactor(profile): rename employment edit pages
  app/javascript/src/components/Profile/Personal/Employment/Edit/EmploymentEditor.tsx
  app/javascript/src/components/Profile/Personal/Employment/Edit/MobileEmploymentEditor.tsx
  app/javascript/src/components/Profile/Personal/Employment/Edit/index.tsx
Due: lint-staged

feat(reports): add monthly cash flow digest mailer
  app/mailers/monthly_reports_mailer.rb
  app/services/reports/monthly_cash_flow_digest.rb
  app/views/layouts/mailer.html.erb
  app/views/mailers/monthly_reports_mailer/cash_flow_digest.html.erb
  spec/mailers/monthly_reports_mailer_spec.rb
  spec/mailers/previews/monthly_reports_mailer_preview.rb
  spec/mailers/previews/rendering_spec.rb
  spec/services/reports/monthly_cash_flow_digest_spec.rb
Due: lint-staged, rubocop

feat(reports): add monthly digest scheduling preferences
  app/controllers/api/v1/team_members/notification_preferences_controller.rb
  app/javascript/src/components/Reports/ReportsTable.tsx
  app/javascript/src/components/Settings/Preferences/index.tsx
  app/jobs/monthly_reports_delivery_job.rb
  app/models/notification_preference.rb
  app/services/monthly_reports_delivery_service.rb
  config/solid_queue.yml
  db/migrate/20260401161000_add_monthly_report_digest_enabled_to_notification_preferences.rb
  db/schema.rb
  spec/config/solid_queue_schedule_spec.rb
  spec/controllers/api/v1/team_members/notification_preferences_controller_spec.rb
  spec/factories/notification_preferences.rb
  spec/jobs/monthly_reports_delivery_job_spec.rb
  spec/models/notification_preference_spec.rb
  spec/services/monthly_reports_delivery_service_spec.rb
  spec/system/profile/settings_spec.rb
  spec/system/reports/index_spec.rb
Due: lint-staged, rubocop

fix(i18n): remove duplicate locale keys
  app/javascript/src/i18n/locales/bn.ts
  app/javascript/src/i18n/locales/de.ts
  app/javascript/src/i18n/locales/es.ts
  app/javascript/src/i18n/locales/fr.ts
  app/javascript/src/i18n/locales/gu.ts
  app/javascript/src/i18n/locales/hi.ts
  app/javascript/src/i18n/locales/id.ts
  app/javascript/src/i18n/locales/it.ts
  app/javascript/src/i18n/locales/ja.ts
  app/javascript/src/i18n/locales/kn.ts
  app/javascript/src/i18n/locales/ko.ts
  app/javascript/src/i18n/locales/ml.ts
  app/javascript/src/i18n/locales/mr.ts
  app/javascript/src/i18n/locales/nl.ts
  app/javascript/src/i18n/locales/pa.ts
  app/javascript/src/i18n/locales/pt-BR.ts
  app/javascript/src/i18n/locales/ta.ts
  app/javascript/src/i18n/locales/te.ts
  app/javascript/src/i18n/locales/tr.ts
  app/javascript/src/i18n/locales/ur.ts
  app/javascript/src/i18n/locales/zh-CN.ts
Due: lint-staged

refactor(clients): remove stale modern component names
  app/javascript/src/components/Clients/List/ModernClientList.tsx
  app/javascript/src/components/Clients/Modals/CreateClientModal.tsx
  app/javascript/src/components/Clients/index.tsx
  app/javascript/src/components/Invoices/ModernInvoiceCard.tsx
Due: lint-staged

refactor(profile): rename compensation editors and drop dead device edit pages
  app/javascript/src/components/Profile/Personal/Compensation/Edit/CompensationEditor.tsx
  app/javascript/src/components/Profile/Personal/Compensation/Edit/MobileCompensationEditor.tsx
  app/javascript/src/components/Profile/Personal/Compensation/Edit/index.tsx
  app/javascript/src/components/Profile/Personal/Devices/Edit/EditPage.tsx
  app/javascript/src/components/Profile/Personal/Devices/Edit/MobileEditPage.tsx
Due: lint-staged

refactor(invoices): rename filter sidebar component
  app/javascript/src/components/Invoices/List/FilterSideBar/index.tsx
  app/javascript/src/components/Invoices/List/index.tsx
  spec/system/invoices/index_spec.rb
Due: lint-staged, rubocop

refactor(invoices): rename line item editor row
  app/javascript/src/components/Invoices/common/NewLineItemRow/LineItemEditorRow.tsx
  app/javascript/src/components/Invoices/common/NewLineItemRow/index.tsx
Due: lint-staged

refactor(clients): rename edit client modal
  app/javascript/src/components/Clients/Details/Header.tsx
  app/javascript/src/components/Clients/Modals/EditClientModal.tsx
  app/javascript/src/components/Clients/index.tsx
Due: lint-staged

refactor(clients): rename client editors
  app/javascript/src/components/Clients/ClientForm/ClientEditor.tsx
  app/javascript/src/components/Clients/ClientForm/MobileClientEditor.tsx
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/javascript/src/components/Clients/Modals/CreateClientModal.tsx
  app/javascript/src/components/Clients/Modals/EditClientModal.tsx
Due: lint-staged

refactor(invoices): rename time entry selection headers
  app/javascript/src/components/Invoices/MultipleEntriesModal/TimeEntrySelectionHeader.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/index.tsx
  app/javascript/src/components/Invoices/common/NewLineItemTable/TimeEntryPickerHeader.tsx
  app/javascript/src/components/Invoices/common/NewLineItemTable/index.tsx
Due: lint-staged

refactor(invoices): rename invoice list headers
  app/javascript/src/components/Invoices/List/InvoiceListHeader.tsx
  app/javascript/src/components/Invoices/List/Table/InvoiceListTableHeader.tsx
  app/javascript/src/components/Invoices/List/Table/index.tsx
  app/javascript/src/components/Invoices/List/index.tsx
Due: lint-staged

refactor(invoices): rename invoice form and detail headers
  app/javascript/src/components/Invoices/Invoice/InvoiceDetailHeader.tsx
  app/javascript/src/components/Invoices/common/InvoiceForm/InvoiceFormHeader.tsx
Due: lint-staged

refactor(invoices): rename invoice list and selection tables
  app/javascript/src/components/Invoices/List/InvoiceListContent.tsx
  app/javascript/src/components/Invoices/List/Table/InvoiceListTable.tsx
  app/javascript/src/components/Invoices/List/ThemedContainer.tsx
  app/javascript/src/components/Invoices/List/index.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/TimeEntrySelectionTable.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/index.tsx
Due: lint-staged

refactor(profile): rename personal summary views
  app/javascript/src/components/Profile/Personal/Compensation/CompensationSummary.tsx
  app/javascript/src/components/Profile/Personal/Compensation/index.tsx
  app/javascript/src/components/Profile/Personal/Devices/DeviceInventorySummary.tsx
  app/javascript/src/components/Profile/Personal/Devices/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/Devices/index.tsx
  app/javascript/src/components/Profile/Personal/Employment/EmploymentSummary.tsx
  app/javascript/src/components/Profile/Personal/Employment/index.tsx
  app/javascript/src/components/Profile/Personal/User/PersonalProfileSummary.tsx
  app/javascript/src/components/Profile/Personal/User/index.tsx
Due: lint-staged

refactor(expenses): rename content components
  app/javascript/src/components/Expenses/List/ExpenseListContent.tsx
  app/javascript/src/components/Expenses/List/index.tsx
  app/javascript/src/components/LeaveManagement/LeaveManagementContent.tsx
  app/javascript/src/components/LeaveManagement/index.tsx
Due: lint-staged

refactor(reports): rename grouped time entry results
  app/javascript/src/components/Reports/GroupedTimeEntryResults.tsx
  app/javascript/src/components/Reports/TimeEntryReport/Page.tsx
Due: lint-staged

refactor(profile): remove dead organization static pages
  app/javascript/src/components/Profile/Organization/Details/StaticPage.tsx
  app/javascript/src/components/Profile/Organization/Edit/StaticPage.tsx
  app/javascript/src/components/Profile/Organization/Payment/StaticPage.tsx
  app/javascript/src/components/Reports/totalHoursLogged/index.tsx
Due: lint-staged

chore(ci): fix eslint formatting violations
  app/javascript/src/common/LocaleSelector/localeData.ts
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
Due: lint-staged

test(ci): align auth and timesheet specs
  spec/controllers/api/v1/users/sessions_controller_spec.rb
  spec/requests/api/v1/timesheet_entries/index_spec.rb
Due: lint-staged, rubocop

fix(invoices): save new invoices with draft line items
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/common/InvoiceTable/index.tsx
  app/javascript/src/components/Invoices/common/ManualEntry/index.tsx
  app/javascript/src/services/invoiceApi.ts
  app/models/invoice.rb
  app/models/invoice_line_item.rb
  spec/requests/api/v1/invoices/create_spec.rb
  spec/system/invoices/create_spec.rb
  spec/system/invoices/editor_preview_spec.rb
Due: lint-staged, rubocop

fix(invoices): keep preview card light in light mode
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
Due: lint-staged

fix(invoices): reflect send state in invoice UI
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/index.tsx
Due: lint-staged

feat(mailers): improve invoice and payment email design
  app/mailers/client_payment_mailer.rb
  app/mailers/payment_mailer.rb
  app/models/invitation.rb
  app/views/invoice_mailer/send_invoice.html.erb
  app/views/layouts/mailer.html.erb
  app/views/mailers/client_payment_mailer/payment.html.erb
  app/views/mailers/invoice_mailer/invoice.html.erb
  app/views/mailers/payment_mailer/payment.html.erb
  config/locales/en.yml
  config/locales/gu.yml
  config/locales/te.yml
  spec/mailers/previews/preview_support.rb
  spec/mailers/previews/rendering_spec.rb
  spec/mailers/user_invitation_mailer_spec.rb
  spec/models/invitation_spec.rb
Due: lint-staged, rubocop

fix(specs): align invoice factories with invoice company validation
  spec/factories/invoice_line_items.rb
  spec/factories/invoices.rb
  spec/requests/api/v1/invoices/line_items/index_spec.rb
Due: lint-staged, rubocop
