Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

Coderabbitai review fixes Add .kept scope to filter out soft-deleted clients in client_list method.
  app/services/projects/index_service.rb
Due: lint-staged, rubocop

Moved open exchange rates to third-party-integrations folder
  docs/docs/product-guide/invoicing/04-invoice-exchange-rate-quick-setup.md
  docs/docs/product-guide/third-party-integrations/open-exchange-rates-setup.md
Due: none

Build fixes
  config/initializers/money.rb
  docker-compose.yml
Due: lint-staged, rubocop

Coderabbitai review changes
  app/javascript/src/components/Invoices/Generate/index.tsx
  app/models/exchange_rate_usage.rb
  app/services/clients/index_service.rb
  config/initializers/money.rb
  docs/docs/product-guide/third-party-integrations/open-exchange-rates-setup.md
  lib/tasks/test_email.rake
  spec/models/invoice_spec.rb
  spec/requests/internal_api/v1/clients/index_spec.rb
  spec/services/exchange_rates/fetch_service_spec.rb
  spec/services/exchange_rates/health_check_service_spec.rb
  spec/services/zerobounce_circuit_breaker_spec.rb
Due: lint-staged, rubocop

Upgrade ruby from ruby-3.2.4 to ruby 3.3.10
  .devcontainer/Dockerfile
  .ruby-version
  Dockerfile.local
  Dockerfile.test
  Gemfile
  Gemfile.lock
  deployment/fly/Dockerfile
  docs/docs/contributing-guide/setup/macos.md
Due: none

Coderabbitai review points
  app/javascript/src/components/Invoices/Generate/index.tsx
  app/services/clients/index_service.rb
  app/services/projects/index_service.rb
  spec/services/clients/index_service_spec.rb
  spec/services/projects/index_service_spec.rb
Due: lint-staged, rubocop

Include discarded_at: nil in the admin search where clause to prevent discarded clients from entering search results.
  app/services/clients/index_service.rb
Due: lint-staged, rubocop

Client Invoice Showing Base current for invoice fixes and more places where invoice currency is not referenced
  app/javascript/src/components/ClientInvoices/InvoiceSearch/SearchedDataRow.tsx
  app/javascript/src/components/ClientInvoices/List/Table/TableRow.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/EmailPreview/InvoiceRow.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/MobileView/MobileInvoiceRow.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/MobileView/MobileInvoicesList.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/Table/InvoicesList.tsx
  app/javascript/src/components/Invoices/Invoice/InvoiceActions.tsx
  app/javascript/src/components/Invoices/List/InvoiceSearch/SearchedDataRow.tsx
Due: lint-staged

Update label to show meaniningful information about different Leave Management tabs
  app/javascript/src/components/LeaveManagement/Container/LeaveBlock.tsx
Due: lint-staged

Strict equality (===) instead of loose equality (==)
  app/javascript/src/components/LeaveManagement/Container/LeaveBlock.tsx
Due: lint-staged

Holiday Utilized changes instead of available
  app/javascript/src/components/LeaveManagement/Container/LeaveBlock.tsx
Due: lint-staged

fix: prevent text overlapping in invoice PDF layout
  app/views/pdfs/invoices.html.erb
Due: none

feat: Show holiday validation errors near input fields instead of flash message
  app/controllers/internal_api/v1/holidays_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Profile/Organization/Holidays/EditHolidays/index.tsx
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  app/models/holiday_info.rb
  app/services/bulk_holiday_service.rb
  app/services/timeoff_entries/index_service.rb
  spec/models/holiday_info_spec.rb
  spec/services/bulk_holiday_service_spec.rb
Due: lint-staged, rubocop

fix: improve error handling and user experience across multiple services
  Gemfile
  Gemfile.lock
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  app/services/bulk_holiday_service.rb
  app/services/timeoff_entries/index_service.rb
  spec/services/timeoff_entries/index_service_spec.rb
Due: lint-staged, rubocop

Upgrade Ruby to 3.4.8; fix extracted stdlibs, Rack::File usage, Failing tests, DockerFile fixes for ferrum_pdf
  .devcontainer/Dockerfile
  .ruby-version
  Dockerfile.local
  Dockerfile.test
  Gemfile
  Gemfile.lock
  config/initializers/ferrum_pdf.rb
  deployment/fly/Dockerfile
  docker-compose.yml
  docs/docs/contributing-guide/setup/macos.md
  spec/models/timeoff_entry_spec.rb
Due: lint-staged, rubocop

fix: prevent duplicate StripeConnectedAccount on concurrent requests
  app/controllers/internal_api/v1/payment_settings_controller.rb
  spec/requests/internal_api/v1/payment_settings/connect_stripe_spec.rb
Due: lint-staged, rubocop

Test fixes for removal of `0 days` redundant part of the output
  spec/services/timeoff_entries/index_service_spec.rb
Due: lint-staged, rubocop

fix: handle UTF-16LE encoding errors in Rack request parsing Fixes production Encoding::CompatibilityError in rack/query_parser.rb
  config/initializers/encoding_sanitizer.rb
  spec/middleware/encoding_sanitizer_spec.rb
Due: lint-staged, rubocop

feat: upgrade Ruby from 3.4.5 to 4.0.0
  .ruby-version
  Gemfile
  Gemfile.lock
  app/avo/resources/client.rb
  app/avo/resources/company.rb
  app/avo/resources/user.rb
  app/controllers/avo/clients_controller.rb
  app/controllers/avo/companies_controller.rb
  app/controllers/avo/users_controller.rb
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/common/LineItemTableHeader/index.tsx
  app/javascript/src/components/Invoices/common/ManualEntry/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/services/invoiceApi.ts
  config/initializers/avo.rb
  config/routes.rb
  config/routes/dynamic_routes.rb
  mise.toml
  playwright/e2e/invoice-edit-save.spec.ts
Due: lint-staged, rubocop

feat: Add custom leaves support for time off entries
  app/controllers/internal_api/v1/timeoff_entries_controller.rb
  app/javascript/src/components/LeaveManagement/Container/LeaveBlock.tsx
  app/javascript/src/components/LeaveManagement/Container/Table/TableRow.tsx
  app/javascript/src/components/LeaveManagement/index.tsx
  app/javascript/src/components/TimeoffEntries/TimeoffForm/index.tsx
  app/javascript/src/constants/leaveType.tsx
  app/models/custom_leave.rb
  app/models/timeoff_entry.rb
  app/policies/timeoff_entry_policy.rb
  app/services/time_tracking_index_service.rb
  app/services/timeoff_entries/index_service.rb
  app/views/internal_api/v1/time_tracking/index.json.jbuilder
  app/views/internal_api/v1/timeoff_entries/index.json.jbuilder
  db/migrate/20260112175140_add_custom_leave_id_to_timeoff_entries.rb
  db/migrate/20260112175342_add_foreign_key_custom_leave_to_timeoff_entries.rb
  db/migrate/20260112175355_validate_foreign_key_custom_leave_to_timeoff_entries.rb
  db/schema.rb
  docs/docs/product-guide/05-time-tracking.md
  docs/docs/product-guide/team/03-leave-management.md
  docs/docs/product-guide/team/_category_.json
  spec/factories/custom_leave_users.rb
  spec/factories/custom_leaves.rb
  spec/models/timeoff_entry_spec.rb
  spec/requests/internal_api/v1/time_tracking/index_spec.rb
  spec/requests/internal_api/v1/timeoff_entries/create_spec.rb
  spec/requests/internal_api/v1/timeoff_entries/index_spec.rb
  spec/services/timeoff_entries/index_service_spec.rb
Due: lint-staged, rubocop

Upgrade - ruby to 3.4.8 from 3.3.10 - aws-sdk-s3 to 1.208.0
  .devcontainer/Dockerfile
  .ruby-version
  Dockerfile.local
  Dockerfile.test
  Gemfile
  Gemfile.lock
  config/initializers/ferrum_pdf.rb
  deployment/fly/Dockerfile
  docker-compose.yml
  docs/docs/contributing-guide/setup/macos.md
Due: lint-staged, rubocop

Fix security vulnerabilities and Docker image compatibility
  .devcontainer/Dockerfile
  Gemfile
  Gemfile.lock
  config/initializers/aws.rb
  deployment/fly/Dockerfile
Due: lint-staged, rubocop

Fix AWS initializer to check if Aws constant is defined
  config/initializers/aws.rb
Due: lint-staged, rubocop

Update shakapacker to v9.5.0 and add required configuration
  config/initializers/aws.rb
  config/shakapacker.yml
  package.json
  yarn.lock
Due: lint-staged, rubocop

Pin connection_pool to 2.x for react-rails compatibility
  Gemfile
  Gemfile.lock
Due: none

Update shakapacker.yml for v9 compatibility
  config/shakapacker.yml
Due: none

Complete shakapacker v9 migration - remove webpacker references
  Procfile.dev
  bin/shakapacker
  bin/shakapacker-dev-server
  config/webpacker.yml
  docker-compose.test.yml
  docker-compose.yml
Due: none

Fix timeoff entry label format for zero days
  spec/services/timeoff_entries/index_service_spec.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
