Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

fix: address PR review feedback for Postmark error handling
  app/mailers/application_mailer.rb
  spec/mailers/application_mailer_spec.rb
Due: lint-staged, rubocop

chore: fix security vulnerabilities in dependencies
  Gemfile
  Gemfile.lock
Due: none

Address PR review feedback for Solid Queue initializer
  config/initializers/solid_queue.rb
Due: lint-staged, rubocop

fix(reports): address PR feedback for modern report flows
  app/javascript/src/components/AdminPages/ReportsPage/index.tsx
  app/javascript/src/components/Invoices/Invoice/SendButton.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/common/MoreOptions.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/components/Reports/List/index.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/ModernOutstandingInvoiceReport.tsx
  app/javascript/src/components/Reports/ReportsTable.tsx
  app/javascript/src/components/TimeTracking/EntryForm.tsx
  app/javascript/src/components/TimeTracking/Header.tsx
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/components/TimeTracking/WeekDaySelector.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
  app/javascript/src/constants/routes.ts
  app/javascript/src/services/invoiceApi.ts
  app/views/api/v1/invoices/index.json.jbuilder
  docs/time-tracking-modernization-gap-analysis.md
  spec/system/outstanding_overdue_reports_spec.rb
  spec/system/reports/index_spec.rb
  spec/system/shared_examples/invoices/send_invoice.rb
  spec/system/shared_examples/invoices/send_reminder.rb
  spec/system/time_tracking/add_entry_spec.rb
Due: lint-staged, rubocop

Removed unwanted comment
  Gemfile
Due: none

refactor(mailer): use URI email regexp and clean Gemfile deps
  Gemfile
  Gemfile.lock
  app/mailers/application_mailer.rb
  spec/mailers/application_mailer_spec.rb
Due: lint-staged, rubocop

fix: gracefully handle Postmark inactive recipient errors (#2051)
  Gemfile
  Gemfile.lock
  app/mailers/application_mailer.rb
  spec/mailers/application_mailer_spec.rb
Due: lint-staged, rubocop

chore(ruby): upgrade runtime to 4.0.1
  .github/workflows/docker-build.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  mise.toml
Due: none

chore: resolve PR review comments and align Ruby 4.0.1
  .github/workflows/validations.yml
  .rubocop.yml
  Dockerfile.base
  Dockerfile.kamal
  Dockerfile.production
  Gemfile
  Gemfile.lock
  README.md
  app/controllers/analytics_controller.rb
  app/controllers/api/v1/application_controller.rb
  app/controllers/api/v1/base_controller.rb
  app/controllers/api/v1/invoices_controller.rb
  app/controllers/api/v1/profiles/bank_account_details_controller.rb
  app/controllers/api/v1/team_members/details_controller.rb
  app/controllers/api/v1/timesheet_entry/bulk_action_controller.rb
  app/controllers/api/v1/users/passwords_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/common/FormikFields/InputField/index.tsx
  app/javascript/src/components/AdminPages/ReportsPage/index.tsx
  config/deploy.kamal.yml
  config/deploy.yml
  config/initializers/00_unfreeze_autoload_paths.rb
  deployment/fly/Dockerfile
  docs/docs/contributing-guide/setup/devcontainers.md
  docs/docs/contributing-guide/setup/docker.md
  docs/docs/contributing-guide/setup/macos.md
  docs/docs/contributing-guide/setup/ubuntu_debian.md
  docs/docs/contributing-guide/setup/windows.md
  docs/docs/intro.md
  fly.review.toml
  package.json
  pnpm-lock.yaml
  spec/requests/api/internal_api/v1/profiles/bank_account_details_controller_spec.rb
  spec/requests/api/v1/profiles/bank_account_details_controller_spec.rb
Due: lint-staged, rubocop

chore(spec): align payment settings cassettes to Ruby 4.0.1
  spec/cassettes/Api_V1_PaymentSettings_destroy/when_the_user_is_an_book_keeper/is_not_be_permitted_to_connect_stripe.yml
  spec/cassettes/Api_V1_PaymentSettings_destroy/when_the_user_is_an_employee/is_not_be_permitted_to_connect_stripe.yml
  spec/cassettes/Api_V1_PaymentSettings_destroy/when_user_is_an_admin/is_able_to_delete_a_stripe_connection.yml
Due: none

fix(projects): scope index to policy and stabilize parity specs
  Gemfile.lock
  app/controllers/api/v1/projects_controller.rb
  spec/factories/companies.rb
  spec/system/settings/organization_spec.rb
  spec/system/settings/payment_spec.rb
  spec/system/users/login_spec.rb
Due: lint-staged, rubocop

fix(security): close API multi-tenant and auth hardening gaps
  .env.kamal
  .gitignore
  Dockerfile.kamal
  app/controllers/api/v1/base_controller.rb
  app/controllers/api/v1/invoices/bulk_deletion_controller.rb
  app/controllers/api/v1/invoices_controller.rb
  app/controllers/api/v1/payments_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/test_login_controller.rb
  config/routes.rb
Due: lint-staged, rubocop

fix(frontend): harden invoice/time-tracking actions and API calls
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/components/TimesheetEntries/EnhancedTimeTrackingTable.tsx
Due: lint-staged

chore(admin): remove Avo from app
  Gemfile
  Gemfile.lock
  app/avo/resources/client.rb
  app/avo/resources/company.rb
  app/avo/resources/user.rb
  app/controllers/avo/clients_controller.rb
  app/controllers/avo/companies_controller.rb
  app/controllers/avo/users_controller.rb
  config/initializers/avo.rb
  config/routes.rb
Due: lint-staged, rubocop

chore(cleanup): remove stale wise fixtures and backup routes
  config/routes/api.rb.bak
  spec/cassettes/wise_bank_requirements_failure.yml
  spec/cassettes/wise_bank_requirements_success.yml
  spec/cassettes/wise_create_recipient_failure.yml
  spec/cassettes/wise_create_recipient_success.yml
  spec/cassettes/wise_currency_success.yml
  spec/cassettes/wise_fetch_recipient_failure.yml
  spec/cassettes/wise_fetch_recipient_success.yml
  spec/cassettes/wise_recipient_delete_failure.yml
  spec/cassettes/wise_recipient_delete_success.yml
  spec/cassettes/wise_recipient_update_failure.yml
  spec/cassettes/wise_recipient_update_success.yml
  spec/cassettes/wise_validate_account_error.yml
  spec/cassettes/wise_validate_account_success.yml
Due: none

fix(security): harden health endpoint and auth error handling
  app/controllers/api/v1/users/confirmations_controller.rb
  app/controllers/api/v1/users/passwords_controller.rb
  app/controllers/health_controller.rb
  config/routes.rb
Due: lint-staged, rubocop

fix(payments): enforce stripe-only provider configuration
  app/controllers/api/v1/payments/providers_controller.rb
  app/models/payments_provider.rb
  app/views/api/v1/payment_settings/index.json.jbuilder
  db/seeds.rb
  spec/factories/payments_providers.rb
  spec/models/payments_provider_spec.rb
  spec/requests/api/internal_api/v1/payment_settings/index_spec.rb
  spec/requests/api/internal_api/v1/payments/providers/index_spec.rb
  spec/requests/api/internal_api/v1/payments/providers/update_spec.rb
  spec/requests/api/v1/payment_settings/index_spec.rb
  spec/requests/api/v1/payments/providers/index_spec.rb
  spec/requests/api/v1/payments/providers/update_spec.rb
Due: lint-staged, rubocop

style(ui): normalize auth and admin typography/color tokens
  app/javascript/src/components/AdminPages/ClientsPage/index.tsx
  app/javascript/src/components/AdminPages/ReportsPage/index.tsx
  app/javascript/src/components/AdminPages/SettingsPage/index.tsx
  app/javascript/src/components/AdminPages/TimeTrackingPage/index.tsx
  app/javascript/src/components/Authentication/EmailVerification/EmailVerificationSuccess.tsx
  app/javascript/src/components/Authentication/EmailVerification/index.tsx
  app/javascript/src/components/Authentication/ForgotPassword/PasswordResetLinkSentMsg.tsx
  app/javascript/src/components/Authentication/ForgotPassword/index.tsx
  app/javascript/src/components/Authentication/ResetPassword/index.tsx
  app/javascript/src/components/Authentication/SignIn/SignInForm.tsx
  app/javascript/src/components/Authentication/SignUp/SignUpForm.tsx
  app/javascript/src/components/ui/status-badge.tsx
  app/views/devise/confirmations/new.html.erb
  app/views/devise/shared/_footer.html.erb
Due: lint-staged

style(time): align mobile entry icon colors with brand tokens
  app/javascript/src/components/TimeTracking/MobileView/MobileEntryForm.tsx
  app/javascript/src/components/TimeoffEntries/TimeoffForm/MobileTimeoffForm.tsx
  app/javascript/src/components/TimesheetEntries/TimeEntryForm/MobileEntryForm.tsx
Due: lint-staged

style(responsive): improve admin layouts for mobile and tablet
  app/javascript/src/components/AdminPages/ClientsPage/index.tsx
  app/javascript/src/components/AdminPages/ReportsPage/index.tsx
  app/javascript/src/components/AdminPages/SettingsPage/index.tsx
  app/javascript/src/components/AdminPages/TimeTrackingPage/index.tsx
Due: lint-staged
