Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

fix: normalize subset passwords without callbacks
  script/data_subsets/post_restore.rb
Due: lint-staged, rubocop

fix: harden weekly reminder emails
  app/services/weekly_reminder_for_missed_entries_service.rb
  app/views/layouts/mailer.html.erb
  app/views/shared/mailer/_button.html.erb
  spec/mailers/send_weekly_reminder_to_user_mailer_spec.rb
  spec/services/weekly_reminder_for_missed_entries_service_spec.rb
Due: lint-staged, rubocop

feat: add UPI invoice payments
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  VERSION
  app/controllers/api/v1/payment_settings_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/ClientInvoices/Details/Header.tsx
  app/javascript/src/components/ClientInvoices/Details/InvoiceDetails.tsx
  app/javascript/src/components/ClientInvoices/Details/MobileView/index.tsx
  app/javascript/src/components/ClientInvoices/Details/index.tsx
  app/javascript/src/components/InvoiceEmail/Header.tsx
  app/javascript/src/components/InvoiceEmail/InvoiceDetails.tsx
  app/javascript/src/components/InvoiceEmail/index.tsx
  app/javascript/src/components/Invoices/List/index.tsx
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/components/payments/Modals/constants.ts
  app/javascript/src/i18n/locales/en.ts
  app/models/payment.rb
  app/models/payments_provider.rb
  app/policies/payment_settings_policy.rb
  app/services/payment_providers/upi_intent_service.rb
  app/views/api/v1/invoices/view/show.json.jbuilder
  app/views/api/v1/payment_settings/index.json.jbuilder
  app/views/internal_api/v1/invoices/view/show.json.jbuilder
  app/views/pdfs/invoices.html.erb
  config/routes/api.rb
  db/migrate/20260428165333_add_settings_to_payments_providers.rb
  db/schema.rb
  package.json
  spec/requests/api/v1/payment_settings/index_spec.rb
  spec/services/payment_providers/upi_intent_service_spec.rb
Due: lint-staged, rubocop

test: decode reminder mailer bodies
  spec/mailers/send_payment_reminder_mailer_spec.rb
  spec/mailers/send_reminder_mailer_spec.rb
Due: lint-staged, rubocop

feat: mention UPI on auth marketing
  app/javascript/src/components/Authentication/AuthShell.tsx
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix: address UPI review feedback
  app/javascript/src/components/Invoices/List/InvoiceListContent.tsx
  app/javascript/src/components/Invoices/List/MoreOptions.tsx
  app/javascript/src/components/Invoices/List/Table/InvoiceListTable.tsx
  app/javascript/src/components/Invoices/List/Table/TableRow.tsx
  app/javascript/src/components/Invoices/List/index.tsx
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  app/views/api/v1/payment_settings/index.json.jbuilder
  spec/requests/api/v1/payment_settings/index_spec.rb
Due: lint-staged, rubocop

Add UPI invoice payments (#2205)
  CHANGELOG.md
  Gemfile
  Gemfile.lock
  VERSION
  app/controllers/api/v1/payment_settings_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Authentication/AuthShell.tsx
  app/javascript/src/components/ClientInvoices/Details/Header.tsx
  app/javascript/src/components/ClientInvoices/Details/InvoiceDetails.tsx
  app/javascript/src/components/ClientInvoices/Details/MobileView/index.tsx
  app/javascript/src/components/ClientInvoices/Details/index.tsx
  app/javascript/src/components/InvoiceEmail/Header.tsx
  app/javascript/src/components/InvoiceEmail/InvoiceDetails.tsx
  app/javascript/src/components/InvoiceEmail/index.tsx
  app/javascript/src/components/Invoices/List/InvoiceListContent.tsx
  app/javascript/src/components/Invoices/List/MoreOptions.tsx
  app/javascript/src/components/Invoices/List/Table/InvoiceListTable.tsx
  app/javascript/src/components/Invoices/List/Table/TableRow.tsx
  app/javascript/src/components/Invoices/List/index.tsx
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/components/payments/Modals/constants.ts
  app/javascript/src/i18n/locales/en.ts
  app/models/payment.rb
  app/models/payments_provider.rb
  app/policies/payment_settings_policy.rb
  app/services/payment_providers/upi_intent_service.rb
  app/views/api/v1/invoices/view/show.json.jbuilder
  app/views/api/v1/payment_settings/index.json.jbuilder
  app/views/internal_api/v1/invoices/view/show.json.jbuilder
  app/views/pdfs/invoices.html.erb
  config/routes/api.rb
  db/migrate/20260428165333_add_settings_to_payments_providers.rb
  db/schema.rb
  package.json
  spec/mailers/send_payment_reminder_mailer_spec.rb
  spec/mailers/send_reminder_mailer_spec.rb
  spec/requests/api/v1/payment_settings/index_spec.rb
  spec/services/payment_providers/upi_intent_service_spec.rb
Due: lint-staged, rubocop

fix: fail closed on Stripe status lookup
  app/models/stripe_connected_account.rb
  app/views/api/v1/invoices/view/show.json.jbuilder
  app/views/internal_api/v1/invoices/view/show.json.jbuilder
  spec/models/stripe_connected_account_spec.rb
  spec/requests/api/v1/invoices/view_spec.rb
Due: lint-staged, rubocop

feat: add desktop current timer API
  app/controllers/api/v1/desktop/current_timers_controller.rb
  app/models/desktop_current_timer.rb
  config/routes/api.rb
  db/migrate/20260428170000_create_desktop_current_timers.rb
  db/schema.rb
  spec/factories/desktop_current_timers.rb
  spec/requests/api/v1/desktop/current_timers_spec.rb
Due: lint-staged, rubocop

feat: add dashboard timer navbar controls
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Dashboard/DashboardTimerControl.tsx
Due: lint-staged

fix: return API token for desktop login
  app/controllers/concerns/auth_response_payload.rb
  spec/requests/api/v1/users/sessions/create_spec.rb
Due: lint-staged, rubocop

feat: add Razorpay invoice payments
  app/controllers/api/v1/invoices/payments_controller.rb
  app/controllers/api/v1/payment_settings_controller.rb
  app/controllers/invoices/payments_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/ClientInvoices/Details/Header.tsx
  app/javascript/src/components/ClientInvoices/Details/InvoiceDetails.tsx
  app/javascript/src/components/ClientInvoices/Details/MobileView/index.tsx
  app/javascript/src/components/ClientInvoices/Details/index.tsx
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/components/payments/Modals/constants.ts
  app/javascript/src/components/payments/PaymentFilters.tsx
  app/javascript/src/i18n/locales/en.ts
  app/models/invoice.rb
  app/models/payment.rb
  app/models/payments_provider.rb
  app/policies/payment_settings_policy.rb
  app/services/invoice_payment/razorpay_payment_link_fulfillment.rb
  app/services/payment_providers/razorpay_client.rb
  app/services/payment_providers/razorpay_payment_link_service.rb
  app/views/api/v1/invoices/view/show.json.jbuilder
  app/views/api/v1/payment_settings/index.json.jbuilder
  app/views/internal_api/v1/invoices/view/show.json.jbuilder
  config/routes.rb
  config/routes/api.rb
  spec/models/payments_provider_spec.rb
  spec/policies/payment_settings_policy_spec.rb
  spec/requests/api/v1/invoices/view_spec.rb
  spec/requests/api/v1/payment_settings/index_spec.rb
  spec/requests/invoices/payments_controller_spec.rb
  spec/services/invoice_payment/razorpay_payment_link_fulfillment_spec.rb
  spec/services/payment_providers/razorpay_payment_link_service_spec.rb
Due: lint-staged, rubocop

fix: pass Razorpay success provider
  app/controllers/api/v1/invoices/payments_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/payments/Success/index.tsx
  spec/requests/api/v1/invoices/payments/success_spec.rb
Due: lint-staged, rubocop

feat: add Razorpay SDK webhooks and payouts
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/payment_settings_controller.rb
  app/controllers/webhooks/razorpay_controller.rb
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  app/models/payments_provider.rb
  app/services/invoice_payment/razorpay_payment_link_fulfillment.rb
  app/services/invoice_payment/razorpay_payment_link_webhook_fulfillment.rb
  app/services/payment_providers/razorpay_client.rb
  app/services/payment_providers/razorpay_upi_payout_service.rb
  app/views/api/v1/payment_settings/index.json.jbuilder
  config/routes.rb
  docs/ai/README.md
  docs/ai/razorpay.md
  spec/models/payments_provider_spec.rb
  spec/requests/api/v1/payment_settings/index_spec.rb
  spec/requests/webhooks/razorpay_controller_spec.rb
  spec/services/invoice_payment/razorpay_payment_link_fulfillment_spec.rb
  spec/services/invoice_payment/razorpay_payment_link_webhook_fulfillment_spec.rb
  spec/services/payment_providers/razorpay_client_spec.rb
  spec/services/payment_providers/razorpay_upi_payout_service_spec.rb
Due: lint-staged, rubocop

fix: update Razorpay lockfile constraint
  Gemfile.lock
Due: none

fix: simplify Razorpay payout service initializer
  app/services/payment_providers/razorpay_upi_payout_service.rb
  spec/services/payment_providers/razorpay_upi_payout_service_spec.rb
Due: lint-staged, rubocop

fix: install pnpm before docs cache setup
  .github/workflows/docs-site.yml
Due: none

fix: isolate docs PostCSS config
  docs/postcss.config.js
Due: lint-staged

style: fix React prettier warnings
  app/javascript/src/common/Error/index.tsx
  app/javascript/src/components/Clients/List/index.tsx
  app/javascript/src/components/Expenses/List/Container/Table/TableHeader.tsx
  app/javascript/src/components/Expenses/Modals/DeleteExpenseModal.tsx
  app/javascript/src/components/Invoices/Invoice/PaymentDetails.tsx
  app/javascript/src/components/Invoices/InvoiceSettings.tsx
  app/javascript/src/components/Invoices/List/BulkActionsWrapper/BulkActions.tsx
  app/javascript/src/components/Invoices/List/BulkActionsWrapper/index.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/InfiniteScrollRecentlyUpdated.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/index.tsx
  app/javascript/src/components/Invoices/RecentSales/index.tsx
  app/javascript/src/components/Invoices/popups/BulkDeleteInvoices.tsx
  app/javascript/src/components/Invoices/popups/ConnectPaymentGateway.tsx
  app/javascript/src/components/Invoices/popups/DeleteInvoice.tsx
  app/javascript/src/components/Invoices/popups/StripeDisabledInvoice.tsx
  app/javascript/src/components/OrganizationSetup/FinancialDetailsForm/MobileFinancialDetailForm.tsx
  app/javascript/src/components/OrganizationSetup/FinancialDetailsForm/index.tsx
  app/javascript/src/components/Projects/Details/EditMembersListForm.tsx
  app/javascript/src/components/Projects/Details/Mobile/MemberListForm.tsx
  app/javascript/src/components/Projects/List/Mobile/ProjectForm.tsx
  app/javascript/src/components/Reports/AccountsAgingReport/Filters/index.tsx
  app/javascript/src/components/Reports/Filters/ClientFilter.tsx
  app/javascript/src/components/Reports/Filters/DateRangeFilter.tsx
  app/javascript/src/components/Reports/Filters/GroupByFilter.tsx
  app/javascript/src/components/Reports/Filters/StatusFilter.tsx
  app/javascript/src/components/Reports/Header/index.tsx
  app/javascript/src/components/Reports/List/index.tsx
  app/javascript/src/components/Reports/TimeEntryReport/TimeEntryReportMobileView.tsx
  app/javascript/src/components/Subscriptions/PlanSelection/index.tsx
  app/javascript/src/components/Team/ResponsiveTeam.tsx
  app/javascript/src/components/Team/modals/DeleteMember.tsx
  app/javascript/src/components/TimeTracking/EmptyStatesMobileView.tsx
  app/javascript/src/components/TimeTracking/MobileView/MobileEntryForm.tsx
  app/javascript/src/components/TimeTracking/SelectProject.tsx
  app/javascript/src/components/common/CompactLocaleSwitcher.tsx
Due: lint-staged

fix(stripe): harden webhook sync and add setup docs
  app/services/handle_stripe_checkout_event_service.rb
  app/services/subscriptions/stripe_sync_service.rb
  docs/ai/README.md
  docs/ai/stripe.md
  docs/manual_tests/stripe-webhook-sync-regression-issue.md
Due: lint-staged, rubocop

feat: add Razorpay payouts
  app/controllers/api/v1/payments_controller.rb
  app/controllers/webhooks/razorpay_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Invoices/List/InvoiceListContent.tsx
  app/javascript/src/components/Invoices/List/PaymentSetupPrompt.tsx
  app/javascript/src/components/Invoices/List/index.tsx
  app/javascript/src/components/Invoices/popups/ConnectPaymentGateway.tsx
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/components/payments/PaymentsTable.tsx
  app/javascript/src/i18n/locales/en.ts
  app/jobs/razorpay_payout_job.rb
  app/models/company.rb
  app/models/payment.rb
  app/models/razorpay_payout.rb
  app/policies/payment_policy.rb
  app/presenters/payments_presenter.rb
  app/services/invoice_payment/razorpay_payment_link_fulfillment.rb
  app/services/invoice_payment/razorpay_payment_link_webhook_fulfillment.rb
  app/services/payment_providers/razorpay_payout_webhook_fulfillment.rb
  app/services/payment_providers/razorpay_withdrawal_service.rb
  config/routes.rb
  config/routes/api.rb
  db/migrate/20260429113000_create_razorpay_payouts.rb
  db/schema.rb
  spec/factories/razorpay_payouts.rb
  spec/policies/payment_policy_spec.rb
  spec/requests/api/v1/payments/index_spec.rb
  spec/requests/api/v1/payments/withdraw_spec.rb
  spec/requests/webhooks/razorpay_controller_spec.rb
  spec/services/invoice_payment/razorpay_payment_link_fulfillment_spec.rb
  spec/services/invoice_payment/razorpay_payment_link_webhook_fulfillment_spec.rb
  spec/services/payment_providers/razorpay_payout_webhook_fulfillment_spec.rb
  spec/services/payment_providers/razorpay_withdrawal_service_spec.rb
Due: lint-staged, rubocop

fix: handle hash stripe subscription payloads
  app/services/subscriptions/stripe_sync_service.rb
  spec/services/subscriptions/stripe_sync_service_spec.rb
Due: lint-staged, rubocop

feat: expand razorpay webhooks and onboarding
  CHANGELOG.md
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  app/models/invoice.rb
  app/services/invoice_payment/razorpay_payment_link_webhook_fulfillment.rb
  app/services/payment_providers/razorpay_payment_link_service.rb
  app/services/payment_providers/razorpay_payout_webhook_fulfillment.rb
  docs/ai/razorpay.md
  docs/product-guide/payments/02-razorpay.md
  spec/requests/webhooks/razorpay_controller_spec.rb
  spec/services/invoice_payment/razorpay_payment_link_webhook_fulfillment_spec.rb
  spec/services/payment_providers/razorpay_payout_webhook_fulfillment_spec.rb
Due: lint-staged, rubocop

test: cover razorpay webhook and payout edges
  spec/services/invoice_payment/razorpay_payment_link_webhook_fulfillment_spec.rb
  spec/services/payment_providers/razorpay_payment_link_service_spec.rb
  spec/services/payment_providers/razorpay_payout_webhook_fulfillment_spec.rb
  spec/services/payment_providers/razorpay_withdrawal_service_spec.rb
Due: lint-staged, rubocop

test: cover payment hot paths
  app/controllers/invoices/payments_controller.rb
  app/javascript/src/components/payments/PaymentsTable.tsx
  app/services/invoice_payment/razorpay_payment_link_webhook_fulfillment.rb
  spec/requests/api/v1/payment_settings/index_spec.rb
  spec/requests/invoices/payments_controller_spec.rb
  spec/requests/webhooks/stripe_controller_spec.rb
  spec/services/invoice_payment/razorpay_payment_link_webhook_fulfillment_spec.rb
  spec/services/payment_providers/razorpay_upi_payout_service_spec.rb
  spec/system/client_invoices/show_spec.rb
  spec/system/payments/list_spec.rb
  spec/system/settings/payment_spec.rb
Due: lint-staged, rubocop

fix: reduce razorpay webhook smell
  app/services/invoice_payment/razorpay_payment_link_webhook_fulfillment.rb
Due: lint-staged, rubocop

feat: add multiple web timers
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/utils/timeTrackingTimer.ts
  spec/system/time_tracking/add_entry_spec.rb
Due: lint-staged, rubocop

ci: update actions for node 24
  .github/workflows/docker-build.yml
  .github/workflows/docs-site.yml
  .github/workflows/reek.yml
  .github/workflows/validations.yml
Due: none

ci: rely on package manager pnpm version
  .github/workflows/docs-site.yml
  .github/workflows/validations.yml
Due: none

feat: add desktop app CTA to dashboard
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Dashboard/Sidebar.tsx
Due: lint-staged

test: make team presenter order assertions deterministic
  spec/presenters/team_presenter_spec.rb
Due: lint-staged, rubocop

test: expand fast coverage for app hot paths
  app/services/reports/time_entries/filter_service.rb
  spec/requests/api/v1/desktop/current_timers_spec.rb
  spec/requests/api/v1/invoices/create_spec.rb
  spec/requests/api/v1/timesheet_entries/create_spec.rb
  spec/services/reports/time_entries/filter_service_spec.rb
Due: lint-staged, rubocop

fix(stripe): harden webhook sync and billing state; document remaining webhook noise
  app/controllers/api/v1/payment_settings_controller.rb
  app/controllers/api/v1/subscriptions_controller.rb
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/models/company.rb
  app/services/handle_stripe_checkout_event_service.rb
  app/services/invoice_payment/stripe_checkout_fulfillment.rb
  app/services/invoice_payment/stripe_payment_succeeded.rb
  app/services/stripe/retrieve_payment_intent.rb
  app/services/stripe/retrieve_payment_method.rb
  app/services/subscriptions/stripe_sync_service.rb
  db/migrate/20260429130000_add_cancel_at_period_end_to_companies.rb
  db/schema.rb
  spec/requests/api/v1/payment_settings/connect_stripe_spec.rb
  spec/requests/webhooks/stripe_controller_spec.rb
Due: lint-staged, rubocop

test: cover timesheet mutation isolation
  app/controllers/api/v1/timesheet_entry/bulk_action_controller.rb
  spec/requests/api/v1/timesheet_entries/bulk_actions/destroy_spec.rb
  spec/requests/api/v1/timesheet_entries/bulk_actions/update_spec.rb
  spec/requests/api/v1/timesheet_entries/destroy_spec.rb
  spec/requests/api/v1/timesheet_entries/update_spec.rb
Due: lint-staged, rubocop

fix: address stripe billing review gaps
  app/controllers/api/v1/payment_settings_controller.rb
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/services/handle_stripe_checkout_event_service.rb
  app/services/invoice_payment/stripe_checkout_fulfillment.rb
  config/locales/en.yml
  spec/requests/webhooks/stripe_controller_spec.rb
  spec/services/invoice_payment/stripe_checkout_fulfillment_intent_validation_spec.rb
Due: lint-staged, rubocop

feat: sync web timers with MiruTime state
  app/controllers/api/v1/desktop/current_timers_controller.rb
  app/javascript/src/components/Dashboard/DashboardTimerControl.tsx
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/utils/timeTrackingTimer.ts
  spec/requests/api/v1/desktop/current_timers_spec.rb
  spec/system/time_tracking/add_entry_spec.rb
Due: lint-staged, rubocop

Add mobile API endpoints
  app/controllers/api/v1/mobile/bootstrap_controller.rb
  app/controllers/api/v1/mobile/current_timers_controller.rb
  config/initializers/cors.rb
  config/routes/api.rb
  spec/requests/api/v1/mobile/bootstrap_spec.rb
  spec/requests/api/v1/mobile/current_timers_spec.rb
Due: lint-staged, rubocop

Add mobile Razorpay payment links
  app/controllers/api/v1/invoices_controller.rb
  app/controllers/api/v1/payment_settings_controller.rb
  app/models/payments_provider.rb
  app/policies/invoice_policy.rb
  app/services/payment_providers/razorpay_client.rb
  app/services/payment_providers/razorpay_payment_link_service.rb
  app/views/api/v1/invoices/index.json.jbuilder
  app/views/api/v1/payment_settings/index.json.jbuilder
  config/routes/api.rb
  spec/requests/api/v1/invoices/razorpay_payment_link_spec.rb
  spec/requests/api/v1/payment_settings/index_spec.rb
  spec/services/payment_providers/razorpay_client_spec.rb
  spec/services/payment_providers/razorpay_payment_link_service_spec.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
