Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

fix(invoices): show manual line item names in preview
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  spec/system/invoices/create_spec.rb
Due: lint-staged, rubocop

fix(reports): align stable report entrypoints
  app/javascript/src/components/Reports/PaymentReport/CleanPaymentReport.tsx
  app/javascript/src/components/Reports/PaymentReport/index.tsx
  app/javascript/src/components/Reports/TimeEntryReport/utils.ts
  app/javascript/src/constants/routes.ts
Due: lint-staged

fix(mailers): use shared sender and refine layout
  app/mailers/invoice_mailer.rb
  app/views/layouts/mailer.html.erb
  spec/mailers/invoice_mailer_spec.rb
Due: lint-staged, rubocop

fix(mailers): center logo in light layout
  app/views/layouts/mailer.html.erb
Due: none

refactor(mailers): simplify email hierarchy
  app/views/invoice_mailer/send_invoice.html.erb
  app/views/layouts/mailer.html.erb
  app/views/mailers/client_payment_mailer/payment.html.erb
  app/views/mailers/expense_mailer/approved.html.erb
  app/views/mailers/expense_mailer/paid.html.erb
  app/views/mailers/expense_mailer/rejected.html.erb
  app/views/mailers/expense_mailer/submitted.html.erb
  app/views/mailers/invoice_mailer/invoice.html.erb
  app/views/mailers/payment_mailer/payment.html.erb
  app/views/mailers/send_payment_reminder_mailer/send_payment_reminder.html.erb
  app/views/mailers/send_reminder_mailer/send_reminder.html.erb
  app/views/mailers/send_weekly_reminder_to_user_mailer/notify_user_about_missed_entries.html.erb
  app/views/mailers/user_invitation_mailer/send_user_invitation.html.erb
  app/views/shared/mailer/_fact_rows.html.erb
Due: none

refactor(mailers): apply shadcn-inspired email layout
  app/views/invoice_mailer/send_invoice.html.erb
  app/views/layouts/mailer.html.erb
  app/views/mailers/client_payment_mailer/payment.html.erb
  app/views/mailers/invoice_mailer/invoice.html.erb
  app/views/mailers/payment_mailer/payment.html.erb
  app/views/mailers/send_reminder_mailer/send_reminder.html.erb
  app/views/mailers/user_invitation_mailer/send_user_invitation.html.erb
  config/locales/en.yml
  config/locales/gu.yml
  config/locales/te.yml
  public/miruLogoWithText.svg
  spec/mailers/invoice_mailer_spec.rb
  spec/mailers/previews/rendering_spec.rb
  spec/mailers/send_reminder_mailer_spec.rb
  spec/mailers/user_invitation_mailer_spec.rb
Due: lint-staged, rubocop

style(mailers): sharpen premium white layout
  app/views/layouts/mailer.html.erb
Due: none

style(mailers): tighten premium white layout
  app/views/layouts/mailer.html.erb
Due: none

fix(invoices): preserve edit saves and client invoice sequencing
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/services/invoiceApi.ts
  app/models/client.rb
  spec/requests/api/v1/clients/index_spec.rb
Due: lint-staged, rubocop

fix(invoices): support public invoice client routes
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/constants/index.tsx
Due: lint-staged

test(mailers): align specs with current sender and copy
  spec/mailers/send_weekly_reminder_to_user_mailer_spec.rb
  spec/services/invoice_payment/pdf_email_spec.rb
Due: lint-staged, rubocop

chore(demo): add production demo matrix bootstrap
  script/production_demo/ensure_matrix.rb
Due: lint-staged, rubocop

fix(invoices): auto-generate first invoice numbers
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  spec/system/invoices/create_spec.rb
Due: lint-staged, rubocop

docs: update changelog for falcon and spec stabilization
  CHANGELOG.md
Due: none

fix: Gemfile & Gemfile.lock to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Due: none

test: stabilize pdf and report ci specs
  spec/services/pdf_generation/invoice_service_spec.rb
  spec/services/reports/time_entries/download_service_spec.rb
Due: lint-staged, rubocop

chore: add path-filtered reek checks
  .github/workflows/reek.yml
  .reek.yml
  Gemfile
  Gemfile.lock
Due: none

refactor: align invoice mailer and pdf presentation
  app/mailers/invoice_mailer.rb
  app/models/invoice.rb
  app/presenters/invoice_line_item_presenter.rb
  app/services/invoice_payment/pdf_generation.rb
  app/services/pdf_generation/invoice_service.rb
  app/views/invoice_mailer/send_invoice.html.erb
  app/views/mailers/invoice_mailer/invoice.html.erb
  app/views/pdfs/invoices.html.erb
  app/views/shared/mailer/_invoice_snapshot.html.erb
Due: lint-staged, rubocop

refactor: centralize discardable models and timesheet audits
  app/models/carryover.rb
  app/models/client.rb
  app/models/client_member.rb
  app/models/concerns/discardable.rb
  app/models/employment.rb
  app/models/expense.rb
  app/models/holiday.rb
  app/models/holiday_info.rb
  app/models/invoice.rb
  app/models/leave.rb
  app/models/leave_type.rb
  app/models/project.rb
  app/models/project_member.rb
  app/models/timeoff_entry.rb
  app/models/timesheet_entry.rb
  app/models/user.rb
  spec/models/employment_spec.rb
  spec/models/timesheet_entry_spec.rb
Due: lint-staged, rubocop

fix: support multi-currency invoice editor and draft responses
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/common/InvoiceTable/index.tsx
  app/javascript/src/components/Invoices/common/ManualEntry/index.tsx
  app/models/invoice.rb
  app/views/api/v1/invoices/_invoice.json.jbuilder
  app/views/internal_api/v1/partial/_invoice.json.jbuilder
  spec/models/client_spec.rb
  spec/requests/api/v1/invoices/create_spec.rb
  spec/requests/api/v1/invoices/show_spec.rb
  spec/support/invoice_editor_system_helpers.rb
  spec/system/invoices/create_spec.rb
  spec/system/invoices/edit_spec.rb
Due: lint-staged, rubocop

test: stabilize invoice PDF service spec fixtures
  spec/services/pdf_generation/invoice_service_spec.rb
Due: lint-staged, rubocop

fix(profile): render saved date of birth
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  app/javascript/src/components/Profile/Personal/User/MobilePersonalDetails.tsx
  app/javascript/src/components/Profile/Personal/User/PersonalProfileSummary.tsx
  app/javascript/src/components/Profile/index.tsx
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

fix(invoices): sync totals and polish previews
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/models/invoice.rb
  app/models/invoice_line_item.rb
  app/views/pdfs/invoices.html.erb
  lib/tasks/invoices.rake
  spec/models/invoice_spec.rb
  spec/system/expenses/index_spec.rb
  spec/system/invoices/details_spec.rb
  spec/tasks/invoices_rake_spec.rb
Due: lint-staged, rubocop

fix(profile): hydrate settings profile from user context
  app/javascript/src/components/Profile/Layout/Navigation/UserInformation.tsx
  app/javascript/src/components/Profile/Personal/User/index.tsx
  app/javascript/src/components/Profile/index.tsx
Due: lint-staged

test: harden parallel PDF and spec fixtures
  AGENTS.md
  app/services/pdf_generation/base_service.rb
  spec/factories/users.rb
  spec/models/project_spec.rb
  spec/requests/api/v1/addresses/index_spec.rb
  spec/services/bulk_previous_employment_service_spec.rb
  spec/services/pdf_generation/base_service_spec.rb
Due: lint-staged, rubocop

feat(holidays): add year view and holiday schedule
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
  spec/system/settings/holidays_spec.rb
Due: lint-staged, rubocop

test: fix CI timeout expectations for PDF base service
  spec/services/pdf_generation/base_service_spec.rb
Due: lint-staged, rubocop

feat: support multiple invoice recipients and client primary email
  app/javascript/src/components/Clients/ClientForm/ClientEditor.tsx
  app/javascript/src/components/Clients/ClientForm/MobileClientEditor.tsx
  app/javascript/src/components/Clients/ClientForm/formValidationSchema.ts
  app/javascript/src/components/Clients/ClientForm/utils.ts
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/List/Table/TableRow.tsx
  app/javascript/src/components/Invoices/common/InvoiceForm/SendInvoice/index.tsx
  app/javascript/src/components/Invoices/common/InvoiceForm/SendInvoice/utils.tsx
  app/javascript/src/components/Invoices/common/SendInvoiceContainer/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  spec/requests/api/v1/clients/create_spec.rb
  spec/requests/api/v1/clients/update_spec.rb
  spec/system/clients/edit_dialog_spec.rb
  spec/system/shared_examples/invoices/send_invoice.rb
Due: lint-staged, rubocop

fix: support custom expense categories
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/Expenses/Modals/ExpenseForm.tsx
  spec/system/expenses/index_spec.rb
Due: lint-staged, rubocop

feat: add workspace switcher to dashboard sidebar
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Dashboard/Sidebar.tsx
  spec/system/dashboard/workspace_switch_spec.rb
Due: lint-staged, rubocop

fix(invoices): hydrate editor preview and hide client financial fields
  app/controllers/api/v1/users_controller.rb
  app/controllers/concerns/auth_response_payload.rb
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/common/InvoiceTable/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/services/invoiceApi.ts
  app/views/api/v1/invoices/_invoice.json.jbuilder
  app/views/api/v1/invoices/show.json.jbuilder
  app/views/api/v1/invoices/view/show.json.jbuilder
  app/views/internal_api/v1/partial/_company.json.jbuilder
  spec/requests/api/v1/invoices/create_spec.rb
  spec/requests/api/v1/invoices/show_spec.rb
  spec/requests/api/v1/invoices/update_spec.rb
  spec/requests/api/v1/invoices/view_spec.rb
  spec/requests/api/v1/users/me_spec.rb
  spec/system/invoices/create_spec.rb
Due: lint-staged, rubocop
