Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

v3.0.2 fix: allow permitted PTO actions (#2430)
  CHANGELOG.md
  VERSION
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/policies/timeoff_entry_policy.rb
  app/views/api/v1/time_tracking/index.json.jbuilder
  app/views/api/v1/timesheet_entry/index.json.jbuilder
  package.json
  spec/system/time_tracking/views_spec.rb
Due: lint-staged, rubocop

v3.0.2 deploy: allow permitted PTO actions (#2431)
  CHANGELOG.md
  VERSION
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/policies/timeoff_entry_policy.rb
  app/views/api/v1/time_tracking/index.json.jbuilder
  app/views/api/v1/timesheet_entry/index.json.jbuilder
  package.json
  spec/system/time_tracking/views_spec.rb
Due: lint-staged, rubocop

fix: keep Harvest import names distinct
  CHANGELOG.md
  app/services/imports/harvest_time_entries_importer.rb
  spec/services/imports/harvest_time_entries_importer_spec.rb
Due: lint-staged, rubocop

chore: release v3.0.3
  CHANGELOG.md
  VERSION
  package.json
Due: lint-staged

fix: stabilize Harvest names across imports
  app/services/imports/harvest_time_entries_importer.rb
  spec/services/imports/harvest_time_entries_importer_spec.rb
Due: lint-staged, rubocop

fix: normalize Harvest import identities
  app/services/imports/harvest_time_entries_importer.rb
  spec/services/imports/harvest_time_entries_importer_spec.rb
Due: lint-staged, rubocop

fix: preserve legacy Harvest import identities
  CHANGELOG.md
  app/services/imports/harvest_time_entries_importer.rb
  spec/services/imports/harvest_time_entries_importer_spec.rb
Due: lint-staged, rubocop

v3.0.3: keep Harvest import names distinct (#2432)
  CHANGELOG.md
  VERSION
  app/services/imports/harvest_time_entries_importer.rb
  package.json
  spec/services/imports/harvest_time_entries_importer_spec.rb
Due: lint-staged, rubocop

docs: add QuickBooks setup guide
  docs/product-guide/payments/03-quickbooks.md
Due: none

docs: clarify QuickBooks sync boundaries
  docs/product-guide/payments/03-quickbooks.md
Due: none

docs: explain QuickBooks disconnect jobs
  docs/product-guide/payments/03-quickbooks.md
Due: none

docs: add QuickBooks Online setup guide (#2434)
  docs/product-guide/payments/03-quickbooks.md
Due: none

fix: stop the remaining production 500s reported by Sentry
  app/controllers/application_controller.rb
  app/jobs/database_backup_job.rb
  app/models/timesheet_entry.rb
  app/services/database_backup_service.rb
  config/initializers/encoding_sanitizer.rb
  config/initializers/rack_attack.rb
  spec/jobs/database_backup_job_spec.rb
  spec/middleware/encoding_sanitizer_spec.rb
  spec/models/timesheet_entry_spec.rb
  spec/requests/api/v1/cli/timesheet_entries/create_spec.rb
  spec/requests/forgery_protection_spec.rb
  spec/requests/rack_attack_multipart_spec.rb
Due: lint-staged, rubocop

Retry only transient S3 errors and test the throttle block directly
  app/jobs/database_backup_job.rb
  spec/requests/rack_attack_multipart_spec.rb
Due: lint-staged, rubocop

fix: stop the remaining production 500s reported by Sentry (#2435)
  app/controllers/application_controller.rb
  app/jobs/database_backup_job.rb
  app/models/timesheet_entry.rb
  app/services/database_backup_service.rb
  config/initializers/encoding_sanitizer.rb
  config/initializers/rack_attack.rb
  spec/jobs/database_backup_job_spec.rb
  spec/middleware/encoding_sanitizer_spec.rb
  spec/models/timesheet_entry_spec.rb
  spec/requests/api/v1/cli/timesheet_entries/create_spec.rb
  spec/requests/forgery_protection_spec.rb
  spec/requests/rack_attack_multipart_spec.rb
Due: lint-staged, rubocop

v3.0.4: release notes for the Sentry fixes
  CHANGELOG.md
  VERSION
Due: none

v3.0.4: release notes for the Sentry fixes (#2436)
  CHANGELOG.md
  VERSION
Due: none

docs: add PayPal invoice payments design and provider prioritization
  docs/superpowers/specs/2026-09-12-paypal-invoice-payments-design.md
Due: none

feat(payments): add PayPal provider settings and REST client
  app/models/invoice.rb
  app/models/payments_provider.rb
  app/services/payment_providers/paypal_amount.rb
  app/services/payment_providers/paypal_client.rb
  app/services/payment_providers/paypal_connection_service.rb
  spec/factories/payments_providers.rb
  spec/models/payments_provider_spec.rb
  spec/services/payment_providers/paypal_amount_spec.rb
  spec/services/payment_providers/paypal_client_spec.rb
  spec/services/payment_providers/paypal_connection_service_spec.rb
Due: lint-staged, rubocop

feat(payments): create, capture, and reconcile PayPal invoice orders
  app/controllers/invoices/payments_controller.rb
  app/controllers/webhooks/paypal_controller.rb
  app/services/invoice_payment/paypal_capture_fulfillment.rb
  app/services/invoice_payment/paypal_webhook_fulfillment.rb
  app/services/payment_providers/paypal_order_service.rb
  app/views/api/v1/invoices/view/show.json.jbuilder
  config/routes.rb
  spec/requests/api/v1/invoices/view_spec.rb
  spec/requests/invoices/payments_controller_spec.rb
  spec/requests/webhooks/paypal_controller_spec.rb
  spec/services/invoice_payment/paypal_capture_fulfillment_spec.rb
  spec/services/invoice_payment/paypal_webhook_fulfillment_spec.rb
  spec/services/payment_providers/paypal_order_service_spec.rb
Due: lint-staged, rubocop

feat(payments): add PayPal settings API and payment settings card
  app/controllers/api/v1/payment_settings_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  app/policies/payment_settings_policy.rb
  app/views/api/v1/payment_settings/index.json.jbuilder
  config/routes/api.rb
  spec/requests/api/v1/payment_settings_controller_spec.rb
Due: lint-staged, rubocop

feat(payments): offer Pay with PayPal on public and client invoices
  app/javascript/src/components/ClientInvoices/Details/Header.tsx
  app/javascript/src/components/ClientInvoices/Details/MobileView/index.tsx
  app/javascript/src/components/ClientInvoices/Details/index.tsx
  app/javascript/src/components/InvoiceEmail/Header.tsx
  app/javascript/src/components/InvoiceEmail/index.tsx
  app/javascript/src/components/Invoices/List/index.tsx
Due: lint-staged

docs: add PayPal setup guide, changelog entry, and implementation plan
  CHANGELOG.md
  docs/product-guide/payments/04-paypal.md
  docs/superpowers/plans/2026-09-12-paypal-invoice-payments.md
Due: none

fix(payments): harden the PayPal capture, webhook, and connection paths
  app/controllers/api/v1/invoices/payments_controller.rb
  app/controllers/invoices/payments_controller.rb
  app/controllers/webhooks/paypal_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/ClientInvoices/Details/MobileView/index.tsx
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  app/models/payments_provider.rb
  app/services/invoice_payment/paypal_capture_fulfillment.rb
  app/services/invoice_payment/paypal_webhook_fulfillment.rb
  app/services/invoices/event_tracker_service.rb
  app/services/payment_providers/paypal_amount.rb
  app/services/payment_providers/paypal_client.rb
  app/services/payment_providers/paypal_connection_service.rb
  app/views/api/v1/payment_settings/index.json.jbuilder
  config/initializers/rack_attack.rb
  docs/product-guide/payments/04-paypal.md
  spec/requests/invoices/payments_controller_spec.rb
  spec/requests/webhooks/paypal_controller_spec.rb
  spec/services/invoice_payment/paypal_capture_fulfillment_spec.rb
  spec/services/invoice_payment/paypal_webhook_fulfillment_spec.rb
  spec/services/payment_providers/paypal_amount_spec.rb
  spec/services/payment_providers/paypal_client_spec.rb
  spec/services/payment_providers/paypal_connection_service_spec.rb
Due: lint-staged, rubocop

perf(payments): call PayPal before locking the invoice row
  app/services/invoice_payment/paypal_capture_fulfillment.rb
Due: lint-staged, rubocop

fix(payments): close the review gaps on the PayPal failure paths
  app/controllers/api/v1/invoices/payments_controller.rb
  app/controllers/invoices/payments_controller.rb
  app/controllers/webhooks/paypal_controller.rb
  app/javascript/src/components/ClientInvoices/Details/Header.tsx
  app/javascript/src/components/ClientInvoices/Details/MobileView/index.tsx
  app/javascript/src/components/InvoiceEmail/Header.tsx
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  app/services/invoice_payment/paypal_capture_fulfillment.rb
  app/services/invoice_payment/paypal_webhook_fulfillment.rb
  app/services/payment_providers/paypal_connection_service.rb
  app/views/api/v1/invoices/view/show.json.jbuilder
  app/views/invoices/payments/cancel.html.erb
  spec/requests/invoices/payments_controller_spec.rb
  spec/services/invoice_payment/paypal_webhook_fulfillment_spec.rb
  spec/services/payment_providers/paypal_connection_service_spec.rb
Due: lint-staged, rubocop

fix(payments): apply the review follow-ups on PayPal retries and the settings card
  app/controllers/invoices/payments_controller.rb
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/services/invoice_payment/paypal_capture_fulfillment.rb
  app/services/invoice_payment/paypal_webhook_fulfillment.rb
  app/services/payment_providers/paypal_amount.rb
  app/services/payment_providers/paypal_client.rb
  app/services/payment_providers/paypal_connection_service.rb
  spec/requests/webhooks/paypal_controller_spec.rb
  spec/services/invoice_payment/paypal_webhook_fulfillment_spec.rb
Due: lint-staged, rubocop

refactor(payments): split the PayPal capture into named steps
  app/services/invoice_payment/paypal_capture_fulfillment.rb
Due: lint-staged, rubocop

fix(payments): harden PayPal invoice flow
  app/controllers/api/v1/payment_settings_controller.rb
  app/controllers/concerns/authenticable.rb
  app/controllers/invoices/payments_controller.rb
  app/controllers/webhooks/paypal_controller.rb
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/models/payments_provider.rb
  app/services/invoice_payment/paypal_capture_fulfillment.rb
  app/services/invoice_payment/paypal_webhook_fulfillment.rb
  app/services/payment_providers/paypal_amount.rb
  app/services/payment_providers/paypal_client.rb
  app/services/payment_providers/paypal_connection_service.rb
  app/services/payment_providers/paypal_order_service.rb
  app/views/api/v1/invoices/view/show.json.jbuilder
  app/views/invoices/payments/cancel.html.erb
  config/initializers/rack_attack.rb
  docs/product-guide/payments/04-paypal.md
  spec/models/payments_provider_spec.rb
  spec/requests/api/v1/invoices/view_spec.rb
  spec/requests/api/v1/payment_settings_controller_spec.rb
  spec/requests/invoices/payments_controller_spec.rb
  spec/requests/rack_attack_multipart_spec.rb
  spec/services/invoice_payment/paypal_capture_fulfillment_spec.rb
  spec/services/invoice_payment/paypal_webhook_fulfillment_spec.rb
  spec/services/payment_providers/paypal_amount_spec.rb
  spec/services/payment_providers/paypal_client_spec.rb
  spec/services/payment_providers/paypal_connection_service_spec.rb
  spec/services/payment_providers/paypal_order_service_spec.rb
  spec/system/settings/payment_spec.rb
Due: lint-staged, rubocop

fix(payments): reconcile interrupted PayPal captures
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/services/invoice_payment/paypal_capture_fulfillment.rb
  docs/product-guide/payments/04-paypal.md
  spec/services/invoice_payment/paypal_capture_fulfillment_spec.rb
  spec/system/settings/payment_spec.rb
Due: lint-staged, rubocop

chore: bump version and changelog (v3.0.5)
  CHANGELOG.md
  VERSION
  package.json
Due: lint-staged

fix(payments): preserve PayPal enabled state
  app/controllers/api/v1/payment_settings_controller.rb
  spec/requests/api/v1/payment_settings_controller_spec.rb
Due: lint-staged, rubocop

test(payments): cover PayPal release paths
  spec/requests/rack_attack_multipart_spec.rb
  spec/services/payment_providers/paypal_client_spec.rb
  spec/system/client_invoices/show_spec.rb
Due: lint-staged, rubocop

docs: sync PayPal payment documentation
  README.md
  docs/product-guide/payments/01-payments.md
  docs/product-guide/payments/04-paypal.md
Due: none

feat(events): add rails_event_viewer dashboard
  Gemfile
  Gemfile.lock
  config/initializers/rails_event_viewer.rb
  config/routes.rb
  db/migrate/20260930174750_create_rails_event_viewer_entries.rb
  db/schema.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
