Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

fix: show paid customers as Paid and block double-charge on checkout
  app/controllers/api/v1/subscriptions_controller.rb
  app/models/company.rb
  config/locales/en.yml
  spec/models/company_spec.rb
  spec/requests/api/v1/subscriptions/checkout_spec.rb
Due: lint-staged, rubocop

fix: keep trial_started_at on upgrade so a used trial can't repeat
  app/models/company.rb
  spec/models/company_spec.rb
Due: lint-staged, rubocop

style: add frozen_string_literal comment to checkout_spec
  spec/requests/api/v1/subscriptions/checkout_spec.rb
Due: lint-staged, rubocop

fix: confirm real paid state after checkout instead of stale success banner
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix: surface an error (not an endless skeleton) when post-checkout polling never loads
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
Due: lint-staged

fix: update vulnerable frontend dependencies
  package.json
  pnpm-lock.yaml
Due: lint-staged

fix: prevent mobile collection account takeover
  app/controllers/api/v1/mobile/collections_controller.rb
  spec/requests/api/v1/mobile/collections/create_spec.rb
Due: lint-staged, rubocop

fix: restrict owner invitations to owners
  app/controllers/api/v1/invitations_controller.rb
  app/policies/invitation_policy.rb
  spec/requests/api/v1/invitations/create_spec.rb
  spec/requests/api/v1/invitations/update_spec.rb
Due: lint-staged, rubocop

fix: revoke stale CLI sessions
  app/models/cli_session.rb
  spec/models/cli_session_spec.rb
Due: lint-staged, rubocop

fix: scope time entry reports to company
  app/services/reports/time_entries/report_service.rb
  spec/requests/api/v1/reports/time_entries_controller_spec.rb
Due: lint-staged, rubocop

fix: scope client payment reminders
  app/controllers/api/v1/clients_controller.rb
  app/mailers/send_payment_reminder_mailer.rb
  spec/mailers/previews/send_payment_reminder_preview.rb
  spec/mailers/send_payment_reminder_mailer_spec.rb
  spec/requests/api/v1/clients/send_payment_reminder_spec.rb
Due: lint-staged, rubocop

fix: prevent default production seed credentials
  bin/deploy-hetzner
  db/seeds.rb
  db/seeds/timesheet_data.rb
  lib/tasks/timesheet_data.rake
  spec/db/seeds_spec.rb
Due: lint-staged, rubocop

fix: close remaining security boundary gaps
  app/controllers/api/v1/clients_controller.rb
  app/controllers/api/v1/invitations_controller.rb
  db/seeds.rb
  spec/db/seeds_spec.rb
  spec/mailers/send_payment_reminder_mailer_spec.rb
  spec/requests/api/v1/cli/capabilities/show_spec.rb
  spec/requests/api/v1/clients/send_payment_reminder_spec.rb
  spec/requests/api/v1/invitations/create_spec.rb
  spec/requests/api/v1/invitations/update_spec.rb
  spec/requests/api/v1/mobile/collections/create_spec.rb
  spec/requests/api/v1/reports/time_entries_controller_spec.rb
Due: lint-staged, rubocop

fix: close post-scan authorization gaps
  app/controllers/api/v1/invitations_controller.rb
  app/controllers/api/v1/mobile/collections_controller.rb
  app/models/user.rb
  app/policies/invitation_policy.rb
  spec/requests/api/v1/invitations/update_spec.rb
  spec/requests/api/v1/mobile/collections/create_spec.rb
  spec/requests/api/v1/users/passwords/update_spec.rb
Due: lint-staged, rubocop

fix: bind CLI sessions to authentication state
  app/controllers/api/v1/mobile/collections_controller.rb
  app/models/cli_session.rb
  app/models/user.rb
  db/migrate/20260729000000_add_auth_state_digest_to_cli_sessions.rb
  db/schema.rb
  db/seeds.rb
  spec/db/seeds_spec.rb
  spec/models/cli_session_spec.rb
  spec/requests/api/v1/mobile/collections/create_spec.rb
Due: lint-staged, rubocop

feat: in-app trial countdown and trial-ended banner to drive upgrades
  app/controllers/concerns/auth_response_payload.rb
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/common/TrialBanner/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/types/company.ts
  spec/requests/api/v1/users/me_spec.rb
Due: lint-staged, rubocop

fix: derive trial banner state from company columns, not server methods
  app/javascript/src/components/common/TrialBanner/index.tsx
Due: lint-staged

fix: fulfill Stripe payment-link checkouts via client_reference_id
  app/services/handle_stripe_checkout_event_service.rb
  spec/requests/webhooks/stripe_controller_spec.rb
Due: lint-staged, rubocop

fix: read Stripe metadata safely and reject cross-customer checkouts
  app/services/handle_stripe_checkout_event_service.rb
  spec/requests/webhooks/stripe_controller_spec.rb
Due: lint-staged, rubocop

fix: address trial banner review feedback
  app/javascript/src/components/common/TrialBanner/index.tsx
  spec/requests/api/v1/users/me_spec.rb
Due: lint-staged, rubocop

feat: track signup attribution
  app/controllers/api/v1/users/registrations_controller.rb
  app/javascript/src/components/Authentication/SignUp/SignUpForm.tsx
  app/services/analytics/tracking_service.rb
  spec/requests/api/v1/users/registrations/create_spec.rb
Due: lint-staged, rubocop

feat: email companies once when their Pro trial expires
  app/jobs/trial_emails_job.rb
  app/mailers/subscription_mailer.rb
  app/views/subscription_mailer/trial_expired.html.erb
  app/views/subscription_mailer/trial_expired.text.erb
  db/migrate/20260729160113_add_trial_expired_email_sent_at_to_companies.rb
  db/schema.rb
  spec/jobs/trial_emails_job_spec.rb
  spec/mailers/subscription_mailer_spec.rb
Due: lint-staged, rubocop

fix: update Rails for Active Storage advisory
  Gemfile.lock
Due: none

fix: bump Rails to 8.1.3.1 for Active Storage RCE advisory
  Gemfile.lock
Due: none

fix: bump ruby-vips to 2.3.0 so patched Active Storage boots in the image
  Gemfile.lock
Due: none

fix: sanitize ZIP entry names
  lib/zipper.rb
  spec/lib/zipper_spec.rb
Due: lint-staged, rubocop

fix: do not mark trial-expired email sent when there are no recipients
  app/jobs/trial_emails_job.rb
  spec/jobs/trial_emails_job_spec.rb
Due: lint-staged, rubocop

fix: neutralize spreadsheet formulas in CSV exports
  app/controllers/api/v1/payments_controller.rb
  app/controllers/api/v1/reports/payments_controller.rb
  app/services/reports/generate_csv.rb
  spec/requests/api/v1/payments/bulk_download_spec.rb
  spec/services/reports/generate_csv_spec.rb
Due: lint-staged, rubocop

fix: update ruby-vips for safe variant processing
  Gemfile.lock
Due: none

fix: prevent OTP account enumeration
  app/services/mobile_otp/login_challenge.rb
  spec/requests/api/v1/mobile/otps_spec.rb
  spec/requests/api/v1/users/otps_spec.rb
Due: lint-staged, rubocop

fix: scope invoice line item filters
  app/services/generate_invoice/new_line_items_service.rb
  spec/requests/api/v1/invoices/line_items/index_spec.rb
Due: lint-staged, rubocop

fix: scope bulk invoice downloads to company
  app/jobs/bulk_invoice_download_job.rb
  app/models/bulk_invoice_download_status.rb
  db/migrate/20260729000100_scope_bulk_download_ids_to_company.rb
  db/schema.rb
  spec/jobs/bulk_invoice_download_job_spec.rb
Due: lint-staged, rubocop

fix: scope project member updates
  app/controllers/api/v1/project_members_controller.rb
  app/services/project_member_service.rb
  spec/requests/api/v1/project_members/update_spec.rb
Due: lint-staged, rubocop

fix: restrict employee time tracking views
  app/controllers/api/v1/time_tracking_controller.rb
  spec/requests/api/v1/time_tracking/index_spec.rb
Due: lint-staged, rubocop

fix: scope invoice action trails
  app/controllers/api/v1/invoices/action_trails_controller.rb
  app/policies/invoices/action_trails_policy.rb
  app/services/invoices/action_trails_service.rb
  spec/policies/invoices/action_trails_policy_spec.rb
  spec/requests/api/v1/invoices/action_trails_spec.rb
Due: lint-staged, rubocop

fix: limit public invoice fields
  app/views/api/v1/invoices/view/show.json.jbuilder
  spec/requests/api/v1/invoices/view_spec.rb
Due: lint-staged, rubocop

feat: tease Reports as a Pro upsell instead of hiding it
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/components/Reports/AccessGate.tsx
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix: require invoice bearer keys for checkout
  app/controllers/api/v1/invoices_controller.rb
  app/controllers/api/v1/mobile/collections_controller.rb
  app/controllers/invoices/payments_controller.rb
  app/views/api/v1/invoices/view/show.json.jbuilder
  app/views/internal_api/v1/invoices/view/show.json.jbuilder
  app/views/invoices/payments/cancel.html.erb
  spec/requests/api/v1/invoices/razorpay_payment_link_spec.rb
  spec/requests/api/v1/mobile/collections/create_spec.rb
  spec/requests/invoices/payments_controller_spec.rb
Due: lint-staged, rubocop

fix: validate Google Calendar OAuth state
  app/controllers/api/v1/calendars_controller.rb
  spec/requests/api/v1/calendars_spec.rb
Due: lint-staged, rubocop

fix: prevent payout webhook regressions
  app/services/payment_providers/razorpay_payout_webhook_fulfillment.rb
  spec/services/payment_providers/razorpay_payout_webhook_fulfillment_spec.rb
Due: lint-staged, rubocop
