Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

Address adversarial review findings
  app/controllers/api/v1/payments_controller.rb
  app/controllers/api/v1/reports/payments_controller.rb
  app/javascript/src/StyledComponents/Switch.tsx
  app/javascript/src/components/Invoices/popups/BulkDeleteInvoices.tsx
  app/models/payment.rb
  app/policies/bulk_previous_employment_policy.rb
  app/services/currency_conversion_service.rb
  spec/requests/api/v1/bulk_previous_employments/update_spec.rb
Due: lint-staged, rubocop

fix: resolve actionable Sentry errors
  app/controllers/api/v1/clients_controller.rb
  app/controllers/api/v1/time_tracking_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/models/client.rb
  app/services/timeoff_entries/holiday_balance_service.rb
  config/initializers/devise.rb
  config/initializers/encoding_sanitizer.rb
  config/routes.rb
  spec/middleware/encoding_sanitizer_spec.rb
  spec/requests/api/v1/clients/create_spec.rb
  spec/requests/api/v1/clients/update_spec.rb
  spec/requests/api/v1/time_tracking/index_spec.rb
  spec/requests/api/v1/users/sessions/destroy_spec.rb
  spec/requests/home/index_spec.rb
  spec/requests/workspaces/update_spec.rb
  spec/services/clients/index_service_spec.rb
  spec/services/timeoff_entries/balance_summary_service_spec.rb
Due: lint-staged, rubocop

chore: remove orphaned frontend components and utilities
  app/javascript/src/components/ClientInvoices/Details/PayOnlineMenu.tsx
  app/javascript/src/components/Expenses/List/Container/ExpensesSummary.tsx
  app/javascript/src/components/Expenses/List/ExpenseListContent.tsx
  app/javascript/src/components/InvoiceEmail/PayOnlineMenu.tsx
  app/javascript/src/components/Invoices/Invoice/DeleteButton.tsx
  app/javascript/src/components/Invoices/Invoice/InvoiceDetailHeader.tsx
  app/javascript/src/components/Invoices/Invoice/ViewHistory/HistoryMobileView.tsx
  app/javascript/src/components/Invoices/InvoiceSettings.tsx
  app/javascript/src/components/Invoices/List/ThemedContainer.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/FilterSelect.tsx
  app/javascript/src/components/Invoices/common/InvoiceForm/InvoiceFormHeader.tsx
  app/javascript/src/components/Navbar/ModernNavbar.tsx
  app/javascript/src/components/Profile/Organization/Edit/FileAcceptanceText.tsx
  app/javascript/src/components/Profile/Organization/Edit/ProfileImage.tsx
  app/javascript/src/components/Profile/Organization/Edit/Uploader.tsx
  app/javascript/src/components/Profile/Organization/Popups/DisconnectPayment.tsx
  app/javascript/src/components/Team/ResponsiveTeam.tsx
  app/javascript/src/components/TimeTracking/TimeTrackingHeader.tsx
  app/javascript/src/components/TimesheetEntries/EnhancedTimeEntryDialog.tsx
  app/javascript/src/components/payments/PaymentFilters.tsx
  app/javascript/src/components/ui/accordion.tsx
  app/javascript/src/components/ui/animated-card.tsx
  app/javascript/src/components/ui/animated-filter-badge.tsx
  app/javascript/src/components/ui/animated-input.tsx
  app/javascript/src/components/ui/animated-section.tsx
  app/javascript/src/components/ui/aspect-ratio.tsx
  app/javascript/src/components/ui/breadcrumb.tsx
  app/javascript/src/components/ui/dashboard-cards.tsx
  app/javascript/src/components/ui/hover-card.tsx
  app/javascript/src/components/ui/navigation-menu.tsx
  app/javascript/src/components/ui/pagination.tsx
  app/javascript/src/components/ui/progress.tsx
  app/javascript/src/components/ui/sidebar.tsx
  app/javascript/src/components/ui/toggle.tsx
  app/javascript/src/constants/miruApp.ts
  app/javascript/src/hooks/useCalendarData.ts
  app/javascript/src/providers/QueryProvider.tsx
  app/javascript/src/utils/currencyFormatter.ts
  app/javascript/src/utils/dateHelpers.ts
Due: lint-staged

chore: remove vestigial stored-auth-header stubs
  app/javascript/src/apis/api.ts
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/reducers/auth.ts
  app/javascript/src/utils/authHeaders.ts
  app/javascript/src/utils/storage.ts
Due: lint-staged

fix: surface clients and payments fetch errors instead of fake empty data
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/javascript/src/components/payments/PaymentsTable.tsx
Due: lint-staged

fix: restrict bulk previous employment updates to admins or the record owner
  app/controllers/api/v1/bulk_previous_employments_controller.rb
  app/policies/bulk_previous_employment_policy.rb
  spec/policies/bulk_previous_employment_policy_spec.rb
  spec/requests/api/v1/bulk_previous_employments/update_spec.rb
Due: lint-staged, rubocop

fix: validate team role updates against allowlist and forbid owner escalation
  app/controllers/api/v1/client_members_controller.rb
  app/controllers/api/v1/team_controller.rb
  app/services/team/update_service.rb
  spec/requests/api/v1/client_members/index_spec.rb
  spec/requests/api/v1/team/update_spec.rb
  spec/services/team/update_service_spec.rb
Due: lint-staged, rubocop

fix: react listener cleanup, storage guards, and parallel fetches
  app/javascript/entrypoints/application.tsx
  app/javascript/src/components/Clients/index.tsx
  app/javascript/src/components/Dashboard/DashboardHome.tsx
  app/javascript/src/components/Expenses/Details/index.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/index.tsx
  app/javascript/src/components/Reports/AccountsAgingReport/index.tsx
  app/javascript/src/components/TimesheetEntries/index.tsx
  app/javascript/src/components/payments/PaymentsTable.tsx
  app/javascript/src/components/payments/index.tsx
  app/javascript/src/utils/storage.ts
Due: lint-staged

fix: constant-time auth for Mission Control in all environments
  app/controllers/mission_control_controller.rb
  spec/requests/mission_control_spec.rb
Due: lint-staged, rubocop

fix: validate content type and size on logo, signature, and receipt uploads
  app/models/client.rb
  app/models/company.rb
  app/models/expense.rb
  config/locales/en.yml
  spec/models/client_spec.rb
  spec/models/company_spec.rb
  spec/models/expense_spec.rb
Due: lint-staged, rubocop

fix: block admins from demoting an existing owner in team role updates
  app/services/team/update_service.rb
  spec/services/team/update_service_spec.rb
Due: lint-staged, rubocop

fix: throttle TOTP and OTP verification endpoints
  config/initializers/rack_attack.rb
  spec/requests/rack_attack_spec.rb
Due: lint-staged, rubocop

chore: remove orphaned presenters and the dead project route
  app/presenters/outstanding_overdue_invoices_report_presenter.rb
  app/presenters/team_presenter.rb
  config/routes/api.rb
  spec/presenters/team_presenter_spec.rb
Due: lint-staged, rubocop

fix: implement payments report PDF export via Ferrum
  app/controllers/api/v1/reports/payments_controller.rb
  app/services/reports/generate_pdf.rb
  app/views/pdfs/payments.html.erb
  spec/requests/api/v1/reports/payments/download_spec.rb
  spec/services/reports/generate_pdf_spec.rb
Due: lint-staged, rubocop

chore: remove narrative comments from ruby services and controllers
  app/controllers/api/v1/clients/invoices_controller.rb
  app/controllers/api/v1/invoices/analytics_controller.rb
  app/controllers/api/v1/invoices/recently_updated_controller.rb
  app/controllers/api/v1/invoices_controller.rb
  app/controllers/api/v1/payments_controller.rb
  app/controllers/api/v1/projects_controller.rb
  app/controllers/api/v1/reports/payments_controller.rb
  app/jobs/bulk_invoice_download_job.rb
  app/mailers/send_payment_reminder_mailer.rb
  app/models/concerns/metrics_tracking.rb
  app/models/concerns/pg_searchable.rb
  app/models/concerns/searchable.rb
  app/models/exchange_rate.rb
  app/models/invoice.rb
  app/models/notification_preference.rb
  app/models/payment.rb
  app/presenters/dashboard_presenter.rb
  app/services/analytics/tracking_service.rb
  app/services/expenses/fetch_service.rb
  app/services/generate_invoice/new_line_items_service.rb
  app/services/pdf_generation/base_service.rb
  app/services/pdf_generation/html_template_service.rb
  app/services/reports/generate_pdf.rb
  app/services/reports/outstanding_overdue_invoices/report_decorator.rb
  app/services/reports/time_entries/report_service.rb
  app/services/reports/time_entries/result.rb
Due: lint-staged, rubocop

perf: eliminate n+1 queries in invoices, clients, collections, and team endpoints
  app/controllers/api/v1/mobile/collections_controller.rb
  app/models/client.rb
  app/services/clients/index_service.rb
  app/services/invoices/index_service.rb
  app/services/team/index_decorator.rb
  spec/requests/api/v1/clients/index_spec.rb
  spec/requests/api/v1/invoices/index_spec.rb
  spec/requests/api/v1/mobile/collections/create_spec.rb
  spec/requests/api/v1/team/index_spec.rb
Due: lint-staged, rubocop

refactor: consolidate duplicated domain types into src/types
  app/javascript/src/common/ChartBar/interface.ts
  app/javascript/src/common/CustomDateRangePicker/index.tsx
  app/javascript/src/common/CustomDateRangeWIthInput/index.tsx
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/MobileView/index.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/index.tsx
  app/javascript/src/components/Clients/interface.ts
  app/javascript/src/components/InvoiceEmail/Header.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/InfiniteScrollRecentlyUpdated.tsx
  app/javascript/src/components/Invoices/common/InvoiceForm/SendInvoice/index.tsx
  app/javascript/src/components/Invoices/common/SendInvoiceContainer/index.tsx
  app/javascript/src/components/Invoices/usePaginatedInvoices.ts
  app/javascript/src/components/Profile/Organization/InvoiceSignature/index.tsx
  app/javascript/src/components/Projects/ProjectsTable.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/WorkspaceView.tsx
  app/javascript/src/components/Reports/PaymentReport/index.tsx
  app/javascript/src/components/Reports/TimeEntryReport/index.tsx
  app/javascript/src/components/Team/List/Header.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/components/TimeTracking/EntryCard.tsx
  app/javascript/src/components/TimeTracking/SelectProject.tsx
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/components/payments/PaymentsTable.tsx
  app/javascript/src/context/UserContext.tsx
  app/javascript/src/mapper/team.mapper.ts
  app/javascript/src/services/invoiceApi.ts
  app/javascript/src/types/chartBar.ts
  app/javascript/src/types/company.ts
  app/javascript/src/types/dateRange.ts
  app/javascript/src/types/email.ts
  app/javascript/src/types/invoice.ts
  app/javascript/src/types/payment.ts
  app/javascript/src/types/team.ts
  app/javascript/src/types/timeTracking.ts
Due: lint-staged

chore: upgrade dependencies to resolve pnpm audit advisories
  package.json
  pnpm-lock.yaml
Due: lint-staged

test: isolate Mission Control auth spec from the Devise session layer
  spec/requests/mission_control_spec.rb
Due: lint-staged, rubocop

chore: bump websocket-driver to 0.8.2 to clear DoS advisories
  Gemfile.lock
Due: none

test: test Mission Control auth via anonymous controller
  spec/requests/mission_control_spec.rb
Due: lint-staged, rubocop

fix: make payments report download honor the format query param
  app/controllers/api/v1/reports/payments_controller.rb
  spec/requests/api/v1/reports/payments/download_spec.rb
Due: lint-staged, rubocop

fix: also honor .pdf extension in payments report download
  app/controllers/api/v1/reports/payments_controller.rb
Due: lint-staged, rubocop

Fix PR 2384 audit blockers
  Gemfile.lock
  app/models/client.rb
  spec/middleware/encoding_sanitizer_spec.rb
  spec/requests/api/v1/clients/create_spec.rb
  spec/requests/api/v1/users/sessions/destroy_spec.rb
  spec/services/clients/index_service_spec.rb
Due: lint-staged, rubocop

feat: highlight no-credit-card trial across signup, billing, and emails
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/i18n/locales/en.ts
  config/locales/en-GB.yml
  config/locales/en-US.yml
  config/locales/en.yml
  docs/qa-evidence/pr-2389-trial-lifecycle/billing-page-no-cc.png
  docs/qa-evidence/pr-2389-trial-lifecycle/email-1-trial-started.png
  docs/qa-evidence/pr-2389-trial-lifecycle/email-2-getting-started.png
  docs/qa-evidence/pr-2389-trial-lifecycle/email-3-pro-features.png
  docs/qa-evidence/pr-2389-trial-lifecycle/email-4-reminder-7d.png
  docs/qa-evidence/pr-2389-trial-lifecycle/email-5-reminder-1d.png
  docs/qa-evidence/pr-2389-trial-lifecycle/signup-no-cc.png
Due: lint-staged

fix: unblock QuickBooks export indexes
  .env.example
  db/migrate/20260715000000_fix_quickbooks_export_indexes.rb
  db/schema.rb
Due: lint-staged, rubocop

fix: remove nonexistent payment discard filter
  app/controllers/api/v1/integrations/quickbooks_controller.rb
  app/jobs/quick_books/export_payment_job.rb
  spec/jobs/quick_books/export_payment_job_spec.rb
  spec/requests/api/v1/integrations/quickbooks_controller_spec.rb
Due: lint-staged, rubocop

fix: tighten quickbooks export guards
  app/controllers/api/v1/integrations/quickbooks_controller.rb
  app/jobs/quick_books/export_payment_job.rb
  app/models/payment.rb
  db/migrate/20260715000000_fix_quickbooks_export_indexes.rb
  db/schema.rb
  spec/models/quickbooks_sync_event_spec.rb
  spec/requests/api/v1/integrations/quickbooks_controller_spec.rb
Due: lint-staged, rubocop

fix: make quickbooks index migration re-runnable and strong_migrations safe
  db/migrate/20260715000000_fix_quickbooks_export_indexes.rb
Due: lint-staged, rubocop

fix: resolve bundler-audit advisories for mcp and rails-html-sanitizer
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/mcp_controller.rb
Due: lint-staged, rubocop

fix: harden MCP transport config after adversarial review
  app/controllers/api/v1/mcp_controller.rb
  config/initializers/mcp.rb
Due: lint-staged, rubocop

docs: update MCP_ALLOWED_ORIGINS semantics after augment change
  docs/miru-mcp.md
Due: none

fix: allow editing and deleting time off entries
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/TimeoffEntries/TimeoffForm/index.tsx
  app/services/timeoff_entries/balance_summary_service.rb
  spec/requests/api/v1/timeoff_entries/index_spec.rb
Due: lint-staged, rubocop

fix: harden timeoff entry flows after adversarial review
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/TimeoffEntries/TimeoffForm/index.tsx
  app/javascript/src/helpers/dateParseFormats.ts
  app/javascript/src/helpers/index.ts
  app/services/timeoff_entries/balance_summary_service.rb
  app/services/timeoff_entries/overview_service.rb
  app/views/api/v1/time_tracking/index.json.jbuilder
  app/views/api/v1/timesheet_entry/index.json.jbuilder
  spec/requests/api/v1/timeoff_entries/index_spec.rb
Due: lint-staged, rubocop

fix: address review comments after develop merge
  app/controllers/api/v1/invoices/payments_controller.rb
  app/controllers/api/v1/payments_controller.rb
  app/controllers/api/v1/reports/payments_controller.rb
  app/controllers/api/v1/timeoff_entries_controller.rb
  app/policies/timeoff_entry_policy.rb
  spec/services/currency_conversion_service_spec.rb
Due: lint-staged, rubocop

fix: close timeoff update IDOR and drop dead Discardable
  app/controllers/api/v1/timeoff_entries_controller.rb
  app/models/payment.rb
  app/policies/timeoff_entry_policy.rb
  spec/requests/api/v1/timeoff_entries/update_spec.rb
Due: lint-staged, rubocop

test: fix payment discard and multi-currency stub-order failures
  spec/models/payment_spec.rb
  spec/models/reports_currency_calculation_spec.rb
Due: lint-staged, rubocop

refactor: address CodeRabbit follow-ups
  app/javascript/src/components/Clients/ClientsTable.tsx
  spec/models/reports_currency_calculation_spec.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
