Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

fix: promote canonical URL tracking cleanup (#2411)
  app/views/layouts/application.html.erb
  spec/requests/seo_metadata_spec.rb
Due: lint-staged, rubocop

fix: mask security reauthentication passwords
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
Due: lint-staged

test: cover authentication and reminder boundaries
  spec/requests/api/v1/invoices/send_reminder_spec.rb
  spec/requests/api/v1/mobile/otps_spec.rb
  spec/requests/api/v1/users/otps_spec.rb
Due: lint-staged, rubocop

fix: make MCP idempotency durable
  app/mcp/idempotency_store.rb
  app/models/mcp_idempotency_record.rb
  db/migrate/20260730000000_create_mcp_idempotency_records.rb
  db/schema.rb
  spec/mcp/idempotency_store_spec.rb
Due: lint-staged, rubocop

fix: protect alternate authentication flows
  app/controllers/api/v1/users/otps_controller.rb
  app/controllers/api/v1/users/passkeys_controller.rb
  app/controllers/api/v1/users/totp_controller.rb
  app/services/update_profile_settings_service.rb
  spec/requests/api/v1/profile/update_spec.rb
  spec/requests/api/v1/users/otps_spec.rb
  spec/requests/api/v1/users/passkeys_spec.rb
  spec/requests/api/v1/users/totp_spec.rb
Due: lint-staged, rubocop

fix: serialize payment webhook settlement
  app/services/invoice_payment/stripe_payment_succeeded.rb
  app/services/payment_providers/razorpay_payout_webhook_fulfillment.rb
  spec/services/invoice_payment/stripe_payment_succeeded_spec.rb
  spec/services/payment_providers/razorpay_payout_webhook_fulfillment_spec.rb
Due: lint-staged, rubocop

fix: require reauthentication for phone changes
  app/controllers/api/v1/team_members/details_controller.rb
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  spec/requests/api/v1/team_members/details/update_spec.rb
Due: lint-staged, rubocop

fix: prevent clearing another member phone
  app/controllers/api/v1/team_members/details_controller.rb
  spec/requests/api/v1/team_members/details/update_spec.rb
Due: lint-staged, rubocop

fix: allow unchanged member phones
  app/controllers/api/v1/team_members/details_controller.rb
  spec/requests/api/v1/team_members/details/update_spec.rb
Due: lint-staged, rubocop

fix: bind CLI authorization to token workspace
  app/controllers/concerns/authenticable.rb
  spec/requests/api/v1/cli/expenses/create_spec.rb
Due: lint-staged, rubocop

chore: pin privileged build dependencies
  .github/workflows/docker-build.yml
  .github/workflows/docs-site.yml
  Dockerfile
  Dockerfile.base
  Dockerfile.kamal
  Dockerfile.production
Due: none

fix: keep CLI workspace scope request-local
  app/controllers/concerns/authenticable.rb
  spec/requests/api/v1/profile/update_spec.rb
Due: lint-staged, rubocop

chore: pin remaining CI build inputs
  .github/workflows/docker-build.yml
  .github/workflows/reek.yml
  .github/workflows/validations.yml
  Dockerfile.local
  Dockerfile.test
Due: none

fix: resolve docs and mobile security alerts
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  docs/package.json
  docs/pnpm-lock.yaml
Due: lint-staged

fix: preserve brace expansion compatibility
  apps/mobile/package.json
  apps/mobile/patches/brace-expansion@5.0.8.patch
  apps/mobile/pnpm-lock.yaml
  docs/package.json
  docs/patches/brace-expansion@5.0.8.patch
  docs/pnpm-lock.yaml
Due: lint-staged

fix: clear docs dependency alerts
  docs/.nvmrc
  docs/docusaurus.config.js
  docs/package.json
  docs/pnpm-lock.yaml
  docs/tsconfig.json
Due: lint-staged

chore: harden docs upgrade workflow
  .github/workflows/docs-site.yml
  docs/README.md
  docs/contributing-guide/documentation.md
  docs/package.json
  docs/pnpm-lock.yaml
Due: lint-staged

fix: clear mobile dependency alerts
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
Due: lint-staged

fix: scope mobile security overrides
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
Due: lint-staged

feat: add growth analytics digest and super-admin dashboard
  .env.example
  app/controllers/admin/growth_controller.rb
  app/jobs/analytics/founder_digest_job.rb
  app/mailers/founder_digest_mailer.rb
  app/services/analytics/growth_metrics_service.rb
  app/views/admin/growth/show.html.erb
  app/views/founder_digest_mailer/weekly.html.erb
  app/views/founder_digest_mailer/weekly.text.erb
  config/routes.rb
  config/solid_queue.yml
  spec/jobs/analytics/founder_digest_job_spec.rb
  spec/mailers/founder_digest_mailer_spec.rb
  spec/requests/admin/growth_spec.rb
  spec/services/analytics/growth_metrics_service_spec.rb
Due: lint-staged, rubocop

fix: update json gem to 2.21.2 for CVE-2026-71847
  Gemfile.lock
Due: none

feat: enforce Pro plan promises with analytics gating and audit trail
  app/controllers/api/v1/audit_logs_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Navbar/Sidebar.tsx
  app/javascript/src/components/PlanAccessGate.tsx
  app/javascript/src/components/Profile/Layout/Navigation/List.tsx
  app/javascript/src/components/Profile/Layout/routes.tsx
  app/javascript/src/components/Profile/Organization/AuditLog/index.tsx
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/components/Reports/AccessGate.tsx
  app/javascript/src/constants/routes.ts
  app/javascript/src/i18n/locales/en.ts
  app/models/client.rb
  app/models/company.rb
  app/models/expense.rb
  app/models/invitation.rb
  app/models/invoice.rb
  app/models/payment.rb
  app/models/project.rb
  app/models/timesheet_entry.rb
  app/policies/analytics_policy.rb
  app/policies/audit_log_policy.rb
  app/services/create_invited_user_service.rb
  app/services/team/update_service.rb
  config/routes/api.rb
  db/data/20260815000000_backfill_audit_company_associations.rb
  spec/models/invitation_spec.rb
  spec/policies/analytics_policy_spec.rb
  spec/policies/audit_log_policy_spec.rb
  spec/requests/api/v1/analytics/revenue_forecasts/index_spec.rb
  spec/requests/api/v1/audit_logs/index_spec.rb
  spec/requests/internal_api/v1/analytics_controller_spec.rb
  spec/requests/internal_api/v1/analytics_exports_controller_spec.rb
  spec/requests/internal_api/v1/analytics_reports_controller_spec.rb
  spec/services/create_invited_user_service_spec.rb
  spec/services/team/update_service_spec.rb
Due: lint-staged, rubocop

test: adapt specs to expanded audit coverage and pro-gated analytics
  spec/models/invoice_currency_conversion_spec.rb
  spec/policies/analytics_report_policy_spec.rb
Due: lint-staged, rubocop

feat: enforceable workspace SSO and priority support
  app/controllers/api/v1/mobile/otps_controller.rb
  app/controllers/api/v1/sso_settings_controller.rb
  app/controllers/api/v1/support_requests_controller.rb
  app/controllers/api/v1/users/otps_controller.rb
  app/controllers/api/v1/users/passkeys_controller.rb
  app/controllers/api/v1/users/passwords_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/api/v1/users/totp_controller.rb
  app/controllers/concerns/sso_enforcement_concern.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Navbar/Sidebar.tsx
  app/javascript/src/components/Profile/Layout/Navigation/List.tsx
  app/javascript/src/components/Profile/Layout/routes.tsx
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/components/Profile/Organization/Sso/index.tsx
  app/javascript/src/components/Profile/Organization/Support/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/mailers/support_request_mailer.rb
  app/models/company.rb
  app/policies/company_policy.rb
  app/policies/sso_setting_policy.rb
  app/services/analytics/tracking_service.rb
  app/services/sso_enforcement.rb
  config/routes/api.rb
  db/migrate/20260815022000_add_sso_settings_to_companies.rb
  db/schema.rb
  spec/mailers/support_request_mailer_spec.rb
  spec/models/company_spec.rb
  spec/requests/api/v1/mobile/otps_spec.rb
  spec/requests/api/v1/sso_settings_spec.rb
  spec/requests/api/v1/support_requests_spec.rb
  spec/requests/api/v1/users/otps_spec.rb
  spec/requests/api/v1/users/passkeys_spec.rb
  spec/requests/api/v1/users/passwords/update_spec.rb
  spec/requests/api/v1/users/sessions/create_spec.rb
  spec/requests/api/v1/users/totp_spec.rb
  spec/requests/users/omniauth_callbacks/google_oauth2_spec.rb
  spec/services/sso_enforcement_spec.rb
Due: lint-staged, rubocop

feat: mobile-first auth and billing, responsive CI net, Expo sessions and timer
  .github/workflows/validations.yml
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Authentication/AuthShell.tsx
  app/javascript/src/components/Authentication/ForgotPassword/PasswordResetLinkSentMsg.tsx
  app/javascript/src/components/Authentication/ForgotPassword/index.tsx
  app/javascript/src/components/Authentication/ResetPassword/index.tsx
  app/javascript/src/components/Authentication/SignIn/SignInForm.tsx
  app/javascript/src/components/Authentication/SignUp/SignUpForm.tsx
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Dashboard/index.tsx
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/views/layouts/turbo_native.html.erb
  apps/mobile/App.tsx
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/api.ts
  apps/mobile/src/types.ts
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/saeloun/miru/MainActivity.kt
  mobile/android/app/src/main/java/com/saeloun/miru/MiruApplication.kt
  mobile/android/app/src/main/java/com/saeloun/miru/fragments/WebFragment.kt
  mobile/android/build.gradle
  mobile/ios/Package.swift
  mobile/ios/Sources/MiruiOS/AppDelegate.swift
  mobile/ios/Sources/MiruiOS/RootViewController.swift
  mobile/ios/Sources/MiruiOS/ViewControllers/MainTabBarController.swift
  spec/services/mobile_otp/login_challenge_spec.rb
  spec/support/capybara.rb
  spec/system/responsive/pages_spec.rb
Due: lint-staged, rubocop

feat: make the invoice workflow usable on phones
  app/javascript/src/components/Expenses/ReceiptPreviewDialog.tsx
  app/javascript/src/components/Invoices/Invoice/InvoiceActions.tsx
  app/javascript/src/components/Invoices/Invoice/InvoiceDetails.tsx
  app/javascript/src/components/Invoices/Invoice/InvoiceLineItems.tsx
  app/javascript/src/components/Invoices/Invoice/InvoiceStatus.tsx
  app/javascript/src/components/Invoices/Invoice/PaymentDetails.tsx
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/common/InvoiceTable/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/components/ui/dialog.tsx
  app/javascript/src/components/ui/sheet.tsx
  app/javascript/src/components/ui/table.tsx
  spec/system/responsive/pages_spec.rb
Due: lint-staged, rubocop

feat: mobile views for outstanding, aging, payment, and hours reports
  app/javascript/src/components/Reports/AccountsAgingReport/MobileView.tsx
  app/javascript/src/components/Reports/AccountsAgingReport/ReportMobileRow.tsx
  app/javascript/src/components/Reports/AccountsAgingReport/index.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/MobileView.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/ReportMobileRow.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/WorkspaceView.tsx
  app/javascript/src/components/Reports/PaymentReport/MobileView.tsx
  app/javascript/src/components/Reports/PaymentReport/ReportMobileRow.tsx
  app/javascript/src/components/Reports/PaymentReport/index.tsx
  app/javascript/src/components/Reports/totalHoursLogged/MobileView.tsx
  app/javascript/src/components/Reports/totalHoursLogged/index.tsx
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

feat(imports): import Harvest time entries via CLI and API
  app/controllers/api/v1/cli/capabilities_controller.rb
  app/controllers/api/v1/imports_controller.rb
  app/jobs/data_import_job.rb
  app/models/company.rb
  app/models/data_import.rb
  app/models/timesheet_entry.rb
  app/policies/data_import_policy.rb
  app/services/imports/harvest_time_entries_importer.rb
  config/locales/en.yml
  config/routes/api.rb
  db/migrate/20260905000000_create_data_imports.rb
  db/schema.rb
  docs/miru-cli.md
  lib/tasks/imports.rake
  spec/factories/data_imports.rb
  spec/fixtures/files/harvest_detailed_time.csv
  spec/fixtures/files/harvest_missing_headers.csv
  spec/jobs/data_import_job_spec.rb
  spec/models/timesheet_entry_spec.rb
  spec/requests/api/v1/imports/create_spec.rb
  spec/requests/api/v1/imports/show_spec.rb
  spec/services/imports/harvest_time_entries_importer_spec.rb
  tools/miru-cli/README.md
  tools/miru-cli/cmd/miru/main.go
  tools/miru-cli/cmd/miru/main_test.go
Due: lint-staged, rubocop

refactor(imports): extract importer helpers to clear reek smells
  app/services/imports/harvest_time_entries_importer.rb
Due: lint-staged, rubocop

fix(imports): hash the duplicate-detection key with SHA256
  app/services/imports/harvest_time_entries_importer.rb
Due: lint-staged, rubocop

chore(deps): bump rubyzip to ~> 3.4 to fix CVE-2026-85396
  Gemfile
  Gemfile.lock
Due: none

fix(invoices): allow zero-rate invoice sending
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  spec/requests/api/v1/invoices/create_spec.rb
  spec/system/invoices/create_spec.rb
Due: lint-staged, rubocop

fix(invoices): preserve blank-rate validation
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/i18n/locales/en.ts
  spec/system/invoices/create_spec.rb
Due: lint-staged, rubocop

fix(invoices): allow zero-rate invoice sending (#2428)
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/i18n/locales/en.ts
  spec/requests/api/v1/invoices/create_spec.rb
  spec/system/invoices/create_spec.rb
Due: lint-staged, rubocop

fix: deploy zero-rate invoice sending (#2429)
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/i18n/locales/en.ts
  spec/requests/api/v1/invoices/create_spec.rb
  spec/system/invoices/create_spec.rb
Due: lint-staged, rubocop

fix: allow permitted PTO actions
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/policies/timeoff_entry_policy.rb
  app/views/api/v1/time_tracking/index.json.jbuilder
  app/views/api/v1/timesheet_entry/index.json.jbuilder
  spec/system/time_tracking/views_spec.rb
Due: lint-staged, rubocop

test: cover cancelled PTO deletion
  spec/system/time_tracking/views_spec.rb
Due: lint-staged, rubocop

chore: prepare 3.0.2 release
  CHANGELOG.md
  VERSION
  package.json
Due: lint-staged

docs: finalize 3.0.2 changelog
  CHANGELOG.md
Due: none
