Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

docs(ai): add qmd codex-gstack retrieval playbook
  AGENTS.md
  docs/ai/qmd-codex-gstack.md
Due: none

fix(profile): harden avatar upload UX and verification flow
  AGENTS.md
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileImageCard.tsx
  spec/system/profile/avatar_upload_spec.rb
Due: lint-staged, rubocop

docs(verification): add issue 2146 avatar evidence screenshots
  docs/verification/2026-04-15/prod-avatar-modal-dark-live.png
  docs/verification/2026-04-15/prod-avatar-modal-light-live.png
  docs/verification/2026-04-15/profile-avatar-422-message.png
Due: none

fix(profile): harden avatar uploader validation and error copy
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileImageCard.tsx
  app/javascript/src/i18n/locales/en.ts
  app/models/user.rb
  config/locales/en.yml
  spec/requests/api/v1/team_members/avatar/update_spec.rb
  spec/support/fixtures/invalid-avatar.txt
Due: lint-staged, rubocop

chore: add issue 2148 verification screenshots
  docs/qa-evidence/issue-2148-invalid-zipcode.png
  docs/qa-evidence/issue-2148-required-errors.png
Due: none

chore: add issue 2148 required-fields verification screenshot
  docs/qa-evidence/issue-2148-required-errors.png
Due: none

chore: add issue 2148 invalid-zipcode verification screenshot
  docs/qa-evidence/issue-2148-invalid-zipcode.png
Due: none

chore(ci): remove claude code review workflow and bump axios to 1.15.0
  .github/workflows/claude-code-review.yml
  package.json
  pnpm-lock.yaml
Due: lint-staged

fix(profile): preserve settings data and unify form theming
  app/javascript/src/common/CustomAdvanceInput/index.tsx
  app/javascript/src/common/CustomReactSelectStyle/ErrStyles/index.ts
  app/javascript/src/common/CustomReactSelectStyle/Styles/index.ts
  app/javascript/src/components/OrganizationSetup/CompanyDetailsForm/index.tsx
  app/javascript/src/components/OrganizationSetup/CompanyDetailsForm/utils.ts
  app/javascript/src/components/Profile/Layout/Navigation/index.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileProfileEditor.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/validationSchema.ts
  app/javascript/src/components/Profile/Personal/User/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  app/javascript/src/mapper/teams.mapper.ts
  app/models/user.rb
  spec/models/user_spec.rb
  spec/requests/api/v1/profile/update_spec.rb
  spec/requests/api/v1/team_members/details/update_spec.rb
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

ci: deploy docs site to gh-pages
  .github/workflows/docs-site.yml
  docs/README.md
Due: none

ci: make docs deploy install resilient
  .github/workflows/docs-site.yml
Due: none

fix(docs): support prism theme imports across docusaurus versions
  docs/docusaurus.config.js
Due: lint-staged

docs: add production verification evidence for issue 2148
  docs/qa-evidence/issue-2148-prod-email-confirmation-blocker.png
  docs/qa-evidence/issue-2148-prod-owner-dashboard.png
Due: none

build(docs): migrate docs toolchain to pnpm
  .github/workflows/docs-site.yml
  docs/README.md
  docs/package-lock.json
  docs/package.json
  docs/pnpm-lock.yaml
Due: lint-staged

chore: add production verification evidence for issue 2148
  docs/qa-evidence/issue-2148-prod-confirmed.png
  docs/qa-evidence/issue-2148-prod-invalid-zipcode.png
  docs/qa-evidence/issue-2148-prod-required-errors.png
  docs/qa-evidence/issue-2148-prod-signup-success.png
Due: none

chore: add production verification evidence for issue 2147
  docs/qa-evidence/issue-2147-prod-after-cancel-profile.png
  docs/qa-evidence/issue-2147-prod-before-cancel-edit.png
  docs/qa-evidence/issue-2147-prod-reopen-edit.png
Due: none

chore: add production verification evidence for issue 2140
  docs/qa-evidence/issue-2140-prod-after-relogin.png
  docs/qa-evidence/issue-2140-prod-after-upload.png
Due: none

chore: add production verification evidence for issue 2145
  docs/qa-evidence/issue-2145-prod-after-change.png
  docs/qa-evidence/issue-2145-prod-after-restore.png
  docs/qa-evidence/issue-2145-prod-before-change.png
  docs/qa-evidence/issue-2145-prod-profile-after-change.png
Due: none

chore: add production verification evidence for issue 2113
  docs/qa-evidence/issue-2113-add-entry-modal.png
  docs/qa-evidence/issue-2113-narrow-after-add-entry.png
  docs/qa-evidence/issue-2113-narrow-description-overflow.png
  docs/qa-evidence/issue-2113-overflow-probe.png
  docs/qa-evidence/issue-2113-time-tracking-page.png
Due: none

fix: sync draft invoice currency with current client currency in index
  app/views/api/v1/invoices/index.json.jbuilder
  spec/requests/api/v1/invoices/index_spec.rb
Due: lint-staged, rubocop

docs(qa): add prod verification screenshots for issue #2125
  docs/qa-evidence/issue-2125-prod-invoice-edit-eur.png
  docs/qa-evidence/issue-2125-prod-invoice-edit-usd.png
Due: none

test(api): authenticate controller specs with X-Auth headers
  spec/controllers/api/v1/base_controller_spec.rb
  spec/controllers/api/v1/expenses_controller_spec.rb
Due: lint-staged, rubocop

test: align auth and profile service spec expectations
  spec/concerns/error_handler/test_controller_spec.rb
  spec/services/update_profile_settings_service_spec.rb
Due: lint-staged, rubocop

docs(qa): add post-deploy production verification screenshots for issue #2125
  docs/qa-evidence/issue-2125-prod-postdeploy-invoice-edit.png
  docs/qa-evidence/issue-2125-prod-postdeploy-invoices-list.png
Due: none

fix(time-tracking): restrict edits older than 7 days to admins
  app/controllers/api/v1/timesheet_entry/bulk_action_controller.rb
  app/javascript/src/components/TimeTracking/EntryCard.tsx
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/policies/timeoff_entry_policy.rb
  app/policies/timesheet_entry_policy.rb
  config/locales/en-GB.yml
  config/locales/en-US.yml
  config/locales/en.yml
  spec/policies/timeoff_entry_policy_spec.rb
  spec/policies/timesheet_entry_policy_spec.rb
  spec/requests/api/v1/timesheet_entries/bulk_actions/destroy_spec.rb
  spec/requests/api/v1/timesheet_entries/bulk_actions/update_spec.rb
Due: lint-staged, rubocop

fix(time-tracking): prefill timeoff edit form in week review
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/TimeoffEntries/TimeoffForm/index.tsx
  spec/system/time_tracking/views_spec.rb
Due: lint-staged, rubocop

test(timesheet): align employee request specs with stale-entry policy
  spec/requests/api/v1/timesheet_entries/destroy_spec.rb
  spec/requests/api/v1/timesheet_entries/update_spec.rb
Due: lint-staged, rubocop

fix(invoices): normalize invoice dates and calendar classes
  app/javascript/src/components/ui/calendar.tsx
  app/javascript/src/services/invoiceApi.ts
Due: lint-staged

fix(invoices): keep manual line item name field usable
  app/javascript/src/components/Invoices/common/InvoiceTable/index.tsx
Due: lint-staged

fix(expenses): support expenses/new route for add flow
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/constants/routes.ts
Due: lint-staged

fix(holidays): expose employee tab and restore edit mode
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
Due: lint-staged

fix(reminders): stabilize previous-week range for missed entries
  app/services/weekly_reminder_for_missed_entries_service.rb
  spec/services/weekly_reminder_for_missed_entries_service_spec.rb
Due: lint-staged, rubocop

test(dashboard): make workspace switch modal assertion case-insensitive
  spec/system/dashboard/workspace_switch_spec.rb
Due: lint-staged, rubocop

fix: unify calendar and time picker theming across invoice flows
  app/javascript/src/common/CustomDatePicker/index.tsx
  app/javascript/src/common/CustomDateRangePicker/index.tsx
  app/javascript/src/common/CustomDateRangeWIthInput/index.tsx
  app/javascript/src/common/CustomYearPicker/SingleYearDatePicker.tsx
  app/javascript/src/components/ui/animated-time-input.tsx
  app/javascript/src/components/ui/calendar.tsx
  app/javascript/src/components/ui/date-picker.tsx
  app/javascript/src/components/ui/date-range-picker.tsx
  app/javascript/stylesheets/application.scss
Due: lint-staged

Fix calendar/date/time picker visibility across invoice and time-entry flows (#2155)
  app/javascript/src/common/CustomDatePicker/index.tsx
  app/javascript/src/common/CustomDateRangePicker/index.tsx
  app/javascript/src/common/CustomDateRangeWIthInput/index.tsx
  app/javascript/src/common/CustomYearPicker/SingleYearDatePicker.tsx
  app/javascript/src/components/ui/animated-time-input.tsx
  app/javascript/src/components/ui/calendar.tsx
  app/javascript/src/components/ui/date-picker.tsx
  app/javascript/src/components/ui/date-range-picker.tsx
  app/javascript/stylesheets/application.scss
Due: lint-staged

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
