Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

test(companies): remove redundant hardcoded timesheet_edit_days default spec
  spec/support/shared_examples/api/v1/companies_index_shared_example.rb
Due: lint-staged, rubocop

chore(dev): fix contradictory mailer comment in development.rb
  config/environments/development.rb
Due: lint-staged, rubocop

fix: lock billed timesheet entries
  app/controllers/api/v1/timesheet_entry/bulk_action_controller.rb
  app/javascript/src/components/TimeTracking/EntryCard.tsx
  app/javascript/src/i18n/locales/en.ts
  app/policies/timesheet_entry_policy.rb
  spec/policies/timesheet_entry_policy_spec.rb
  spec/requests/api/v1/timesheet_entries/bulk_actions/destroy_spec.rb
  spec/requests/api/v1/timesheet_entries/bulk_actions/update_spec.rb
  spec/requests/api/v1/timesheet_entries/destroy_spec.rb
  spec/requests/api/v1/timesheet_entries/update_spec.rb
Due: lint-staged, rubocop

test: stabilize overdue invoice service spec
  spec/services/update_invoice_status_to_overdue_service_spec.rb
Due: lint-staged, rubocop

Mobile responsive UI fixes (#2319)
  app/javascript/entrypoints/application.tsx
  app/javascript/src/apis/api.ts
  app/javascript/src/common/CustomAdvanceInput/index.tsx
  app/javascript/src/common/CustomAsyncSelect/index.tsx
  app/javascript/src/common/CustomCreatableSelect/index.tsx
  app/javascript/src/common/CustomInputText/index.tsx
  app/javascript/src/common/CustomReactSelect/index.tsx
  app/javascript/src/common/CustomTextareaAutosize.tsx
  app/javascript/src/components/Clients/ClientForm/MobileClientEditor.tsx
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/LeaveManagement/Header.tsx
  app/javascript/src/components/LeaveManagement/LeaveManagementContent.tsx
  app/javascript/src/components/OrganizationSetup/FinancialDetailsForm/MobileFinancialDetailForm.tsx
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileProfileEditor.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileEditor.tsx
  app/javascript/src/components/Profile/Personal/User/MobilePersonalDetails.tsx
  app/javascript/src/components/Profile/Personal/User/index.tsx
  app/javascript/src/components/Settings/Preferences/index.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/components/TimeTracking/Header.tsx
  app/javascript/src/components/TimeTracking/MonthCalendar.tsx
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/components/TimeTracking/WeekDaySelector.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/common/CompactLocaleSwitcher.tsx
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
  app/javascript/src/components/payments/Modals/utils.ts
  app/javascript/src/components/ui/data-table.tsx
  app/javascript/stylesheets/application.scss
  app/models/device.rb
  app/views/mailers/client_payment_mailer/payment.html.erb
  app/views/mailers/payment_mailer/client_payment_mailer.html.erb
  app/views/mailers/payment_mailer/payment.html.erb
Due: lint-staged, rubocop

fix: profile page UI alignment and dropdown highlight issues (#2315) (#2316)
  app/javascript/src/common/CustomReactSelectStyle/ErrStyles/index.ts
  app/javascript/src/common/CustomReactSelectStyle/Styles/index.ts
  app/javascript/src/common/CustomReactSelectStyle/shared.ts
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileEditor.tsx
  app/javascript/stylesheets/application.scss
Due: lint-staged

fix(payments): align Invoice field label with floating label pattern (#2322)
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
Due: lint-staged

fix: stabilize e2e test harness
  docs/ai/e2e-test-generation-prompt.md
  e2e/config.ts
  e2e/dashboard/01-page-load.spec.ts
  e2e/global-setup.ts
  e2e/navigation/helpers.ts
  e2e/notifications/API-FIXES-APPLIED.md
  e2e/notifications/QUICK-START.md
  e2e/notifications/README.md
  package.json
  playwright.config.ts
Due: lint-staged

fix: add client-side validation for incomplete holiday entries (#2323)
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix: guard optional holiday validation + cross-tab error toast + fix e2e test
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  app/javascript/src/i18n/locales/en.ts
  e2e/settings-holidays/06-error-states.spec.ts
Due: lint-staged

fix(holidays): fix frequency dropdown UI and dark mode styling (#2324)
  app/javascript/src/components/Profile/Organization/Holidays/utils.js
Due: lint-staged

fix(payments): align Invoice field label with floating label pattern
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
Due: lint-staged

fix(holidays): hide admin-only controls from employees in Optional Holidays (#2325)
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
Due: lint-staged

chore: remove repo-local codex skills
  .codex/skills/miru-mcp/SKILL.md
  .codex/skills/miru-modern-web-audit/SKILL.md
Due: none

feat: add QuickBooks connection foundation
  app/controllers/api/v1/integrations/quickbooks_controller.rb
  app/controllers/api/v1/payment_settings_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  app/models/company.rb
  app/models/quickbooks_connection.rb
  app/models/quickbooks_reference.rb
  app/models/quickbooks_sync_event.rb
  app/models/quickbooks_sync_run.rb
  app/policies/quickbooks_integration_policy.rb
  app/services/quick_books/client.rb
  app/services/quick_books/configuration.rb
  app/services/quick_books/error.rb
  app/services/quick_books/oauth_client.rb
  app/services/quick_books/token_refresher.rb
  app/views/api/v1/payment_settings/index.json.jbuilder
  config/routes/api.rb
  db/migrate/20260528190530_create_quickbooks_connections.rb
  db/migrate/20260528190531_create_quickbooks_references.rb
  db/migrate/20260528190532_create_quickbooks_sync_runs.rb
  db/migrate/20260528190533_create_quickbooks_sync_events.rb
  db/schema.rb
  spec/factories/quickbooks_connections.rb
  spec/factories/quickbooks_references.rb
  spec/factories/quickbooks_sync_events.rb
  spec/factories/quickbooks_sync_runs.rb
  spec/models/quickbooks_connection_spec.rb
  spec/requests/api/v1/integrations/quickbooks_controller_spec.rb
  spec/requests/api/v1/payment_settings/index_spec.rb
  spec/services/quick_books/configuration_spec.rb
Due: lint-staged, rubocop

feat: export Miru records to QuickBooks
  app/controllers/api/v1/integrations/quickbooks_controller.rb
  app/controllers/api/v1/invoices_controller.rb
  app/controllers/api/v1/payments_controller.rb
  app/jobs/quick_books/export_customer_job.rb
  app/jobs/quick_books/export_invoice_job.rb
  app/jobs/quick_books/export_payment_job.rb
  app/policies/invoice_policy.rb
  app/policies/payment_policy.rb
  app/policies/quickbooks_integration_policy.rb
  app/services/quick_books/client.rb
  app/services/quick_books/exporters/base.rb
  app/services/quick_books/exporters/customer.rb
  app/services/quick_books/exporters/invoice.rb
  app/services/quick_books/exporters/payment.rb
  app/services/quick_books/mappers/base.rb
  app/services/quick_books/mappers/customer.rb
  app/services/quick_books/mappers/invoice.rb
  app/services/quick_books/mappers/payment.rb
  app/services/quick_books/mapping_error.rb
  config/routes/api.rb
  spec/requests/api/v1/integrations/quickbooks_controller_spec.rb
  spec/requests/api/v1/invoices/quickbooks_sync_spec.rb
  spec/requests/api/v1/payments/quickbooks_sync_spec.rb
  spec/services/quick_books/exporters/customer_spec.rb
  spec/services/quick_books/exporters/invoice_spec.rb
  spec/services/quick_books/exporters/payment_spec.rb
  spec/services/quick_books/mappers/customer_spec.rb
  spec/services/quick_books/mappers/invoice_spec.rb
  spec/services/quick_books/mappers/payment_spec.rb
Due: lint-staged, rubocop

refactor: simplify QuickBooks export base
  app/services/quick_books/exporters/base.rb
Due: lint-staged, rubocop

test: harden QuickBooks sync review coverage
  app/controllers/api/v1/application_controller.rb
  app/controllers/api/v1/integrations/quickbooks_controller.rb
  app/controllers/api/v1/invoices_controller.rb
  app/controllers/api/v1/payments_controller.rb
  app/controllers/concerns/quickbooks_connection_access.rb
  spec/jobs/quick_books/export_customer_job_spec.rb
  spec/jobs/quick_books/export_invoice_job_spec.rb
  spec/jobs/quick_books/export_payment_job_spec.rb
  spec/requests/api/v1/integrations/quickbooks_controller_spec.rb
  spec/services/quick_books/exporters/customer_spec.rb
Due: lint-staged, rubocop

fix: address QuickBooks review findings
  app/controllers/api/v1/integrations/quickbooks_controller.rb
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  app/jobs/quick_books/export_payment_job.rb
  app/models/quickbooks_connection.rb
  app/models/quickbooks_reference.rb
  app/models/quickbooks_sync_event.rb
  app/models/quickbooks_sync_run.rb
  app/services/quick_books/client.rb
  app/services/quick_books/configuration.rb
  app/services/quick_books/exporters/base.rb
  app/services/quick_books/mappers/invoice.rb
  app/services/quick_books/oauth_client.rb
  db/migrate/20260528190531_create_quickbooks_references.rb
  db/migrate/20260528190533_create_quickbooks_sync_events.rb
  db/schema.rb
  spec/jobs/quick_books/export_payment_job_spec.rb
  spec/models/quickbooks_connection_spec.rb
  spec/models/quickbooks_reference_spec.rb
  spec/models/quickbooks_sync_event_spec.rb
  spec/models/quickbooks_sync_run_spec.rb
  spec/requests/api/v1/integrations/quickbooks_controller_spec.rb
  spec/services/quick_books/configuration_spec.rb
  spec/services/quick_books/exporters/customer_spec.rb
  spec/services/quick_books/mappers/invoice_spec.rb
Due: lint-staged, rubocop

fix: enforce QuickBooks tenant constraints
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  db/migrate/20260603120000_add_quickbooks_tenant_foreign_keys.rb
  db/schema.rb
  spec/models/quickbooks_reference_spec.rb
  spec/models/quickbooks_sync_event_spec.rb
  spec/models/quickbooks_sync_run_spec.rb
  spec/system/settings/payment_spec.rb
Due: lint-staged, rubocop

fix: package.json to reduce vulnerabilities
  package.json
Due: lint-staged

chore: update react router lockfile
  pnpm-lock.yaml
Due: none

fix: skip phone validation during password reset
  app/models/user.rb
Due: lint-staged, rubocop

fix: strip client name before validation to prevent duplicate bypass (#2337)
  app/models/client.rb
Due: lint-staged, rubocop

fix(holidays): redesign optional holidays read-mode UI (#2338)
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix: free plan team seat release
  app/javascript/src/components/Team/TeamTable.tsx
  spec/requests/api/v1/invitations/create_spec.rb
  spec/system/teams/index_spec.rb
Due: lint-staged, rubocop

fix: Gemfile & Gemfile.lock to reduce vulnerabilities
  Gemfile
  Gemfile.lock
Due: none

build(deps): bump oauth2 to 2.0.22
  Gemfile.lock
Due: none

test: cover invite seat release
  spec/requests/api/v1/invitations/create_spec.rb
Due: lint-staged, rubocop

fix: pluralize optional holiday policy
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
Due: lint-staged

fix: remove outstanding invoice metric
  app/javascript/src/components/Invoices/ChartWithSummary/index.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
Due: lint-staged

fix: add optional holiday frequency fallback
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
Due: lint-staged

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
