Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

test(services): cover passkeys and project members
  spec/services/passkeys/challenge_token_spec.rb
  spec/services/project_member_service_spec.rb
Due: lint-staged, rubocop

test(services): cover bulk invoice downloads
  spec/services/bulk_invoice_download_service_spec.rb
Due: lint-staged, rubocop

test(services): cover profile and leave helpers
  spec/services/custom_leaves_service_spec.rb
  spec/services/format_duration_spec.rb
  spec/services/update_profile_settings_service_spec.rb
Due: lint-staged, rubocop

refactor(time_tracking): reuse index service
  app/controllers/api/v1/time_tracking_controller.rb
  spec/services/time_tracking_index_service_spec.rb
Due: lint-staged, rubocop

fix(expenses): restore service filters
  app/services/expenses/filters_service.rb
  spec/services/expenses/fetch_service_spec.rb
Due: lint-staged, rubocop

fix(addresses): respect company scope in routes
  app/controllers/api/v1/addresses_controller.rb
  spec/requests/api/v1/addresses/index_spec.rb
  spec/requests/api/v1/addresses/show_spec.rb
  spec/requests/api/v1/addresses/update_spec.rb
Due: lint-staged, rubocop

fix(projects): correct light theme and mobile header spacing
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Projects/ProjectsTable.tsx
Due: lint-staged

fix(projects): strengthen project status badges
  app/javascript/src/components/Projects/ProjectsTable.tsx
Due: lint-staged

fix(projects): simplify light mode project badges
  app/javascript/src/components/Projects/ProjectsTable.tsx
Due: lint-staged

fix(projects): use monochrome status labels
  app/javascript/src/components/Projects/ProjectsTable.tsx
Due: lint-staged

fix(projects): render type and status as plain text
  app/javascript/src/components/Projects/ProjectsTable.tsx
Due: lint-staged

fix(storage): use r2 for production active storage
  config/environments/production.rb
Due: lint-staged, rubocop

fix(build): remove brittle manual chunk splitting
  vite.config.mts
Due: none

fix(ci): align request specs and bump devise
  Gemfile.lock
  spec/requests/api/v1/addresses/create_spec.rb
  spec/requests/api/v1/invitations/create_spec.rb
  spec/requests/api/v1/payment_settings_controller_spec.rb
  spec/requests/api/v1/users/devices/create_spec.rb
  spec/requests/api/v1/users/devices/update_spec.rb
Due: lint-staged, rubocop

test(launch): align role matrix expectations
  config/launch_matrix.yml
Due: none

fix(invoices): improve mobile invoice preview layout
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
Due: lint-staged

fix(reports): stabilize time entry group keys
  app/javascript/src/components/Reports/TimeEntryReport/index.tsx
Due: lint-staged

fix(invoices): handle root invoice responses
  app/javascript/src/services/invoiceApi.ts
Due: lint-staged

fix(reports): stack payment report controls on mobile
  app/javascript/src/components/Reports/PaymentReport/CleanPaymentReport.tsx
Due: lint-staged

fix(invoices): send new invoices after create
  app/javascript/src/components/Invoices/index.tsx
Due: lint-staged

feat(auth): add authenticator app 2fa
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/users/passkeys_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/api/v1/users/totp_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Authentication/SignIn/SignInForm.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileEditPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/TotpPanel.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  app/models/user.rb
  app/policies/totp_policy.rb
  config/routes/api.rb
  db/migrate/20260320100000_add_totp_support_to_users.rb
  db/schema.rb
  spec/requests/api/v1/users/sessions/create_spec.rb
  spec/requests/api/v1/users/totp_spec.rb
  spec/system/profile/settings_spec.rb
  spec/system/users/login_spec.rb
Due: lint-staged, rubocop
