Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

test: cover localized client search placeholder
  spec/system/clients/index_spec.rb
Due: lint-staged, rubocop

fix(i18n): normalize en-US defaults and trim locale specs
  AGENTS.md
  app/javascript/src/common/LocaleSelector/localeData.ts
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/context/LocaleContext.tsx
  app/javascript/src/context/UserContext.tsx
  app/javascript/src/i18n/index.ts
  app/models/concerns/locale_config.rb
  app/models/user.rb
  config/initializers/i18n.rb
  spec/mailers/monthly_reports_mailer_spec.rb
  spec/models/user_spec.rb
  spec/support/session_helpers.rb
  spec/system/clients/details_spec.rb
  spec/system/invoices/editor_preview_spec.rb
  spec/system/reports/index_spec.rb
  spec/system/settings/payment_spec.rb
  spec/tasks/users_rake_spec.rb
Due: lint-staged, rubocop

fix(i18n): localize mounted report, expense, and invoice copy
  app/javascript/src/common/DeleteEntryModal/index.tsx
  app/javascript/src/components/Expenses/Details/Expense.tsx
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/Filters/index.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/Container/MobileRow.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/Filters/filterOptions.ts
  app/javascript/src/components/Reports/RevenueByClientReport/WorkspaceView.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
Due: lint-staged

fix: restore mark paid actions on invoices
  app/javascript/src/components/Invoices/Invoice/MarkInvoicePaidModal.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  spec/system/invoices/details_spec.rb
  spec/system/invoices/index_spec.rb
Due: lint-staged, rubocop

fix: improve dark mode react-select contrast
  app/javascript/src/common/CustomReactSelectStyle/Styles/index.ts
Due: lint-staged

fix: avoid CSP failure when uploading profile photos
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileImageCard.tsx
  spec/system/profile/avatar_upload_spec.rb
Due: lint-staged, rubocop

fix: clarify profile photo action label
  app/javascript/src/i18n/locales/en.ts
  spec/system/profile/avatar_upload_spec.rb
Due: lint-staged, rubocop

fix: localize dashboard shell controls
  app/javascript/src/common/Loader/index.tsx
  app/javascript/src/common/ThemeToggle/index.tsx
  app/javascript/src/components/Dashboard/Sidebar.tsx
Due: lint-staged

fix: rerender theme toggle on locale change
  app/javascript/src/common/ThemeToggle/index.tsx
Due: lint-staged

fix: hide mark paid for draft invoices
  app/javascript/src/components/Invoices/InvoiceList.tsx
  spec/system/invoices/index_spec.rb
Due: lint-staged, rubocop

docs: refactor repo agent docs and add autoresearch plan
  AGENTS.md
  docs/ai/autoresearch-plan.md
  docs/ai/production.md
  docs/ai/testing.md
  docs/ai/workflow.md
Due: none

fix: localize payments page copy
  app/javascript/src/components/payments/Header.tsx
  app/javascript/src/components/payments/PaymentsEmptyState.tsx
  app/javascript/src/components/payments/PaymentsTable.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/payments/list_spec.rb
Due: lint-staged, rubocop

docs: add autoresearch experiment runner
  docs/experiments/2026-04-14T16-34-31-docs_consistency.md
  docs/experiments/2026-04-14T16-34-31-frontend_build.md
  docs/experiments/README.md
  script/autoresearch/run.sh
Due: none

docs: refresh autoresearch next steps
  docs/ai/autoresearch-plan.md
Due: none

fix: localize mounted payments table
  app/javascript/src/components/payments/Mobile/Table/TableHeader.tsx
  app/javascript/src/components/payments/Mobile/Table/TableRow.tsx
  app/javascript/src/components/payments/PaymentSearch/SearchDropdown.tsx
  app/javascript/src/components/payments/PaymentSearch/index.tsx
  app/javascript/src/components/payments/Table/TableHeader.tsx
  app/javascript/src/components/payments/Table/TableRow.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
Due: lint-staged

docs: add focused rspec autoresearch lane
  docs/ai/autoresearch-plan.md
  docs/experiments/2026-04-14T16-54-06-auth_pages_request_spec.md
  docs/experiments/2026-04-14T16-54-50-docs_consistency.md
  docs/experiments/README.md
  script/autoresearch/run.sh
Due: none

docs: add browser smoke autoresearch lane
  docs/ai/autoresearch-plan.md
  docs/experiments/2026-04-14T16-58-37-browser_root_smoke.md
  docs/experiments/2026-04-14T16-58-37-docs_consistency.md
  docs/experiments/README.md
  script/autoresearch/run.sh
Due: none

fix: harden timer flows and system harness
  app/javascript/src/components/Profile/Organization/Holidays/EditHolidays/utils.js
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
  app/javascript/src/components/Profile/Organization/Holidays/utils.js
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
  spec/support/session_helpers.rb
  spec/support/system_select_helpers.rb
  spec/system/time_tracking/add_entry_spec.rb
  spec/system/time_tracking/crud_spec.rb
Due: lint-staged, rubocop

fix: localize remaining mounted organization flows
  app/javascript/src/components/Clients/ClientForm/formValidationSchema.ts
  app/javascript/src/components/Invoices/Invoice/ViewHistory/utils.ts
  app/javascript/src/components/OrganizationSetup/CompanyDetailsForm/utils.ts
  app/javascript/src/components/Profile/Organization/Edit/OrgEditForm.tsx
  app/javascript/src/components/Profile/Organization/Edit/Page.tsx
  app/javascript/src/components/Profile/Organization/Edit/index.tsx
  app/javascript/src/components/Profile/Organization/Import/importModal.tsx
  app/javascript/src/components/Profile/Organization/Import/index.tsx
  app/javascript/src/components/Profile/Organization/Popups/DisconnectPayment.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/validationSchema.ts
  app/javascript/src/components/Profile/Schema/employmentSchema.ts
  app/javascript/src/components/ui/animated-time-input.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
Due: lint-staged

fix: remove heavy outlines in mark-as-paid modal
  app/javascript/src/components/Invoices/Invoice/MarkInvoicePaidModal.tsx
Due: lint-staged

fix: align transaction type select styling in mark-paid modal
  app/javascript/src/components/Invoices/Invoice/MarkInvoicePaidModal.tsx
Due: lint-staged

refactor: replace mark-paid transaction type dropdown
  app/javascript/src/components/Invoices/Invoice/MarkInvoicePaidModal.tsx
Due: lint-staged

fix: remove desktop transaction type label in mark-paid modal
  app/javascript/src/components/Invoices/Invoice/MarkInvoicePaidModal.tsx
Due: lint-staged

feat: add waive-off invoice action in modern invoice UI
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/services/invoiceApi.ts
Due: lint-staged

fix: stabilize mark-paid modal fields in dark mode
  app/javascript/src/components/Invoices/Invoice/MarkInvoicePaidModal.tsx
Due: lint-staged

fix: remove duplicate profile edit actions
  app/javascript/src/components/Profile/Personal/User/PersonalProfileSummary.tsx
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

fix: improve dark-mode react-select contrast
  app/javascript/src/common/CustomReactSelectStyle/Styles/index.ts
Due: lint-staged

fix: wrap long timer descriptions in save dialog
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
Due: lint-staged

docs(workflow): add DESIGN.md and load-on-demand links
  AGENTS.md
  DESIGN.md
  RTK.md
Due: none

fix: recover SPA sessions across deploy-time asset mismatches
  app/javascript/entrypoints/application.tsx
  app/javascript/src/apis/api.ts
  app/javascript/src/common/AppErrorBoundary/index.tsx
  app/javascript/src/common/RouteErrorBoundary/index.tsx
  app/javascript/src/utils/runtimeRecovery.ts
  docs/ai/production.md
  docs/ai/testing.md
Due: lint-staged

fix: translate deploy recovery error states
  app/javascript/src/common/AppErrorBoundary/index.tsx
  app/javascript/src/common/RouteErrorBoundary/index.tsx
  app/javascript/src/i18n/locales/bn.ts
  app/javascript/src/i18n/locales/de.ts
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/es.ts
  app/javascript/src/i18n/locales/fr.ts
  app/javascript/src/i18n/locales/gu.ts
  app/javascript/src/i18n/locales/hi.ts
  app/javascript/src/i18n/locales/id.ts
  app/javascript/src/i18n/locales/it.ts
  app/javascript/src/i18n/locales/ja.ts
  app/javascript/src/i18n/locales/kn.ts
  app/javascript/src/i18n/locales/ko.ts
  app/javascript/src/i18n/locales/ml.ts
  app/javascript/src/i18n/locales/mr.ts
  app/javascript/src/i18n/locales/nl.ts
  app/javascript/src/i18n/locales/pa.ts
  app/javascript/src/i18n/locales/pt-BR.ts
  app/javascript/src/i18n/locales/ta.ts
  app/javascript/src/i18n/locales/te.ts
  app/javascript/src/i18n/locales/tr.ts
  app/javascript/src/i18n/locales/ur.ts
  app/javascript/src/i18n/locales/zh-CN.ts
Due: lint-staged

fix(auth): harden bootstrap session recovery
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Main.tsx
  app/javascript/src/context/UserContext.tsx
Due: lint-staged

fix(invoices): correct dark mode styling in mark paid modal
  app/javascript/src/components/Invoices/Invoice/MarkInvoicePaidModal.tsx
Due: lint-staged

fix(ui): normalize modal theme tokens for dark and light
  app/javascript/src/StyledComponents/Modal/index.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/index.tsx
  app/javascript/src/components/Expenses/List/Container/Table/MoreOptions.tsx
  app/javascript/src/components/Invoices/List/MoreOptions.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/Footer.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/TimeEntrySelectionTable.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/index.tsx
  app/javascript/src/components/Invoices/common/InvoiceForm/SendInvoice/index.tsx
  app/javascript/src/components/TimesheetEntries/EnhancedTimeEntryDialog.tsx
Due: lint-staged

fix(invoices): normalize chart counts and status totals
  app/javascript/src/components/Invoices/AdminDashboard/index.tsx
  app/javascript/src/components/Invoices/ChartWithSummary/index.tsx
  app/javascript/src/components/Invoices/CompactInvoiceSummary/index.tsx
  app/javascript/src/components/Invoices/InvoiceSummary/index.tsx
Due: lint-staged

chore: enforce council gate on pre-push
  lefthook.yml
  script/enforce_council_gate.sh
Due: none

fix(invoices): use canonical analytics stats for dashboard charts
  app/controllers/api/v1/invoices/analytics_controller.rb
  app/javascript/src/components/Invoices/AdminDashboard/index.tsx
  app/javascript/src/components/Invoices/ChartWithSummary/index.tsx
  app/javascript/src/components/Invoices/MonthlyRevenueChart/index.tsx
  spec/requests/api/v1/invoices/analytics_spec.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
