Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

fix(queue): disable recurring tasks in production worker
  config/solid_queue.yml
Due: none

Revert "fix(queue): disable recurring tasks in production worker"
  config/solid_queue.yml
Due: none

fix(queue): add missing solid queue recurring task migrations
  db/migrate/20260307031734_create_recurring_tasks.solid_queue.rb
  db/migrate/20260307031735_add_name_to_processes.solid_queue.rb
  db/migrate/20260307031736_make_name_not_null.solid_queue.rb
  db/migrate/20260307031737_change_solid_queue_recurring_tasks_static_to_not_null.solid_queue.rb
Due: lint-staged, rubocop

perf(runtime): tune defaults for lower-cost render plans
  config/database.yml
  config/puma.rb
  config/solid_queue.yml
Due: lint-staged, rubocop

feat(reports): sort financial client lists by top amount
  app/services/reports/accounts_aging/fetch_overdue_amount.rb
  app/services/reports/client_revenues/report_decorator.rb
  app/services/reports/outstanding_overdue_invoices/report_decorator.rb
  spec/requests/api/v1/reports/accounts_aging/index_spec.rb
  spec/requests/api/v1/reports/outstanding_overdue_invoices/index_spec.rb
Due: lint-staged, rubocop

fix(settings): stabilize protected settings routes on reload
  app/javascript/src/components/Dashboard/Home.tsx
  app/javascript/src/components/Profile/Layout/RouteConfig.tsx
Due: lint-staged

fix(settings): correct nested matcher paths for settings routes
  app/javascript/src/components/Profile/Layout/RouteConfig.tsx
Due: lint-staged

fix(settings): match settings subroutes under wildcard base
  app/javascript/src/components/Profile/Layout/RouteConfig.tsx
Due: lint-staged

feat(ui): align chart/theme polish and tighten role navigation
  .github/workflows/validations.yml
  app/javascript/src/common/ChartBar/index.tsx
  app/javascript/src/common/Loader/index.tsx
  app/javascript/src/common/MiruLogoWatermark/index.tsx
  app/javascript/src/common/ThemeToggle/index.tsx
  app/javascript/src/components/Authentication/AuthThemeToggle.tsx
  app/javascript/src/components/Authentication/SignIn/SignInForm.tsx
  app/javascript/src/components/Authentication/SignIn/index.tsx
  app/javascript/src/components/Authentication/SignUp/SignUpForm.tsx
  app/javascript/src/components/Authentication/SignUp/index.tsx
  app/javascript/src/components/Clients/Details/TotalHoursChart.tsx
  app/javascript/src/components/Clients/TotalHoursChart.tsx
  app/javascript/src/components/Dashboard/DashboardHome.tsx
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Dashboard/Home.tsx
  app/javascript/src/components/Dashboard/MonochromeCharts.tsx
  app/javascript/src/components/Invoices/AdminDashboard/index.tsx
  app/javascript/src/components/Invoices/ChartWithSummary/index.tsx
  app/javascript/src/components/Invoices/List/Header.tsx
  app/javascript/src/components/Invoices/MonthlyRevenueChart/index.tsx
  app/javascript/src/components/Profile/Layout/Header.tsx
  app/javascript/src/components/Profile/Organization/Details/ModernOrganizationSettings.tsx
  app/javascript/src/components/Profile/Organization/Holidays/ModernHolidaysEditor.tsx
  app/javascript/src/components/Profile/Organization/Payment/ModernPaymentSettings.tsx
  app/javascript/src/components/Profile/Personal/Devices/Edit/ModernEditPage.tsx
  app/javascript/src/components/Projects/Details/TotalHoursChart.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/ModernOutstandingInvoiceReport.tsx
  app/javascript/src/components/Reports/PaymentReport/CleanPaymentReport.tsx
  app/javascript/src/components/Reports/ReportsTable.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/ModernRevenueByClientReport.tsx
  app/javascript/src/components/Reports/TimeEntryReport/index.tsx
  app/javascript/src/components/TimeTracking/Header.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/payments/PaymentsTable.tsx
  app/javascript/src/constants/routes.ts
  app/javascript/src/utils/dashboardUrl.ts
  app/javascript/stylesheets/application.scss
  db/schema.rb
  spec/system/role_access_spec.rb
Due: lint-staged, rubocop

feat(billing): add stripe-hosted membership settings flow
  app/controllers/api/v1/subscriptions_controller.rb
  app/javascript/src/components/Profile/Layout/routes.tsx
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  spec/requests/api/v1/subscriptions_controller_spec.rb
  spec/system/settings/billing_spec.rb
  spec/system_skip/accounts_aging_calculation_spec.rb
  spec/system_skip/accounts_aging_reports_spec.rb
  spec/system_skip/client_revenue_reports_spec.rb
  spec/system_skip/currency_conversion_analytics_spec.rb
  spec/system_skip/multi_currency_flow_spec.rb
  spec/system_skip/multi_currency_payments_spec.rb
Due: lint-staged, rubocop

test(dashboard): align revenue card copy assertion
  spec/system/dashboard_spec.rb
Due: lint-staged, rubocop

feat(ui): rename sidebar subtitle and add responsive page smoke spec
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  spec/system/responsive/pages_spec.rb
Due: lint-staged, rubocop

test(system): expand responsive coverage for owner routes
  spec/system/responsive/pages_spec.rb
Due: lint-staged, rubocop

fix(deploy): skip pnpm rebuild in docker image builds
  Dockerfile
Due: none

fix(billing): restore subscriptions api export
  app/javascript/src/apis/api.ts
Due: lint-staged

fix: multiple UI/UX fixes and Ruby 3.4 compatibility
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/clients_controller.rb
  app/controllers/users/confirmations_controller.rb
  app/javascript/src/common/CustomCheckbox.tsx
  app/javascript/src/components/Authentication/EmailVerification/EmailVerificationSuccess.tsx
  app/javascript/src/components/Clients/ClientForm/UploadLogo.tsx
  app/javascript/src/components/Clients/ClientForm/index.tsx
  app/javascript/src/components/Clients/ClientForm/utils.ts
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/javascript/src/components/Dashboard/Sidebar.tsx
  app/javascript/src/components/Main.tsx
  app/javascript/src/components/OrganizationSetup/CompanyDetailsForm/index.tsx
  app/javascript/src/components/OrganizationSetup/FinancialDetailsForm/index.tsx
  app/javascript/src/components/Routes/AppRouter.tsx
  app/javascript/src/components/TimeTracking/EntryForm.tsx
  app/javascript/src/components/TimeTracking/MobileView/MobileEntryForm.tsx
  app/javascript/src/components/TimeTracking/MonthCalender.tsx
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/ui/card.tsx
  app/javascript/src/components/ui/dialog.tsx
  app/javascript/src/components/ui/dropdown-menu.tsx
  app/javascript/src/components/ui/select.tsx
  app/views/devise/confirmations/new.html.erb
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/devise/mailer/email_changed.html.erb
  app/views/devise/mailer/password_change.html.erb
  app/views/devise/mailer/unlock_instructions.html.erb
  app/views/devise/shared/_footer.html.erb
  config/environments/development.rb
  tailwind.config.js
Due: lint-staged, rubocop

fix: pnpm linting issues fixed
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
Due: lint-staged

fix: prevent text overlapping in invoice PDF layout (#2021)
  app/views/pdfs/invoices.html.erb
Due: none

fix: prevent duplicate StripeConnectedAccount on concurrent requests (#2030)
  app/controllers/internal_api/v1/payment_settings_controller.rb
  spec/requests/internal_api/v1/payment_settings/connect_stripe_spec.rb
Due: lint-staged, rubocop

fix: handle UTF-16LE encoding errors in Rack request parsing (#2032)
  config/initializers/encoding_sanitizer.rb
  spec/middleware/encoding_sanitizer_spec.rb
Due: lint-staged, rubocop

Review changes
  app/javascript/src/components/LeaveManagement/Container/LeaveBlock.tsx
Due: lint-staged

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
