Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): remove previous employment mass assignment
  app/controllers/api/v1/users/previous_employments_controller.rb
  spec/requests/api/v1/users/previous_employments_controller_spec.rb
Due: lint-staged, rubocop

chore(google): update ga id and cover support links
  app/javascript/src/components/Authentication/SignUp/PrivacyPolicyModal.tsx
  app/javascript/src/components/Authentication/SignUp/TermsOfServiceModal.tsx
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/constants/index.tsx
  app/javascript/src/utils/googleAnalytics.ts
  spec/mailers/devise_mailer_spec.rb
  spec/mailers/user_invitation_mailer_spec.rb
  spec/system/settings/billing_spec.rb
  spec/system/users/auth_flows_spec.rb
Due: lint-staged, rubocop

fix(dashboard): default to ytd and correct invoice recency
  .gitignore
  app/controllers/api/v1/dashboard_controller.rb
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/services/invoiceApi.ts
  app/presenters/dashboard_presenter.rb
  config/data_subsets/miru.yml
  config/routes.rb
  docs/talks/gstack-miru-time-entry-date-guard.md
  spec/requests/api/v1/dashboard_controller_spec.rb
  spec/routing/sent_emails_routing_spec.rb
  spec/services/invoices/index_service_spec.rb
  spec/services/reports/accounts_aging/fetch_overdue_amount_spec.rb
  spec/system/invoices/index_spec.rb
Due: lint-staged, rubocop

fix(time-tracking): clarify active week and save date
  app/javascript/src/components/TimeTracking/EntryForm.tsx
  app/javascript/src/components/TimeTracking/Header.tsx
  app/javascript/src/components/TimeTracking/WeekDaySelector.tsx
  spec/system/time_tracking/add_entry_spec.rb
Due: lint-staged, rubocop

chore: prepare 3.0.0 release and Render deployment
  .github/workflows/docker-build.yml
  .github/workflows/validations.yml
  AGENTS.md
  CHANGELOG.md
  Dockerfile
  Dockerfile.kamal
  README.md
  VERSION
  app.json
  bin/deploy-hetzner
  bin/deploy-review-app
  bin/setup-1password-secrets
  config/deploy.kamal.yml
  config/deploy.yml
  deploy_kamal.sh
  deployment/fly/Dockerfile
  deployment/fly/fly.production.toml
  deployment/fly/fly.production_without_worker.toml
  deployment/fly/fly.staging.toml
  deployment/fly/fly.staging_without_worker.toml
  docs/README.md
  docs/docs/contributing-guide/deployment/render.md
  docs/docusaurus.config.js
  fly.review.toml
  fly.toml
  lib/tasks/fly.rake
  package.json
  render.yaml
  setup_cloudflare_dns.sh
Due: lint-staged

chore: prepare 3.0.0 release and Render deployment
  .github/workflows/docker-build.yml
  .github/workflows/validations.yml
  AGENTS.md
  CHANGELOG.md
  Dockerfile
  Dockerfile.kamal
  README.md
  VERSION
  app.json
  bin/deploy-hetzner
  bin/deploy-review-app
  bin/setup-1password-secrets
  config/deploy.kamal.yml
  config/deploy.yml
  deploy_kamal.sh
  deployment/fly/Dockerfile
  deployment/fly/fly.production.toml
  deployment/fly/fly.production_without_worker.toml
  deployment/fly/fly.staging.toml
  deployment/fly/fly.staging_without_worker.toml
  docs/README.md
  docs/docs/contributing-guide/deployment/render.md
  docs/docusaurus.config.js
  fly.review.toml
  fly.toml
  lib/tasks/fly.rake
  package.json
  render.yaml
Due: lint-staged

fix: update pro billing to seat-based pricing
  app/controllers/api/v1/subscriptions_controller.rb
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/models/company.rb
  spec/models/company_spec.rb
  spec/requests/api/v1/subscriptions_controller_spec.rb
  spec/system/settings/billing_spec.rb
Due: lint-staged, rubocop

feat(time-tracking): tag ai-assisted cli entries
  app/controllers/api/v1/cli/capabilities_controller.rb
  app/controllers/api/v1/cli/timesheet_entries_controller.rb
  app/controllers/api/v1/time_tracking_controller.rb
  app/javascript/src/components/TimeTracking/EntryCard.tsx
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/models/timesheet_entry.rb
  app/views/api/v1/time_tracking/index.json.jbuilder
  app/views/internal_api/v1/time_tracking/index.json.jbuilder
  db/migrate/20260329144500_add_source_metadata_to_timesheet_entries.rb
  db/schema.rb
  spec/models/timesheet_entry_spec.rb
  spec/policies/client_policy_spec.rb
  spec/requests/api/v1/cli/capabilities/show_spec.rb
  spec/requests/api/v1/cli/timesheet_entries/create_spec.rb
  spec/requests/api/v1/cli/timesheet_entries/update_spec.rb
  spec/requests/api/v1/time_tracking/index_spec.rb
  spec/system/time_tracking/entries_spec.rb
Due: lint-staged, rubocop

feat(mobile): scaffold expo app and add mobile auth
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/concerns/auth_response_payload.rb
  apps/mobile/.gitignore
  apps/mobile/.npmrc
  apps/mobile/App.tsx
  apps/mobile/README.md
  apps/mobile/app.json
  apps/mobile/index.ts
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/api.ts
  apps/mobile/src/config.ts
  apps/mobile/src/types.ts
  apps/mobile/tsconfig.json
  docs/miru-mobile-expo-execution-plan.md
  docs/miru-mobile-expo-plan.md
  package.json
  spec/requests/api/v1/users/sessions/create_spec.rb
Due: lint-staged, rubocop

feat(mobile): add today and week preview screens
  apps/mobile/App.tsx
  apps/mobile/src/types.ts
Due: lint-staged

feat(time-tracking): add inline web timer
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
Due: lint-staged

feat(time-tracking): add shortcut and week-copy workflows
  app/javascript/src/components/TimeTracking/AddEntryButton.tsx
  app/javascript/src/components/TimeTracking/EntryForm.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  docs/time-tracking-parity-plan.md
  spec/system/time_tracking/add_entry_spec.rb
Due: lint-staged, rubocop

feat(lists): add infinite scroll across billing and reports
  app/controllers/api/v1/clients/invoices_controller.rb
  app/controllers/api/v1/invoices_controller.rb
  app/javascript/src/components/ClientInvoices/index.tsx
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/InfiniteScrollRecentlyUpdated.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/RecentlyUpdatedCard.tsx
  app/javascript/src/components/Invoices/List/container.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/components/Invoices/usePaginatedInvoices.ts
  app/javascript/src/components/Reports/PaymentReport/CleanPaymentReport.tsx
  app/javascript/src/components/Reports/PaymentReport/index.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/index.tsx
  app/javascript/src/components/Reports/TimeEntryReport/index.tsx
  app/javascript/src/components/payments/PaymentsTable.tsx
  app/javascript/src/services/invoiceApi.ts
  app/services/expenses/fetch_service.rb
  app/services/invoices/index_service.rb
  app/views/api/v1/invoices/index.json.jbuilder
  spec/services/expenses/fetch_service_spec.rb
  spec/services/invoices/index_service_spec.rb
  spec/system/client_invoices/index_spec.rb
  spec/system/expenses/index_spec.rb
  spec/system/invoices/index_spec.rb
  spec/system/payments/list_spec.rb
  spec/system/reports/index_spec.rb
Due: lint-staged, rubocop

test(expenses): match pagination response contract
  spec/requests/api/v1/expenses/index_spec.rb
Due: lint-staged, rubocop

docs: add reviewed time tracking and agent billing plans
  docs/miru-ai-agent-billing-autoplan.md
  docs/miru-ai-agent-design-shotgun.md
  docs/time-tracking-design-shotgun.md
  docs/time-tracking-parity-plan.md
Due: none

docs: sequence time tracking parity before agent rollout
  docs/miru-ai-agent-billing-autoplan.md
  docs/time-tracking-parity-plan.md
Due: none

feat(ops): add recurring production database backups to R2
  app/jobs/database_backup_job.rb
  app/services/database_backup_service.rb
  config/solid_queue.yml
  render.yaml
  spec/config/solid_queue_schedule_spec.rb
  spec/jobs/database_backup_job_spec.rb
  spec/services/database_backup_service_spec.rb
Due: lint-staged, rubocop

fix(deps): resolve 37 Snyk vulnerabilities in JS dependencies
  package.json
  pnpm-lock.yaml
Due: lint-staged

feat(chat): add Chatbase identity verification endpoint
  app/controllers/api/v1/chatbase_tokens_controller.rb
  app/javascript/src/components/TimeTracking/EntryCard.tsx
  app/javascript/src/components/TimeTracking/EntryDetailsModal.tsx
  app/javascript/src/components/TimeTracking/EntryForm.tsx
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
  app/javascript/src/utils/timeTrackingTimer.ts
  config/initializers/cors.rb
  config/routes/api.rb
  spec/system/time_tracking/add_entry_spec.rb
  spec/system/time_tracking/entries_spec.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
