Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

fix: harden calendar weekday layout and payment date filters
  app/javascript/src/common/CustomDatePicker/index.tsx
  app/javascript/src/common/CustomDateRangePicker/index.tsx
  app/javascript/src/common/CustomDateRangeWIthInput/index.tsx
  app/javascript/src/common/CustomYearPicker/SingleYearDatePicker.tsx
  app/javascript/src/components/payments/PaymentFilters.tsx
  app/javascript/stylesheets/application.scss
Due: lint-staged

fix: harden calendar weekday layout and payment date filters (#2156)
  app/javascript/src/common/CustomDatePicker/index.tsx
  app/javascript/src/common/CustomDateRangePicker/index.tsx
  app/javascript/src/common/CustomDateRangeWIthInput/index.tsx
  app/javascript/src/common/CustomYearPicker/SingleYearDatePicker.tsx
  app/javascript/src/components/payments/PaymentFilters.tsx
  app/javascript/stylesheets/application.scss
Due: lint-staged

fix(reminders): dedupe weekly missed-entry reminder emails
  app/services/weekly_reminder_for_missed_entries_service.rb
  db/migrate/20260416194500_add_weekly_reminder_last_sent_for_week_start_to_notification_preferences.rb
  db/schema.rb
  spec/services/weekly_reminder_for_missed_entries_service_spec.rb
Due: lint-staged, rubocop

fix(reminders): prevent duplicate weekly missed-entry emails (#2157)
  app/services/weekly_reminder_for_missed_entries_service.rb
  db/migrate/20260416194500_add_weekly_reminder_last_sent_for_week_start_to_notification_preferences.rb
  db/schema.rb
  spec/services/weekly_reminder_for_missed_entries_service_spec.rb
Due: lint-staged, rubocop

docs(architecture): add diagram preview image
  .gitignore
  docs/contributing-guide/architecture-diagram.md
  docs/static/img/architecture/miru-web-architecture.png
Due: none

docs(verification): add production evidence for issue 2130
  docs/verification/2026-04-16/issue-2130-prod-book_keeper-dashboard.png
  docs/verification/2026-04-16/issue-2130-prod-employee-dashboard.png
  docs/verification/2026-04-16/issue-2130-prod-owner-dashboard.png
Due: none

docs(verification): add production localization evidence for issue 2132
  docs/verification/2026-04-16/issue-2132-prod-hindi-dashboard.png
Due: none

docs(verification): add production evidence screenshots for april issue audit
  screenshots/prod-verification/2026-04-17/client-edit-modal-email-field.png
  screenshots/prod-verification/2026-04-17/clients-page.png
  screenshots/prod-verification/2026-04-17/dashboard-owner.png
  screenshots/prod-verification/2026-04-17/expenses-page.png
  screenshots/prod-verification/2026-04-17/holiday-calendar-employee.png
  screenshots/prod-verification/2026-04-17/holiday-calendar-owner-viewport.png
  screenshots/prod-verification/2026-04-17/holiday-calendar-owner.png
  screenshots/prod-verification/2026-04-17/invoice-line-item-calendar-open.png
  screenshots/prod-verification/2026-04-17/invoice-line-items-modal.png
  screenshots/prod-verification/2026-04-17/invoice-new-form.png
  screenshots/prod-verification/2026-04-17/invoice-new-issue-date-calendar-open.png
  screenshots/prod-verification/2026-04-17/invoice-show-fullpage-bank-details.png
  screenshots/prod-verification/2026-04-17/invoice-show-sent-actions-mark-paid-waive-off.png
  screenshots/prod-verification/2026-04-17/invoices-list-viewport.png
  screenshots/prod-verification/2026-04-17/invoices-list.png
  screenshots/prod-verification/2026-04-17/project-new-form.png
  screenshots/prod-verification/2026-04-17/project-new-modal-client-dropdown-open.png
  screenshots/prod-verification/2026-04-17/project-new-modal.png
  screenshots/prod-verification/2026-04-17/reports-page.png
  screenshots/prod-verification/2026-04-17/team-invite-modal.png
  screenshots/prod-verification/2026-04-17/team-page.png
  screenshots/prod-verification/2026-04-17/time-tracking-add-entry-modal.png
  screenshots/prod-verification/2026-04-17/time-tracking-employee-sidebar.png
  screenshots/prod-verification/2026-04-17/time-tracking-mark-time-off-type-dropdown.png
  screenshots/prod-verification/2026-04-17/time-tracking-mark-time-off.png
  screenshots/prod-verification/2026-04-17/time-tracking-page.png
Due: none

docs(verification): add team delete-user action evidence screenshot
  screenshots/prod-verification/2026-04-17/team-row-menu-delete-user-option.png
Due: none

docs(verification): add production repro evidence for issue 2158
  screenshots/prod-verification/2026-04-17/issue-2158-draft-menu-no-delete.png
  screenshots/prod-verification/2026-04-17/issue-2158-invoice-new-no-horizontal-overflow.png
  screenshots/prod-verification/2026-04-17/issue-2158-line-item-alignment.png
  screenshots/prod-verification/2026-04-17/issue-2158-zero-rate-qty-save-enabled.png
Due: none

fix(invoices): block zero-value submits and restore draft delete action
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/index.tsx
Due: lint-staged

refactor: redesign Holiday Calendar page with tabbed layout
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
Due: lint-staged

fix(projects): force fresh data on projects page mount and focus
  app/javascript/src/components/Projects/ProjectsTable.tsx
Due: lint-staged

Fix draft invoice actions and zero-value submit guards (#2160)
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/index.tsx
Due: lint-staged

Fix stale Projects stats by refetching on mount and focus (#2164)
  app/javascript/src/components/Projects/ProjectsTable.tsx
Due: lint-staged

fix(leaves): polish my-leaves calendar behavior and table layout
  app/javascript/src/components/LeaveManagement/Container/Table/TableHeader.tsx
  app/javascript/src/components/LeaveManagement/Container/Table/TableRow.tsx
  app/javascript/src/components/LeaveManagement/Container/Table/index.tsx
  app/javascript/src/components/LeaveManagement/LeaveManagementContent.tsx
  app/javascript/src/components/ui/calendar.tsx
Due: lint-staged

fix(my-leaves): resolve calendar selection and layout bugs on leave page (#2166)
  app/javascript/src/components/LeaveManagement/Container/Table/TableHeader.tsx
  app/javascript/src/components/LeaveManagement/Container/Table/TableRow.tsx
  app/javascript/src/components/LeaveManagement/Container/Table/index.tsx
  app/javascript/src/components/LeaveManagement/LeaveManagementContent.tsx
  app/javascript/src/components/ui/calendar.tsx
Due: lint-staged

refactor(holidays): redesign holiday calendar with full-width tabs (#2168)
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
Due: lint-staged

feat(analytics): finalize analytics module and employee navigation access
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  spec/system/navigation_spec.rb
Due: lint-staged, rubocop

feat(analytics): implement advanced analytics module with forecasting, exports, and demo data seeding
  app/controllers/internal_api/v1/analytics_exports_controller.rb
  app/services/analytics/demo_seeder.rb
  app/services/pdf_generation/base_service.rb
  lib/tasks/analytics_demo.rake
  spec/jobs/analytics/threshold_notifications_job_spec.rb
  spec/mailers/analytics_mailer_spec.rb
  spec/policies/analytics_report_policy_spec.rb
  spec/requests/internal_api/v1/analytics_exports_controller_spec.rb
  spec/services/analytics/demo_seeder_spec.rb
  spec/services/analytics/query_service_spec.rb
  spec/system/analytics/saved_reports_spec.rb
Due: lint-staged, rubocop

refactor(forms): unify control styles across light and dark themes
  app/javascript/src/common/CustomInputText/index.tsx
  app/javascript/src/common/CustomReactSelectStyle/ErrStyles/index.ts
  app/javascript/src/common/CustomReactSelectStyle/Styles/index.ts
  app/javascript/src/common/CustomReactSelectStyle/shared.ts
  app/javascript/src/components/ui/animated-input.tsx
  app/javascript/src/components/ui/animated-select.tsx
  app/javascript/src/components/ui/animated-textarea.tsx
  app/javascript/src/components/ui/form-control-classes.ts
  app/javascript/src/components/ui/input.tsx
  app/javascript/src/components/ui/select.tsx
  app/javascript/src/components/ui/textarea.tsx
  app/javascript/stylesheets/application.scss
Due: lint-staged

fix(profile): correct team member back navigation route
  app/javascript/src/components/Profile/Layout/Header.tsx
Due: lint-staged

fix(team): include hours and project metrics in team index response
  app/services/team/index_decorator.rb
  app/views/api/v1/team/index.json.jbuilder
  app/views/internal_api/v1/team/index.json.jbuilder
  spec/requests/api/v1/team/index_spec.rb
  spec/services/team/index_decorator_spec.rb
Due: lint-staged, rubocop

fix(leaves): align calendar navigation and selected date styling
  app/javascript/src/components/LeaveManagement/LeaveManagementContent.tsx
  app/javascript/src/components/ui/calendar.tsx
Due: lint-staged

fix(invoices): move summary stats above invoice table
  app/javascript/src/components/Invoices/InvoiceList.tsx
Due: lint-staged

fix(invoices): show sorting indicator on issue date column
  app/javascript/src/components/Invoices/InvoiceList.tsx
Due: lint-staged

fix(time-tracking): prevent copy button form submission
  app/javascript/src/components/TimeTracking/AddEntryButton.tsx
Due: lint-staged

fix(invoices): polish invoice editor layout and print flow
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/common/InvoiceTable/index.tsx
  app/javascript/src/components/Invoices/common/ManualEntry/index.tsx
  app/javascript/src/components/Invoices/common/NewLineItemRow/LineItemEditorRow.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/components/ui/calendar.tsx
Due: lint-staged

fix(clients): mark all required fields in add client form
  app/javascript/src/components/Clients/ClientForm/ClientEditor.tsx
  app/javascript/src/components/Clients/ClientForm/MobileClientEditor.tsx
Due: lint-staged

fix(reminders): normalize legacy hourly timesheet totals
  app/services/weekly_reminder_for_missed_entries_service.rb
  spec/services/weekly_reminder_for_missed_entries_service_spec.rb
Due: lint-staged, rubocop

fix(clients): prevent blank-email create 500 and polish action menu
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/models/client.rb
  spec/requests/api/v1/clients/create_spec.rb
Due: lint-staged, rubocop

feat(team): warn about active work before member removal
  app/controllers/api/v1/team_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Team/TeamTable.tsx
  app/services/team/removal_impact_service.rb
  config/routes/api.rb
  spec/requests/api/v1/team/removal_impact_spec.rb
Due: lint-staged, rubocop

fix(team): render status badges from normalized status strings
  app/javascript/src/mapper/team.mapper.ts
  app/views/api/v1/team/index.json.jbuilder
  spec/requests/api/v1/team/index_spec.rb
Due: lint-staged, rubocop

fix(team): preserve status boolean with statusText fallback
  app/javascript/src/mapper/team.mapper.ts
  app/views/api/v1/team/index.json.jbuilder
  spec/requests/api/v1/team/index_spec.rb
Due: lint-staged, rubocop

chore(team): align statusText key and mapper compatibility
  app/javascript/src/mapper/team.mapper.ts
  app/views/api/v1/team/index.json.jbuilder
Due: lint-staged

refactor(team): document status compatibility and typed mapper
  app/javascript/src/mapper/team.mapper.ts
  app/views/api/v1/team/index.json.jbuilder
  spec/requests/api/v1/team/index_spec.rb
Due: lint-staged, rubocop

fix(auth): improve disabled button contrast on auth forms
  app/javascript/src/components/Authentication/ForgotPassword/index.tsx
  app/javascript/src/components/Authentication/ResetPassword/index.tsx
  app/javascript/src/components/Authentication/SignIn/SignInForm.tsx
  app/javascript/src/components/Authentication/SignUp/SignUpForm.tsx
Due: lint-staged

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
