Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

chore: remove New Relic monitoring integration
  .env.example
  app/helpers/application_helper.rb
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Invoices/InvoicePreview.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Navbar/ModernNavbar.tsx
  app/javascript/src/components/Profile/Organization/Details/ModernOrganizationSettings.tsx
  app/javascript/src/components/Profile/Organization/Holidays/ModernHolidaysEditor.tsx
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/User/StaticPage.tsx
  app/javascript/src/components/ui/status-badge.tsx
  app/javascript/src/constants/branding.ts
  app/views/home/index.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/turbo_native.html.erb
  config/application.rb
  config/newrelic.yml
Due: lint-staged, rubocop

fix: resolve JavaScript linting issues and verify build
  app/helpers/application_helper.rb
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Invoices/common/utils.js
  app/javascript/src/components/Navbar/ModernNavbar.tsx
  app/views/layouts/application.html.erb
  app/views/layouts/turbo_native.html.erb
  config/application.rb
  config/locales/branding.en.yml
Due: lint-staged, rubocop

fix: invoice actions - download, send, edit and creation functionality
  app/javascript/src/components/Invoices/InvoiceEditor.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/services/invoiceApi.ts
  config/application.rb
Due: lint-staged, rubocop

fix(invoice): repair invoice preview actions and edit functionality
  app/controllers/api/v1/invoices_controller.rb
  app/javascript/src/components/Invoices/Edit/index.tsx
  app/javascript/src/components/Invoices/Invoice/index.tsx
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/InvoicePreview.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/RouteConfig.tsx
  app/javascript/src/components/Invoices/common/utils.js
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/constants/routes.ts
  app/javascript/src/services/invoiceApi.ts
  app/mailers/invoice_mailer.rb
  app/services/pdf_generation/base_service.rb
  playwright/e2e/invoice-send-download.spec.ts
Due: lint-staged, rubocop

fix(invoice): repair invoice preview actions and edit functionality
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/index.tsx
Due: lint-staged

fix(invoice): resolve edit page crash by formatting address objects
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/index.tsx
Due: lint-staged

use ferrum in place of grover
  Gemfile
  Gemfile.lock
  app/controllers/internal_api/v1/invoices_controller.rb
  app/mailers/invoice_mailer.rb
  app/mailers/send_reminder_mailer.rb
  app/models/invoice.rb
  app/services/invoice_payment/pdf_generation.rb
  app/services/pdf_generation/base_service.rb
  app/services/pdf_generation/html_template_service.rb
  app/services/pdf_generation/invoice_service.rb
  config/initializers/grover.rb
  lib/pdf/html_generator.rb
  lib/pdf/temporary.rb
Due: lint-staged, rubocop

use chrome and ferrum initializer
  app/javascript/src/components/Invoices/common/utils.js
  app/services/pdf_generation/base_service.rb
  config/initializers/ferrum_pdf.rb
  deployment/fly/Dockerfile
Due: lint-staged, rubocop

Bump version to 1.9.1
  package.json
Due: lint-staged

Bump version to 1.9.1 (#2006)
  package.json
Due: lint-staged

fix: use Elasticsearch version 7 in CI workflow
  .github/workflows/validations.yml
Due: none

Need to do it manually as the author of pre-packaged installer removed the support for ElasticSearch 7.X
  .github/workflows/validations.yml
Due: none

chore: update gems to fix security vulnerabilities
  Gemfile.lock
Due: none

fix: migrate Reports::GeneratePdf to use new PdfGeneration services
  app/services/reports/generate_pdf.rb
  spec/requests/internal_api/v1/invoices/send_invoice_spec.rb
  spec/services/reports/generate_pdf_spec.rb
  spec/services/reports/time_entries/download_service_spec.rb
Due: lint-staged, rubocop

fix: resolve PDF encoding error and Rails 7.1 deprecation warning
  app/models/invoice.rb
  spec/rails_helper.rb
Due: lint-staged, rubocop

fix: improve setup script and time entries spec
  bin/setup
  spec/services/reports/time_entries/download_service_spec.rb
Due: lint-staged, rubocop

use ferrum in place of grover (#2003)
  .github/workflows/validations.yml
  Gemfile
  Gemfile.lock
  app/controllers/internal_api/v1/invoices_controller.rb
  app/javascript/src/components/Invoices/common/utils.js
  app/mailers/invoice_mailer.rb
  app/mailers/send_reminder_mailer.rb
  app/models/invoice.rb
  app/services/invoice_payment/pdf_generation.rb
  app/services/pdf_generation/base_service.rb
  app/services/pdf_generation/html_template_service.rb
  app/services/pdf_generation/invoice_service.rb
  app/services/reports/generate_pdf.rb
  bin/setup
  config/initializers/elasticsearch.rb
  config/initializers/ferrum_pdf.rb
  config/initializers/grover.rb
  deployment/fly/Dockerfile
  docs/docs/contributing-guide/setup/macos.md
  docs/docs/contributing-guide/setup/ubuntu_debian.md
  docs/docs/contributing-guide/setup/windows.md
  lib/pdf/html_generator.rb
  lib/pdf/temporary.rb
  spec/rails_helper.rb
  spec/requests/internal_api/v1/invoices/send_invoice_spec.rb
  spec/services/reports/generate_pdf_spec.rb
  spec/services/reports/time_entries/download_service_spec.rb
Due: lint-staged, rubocop

fix: add CSS inlining for production email styling (#2014)
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/mailers.css
  app/views/devise/mailer/reset_password_instructions.html.erb
  app/views/devise/shared/_footer.html.erb
  app/views/mailers/send_weekly_reminder_to_user_mailer/notify_user_about_missed_entries.html.erb
  app/views/mailers/user_invitation_mailer/send_user_invitation.html.erb
  config/initializers/premailer_rails.rb
  lib/tasks/test_email.rake
  spec/mailers/email_styling_spec.rb
Due: lint-staged, rubocop

Enable plain-text emails and clean up test data
  config/initializers/premailer_rails.rb
  lib/tasks/test_email.rake
Due: lint-staged, rubocop

Fixes as per dependabot to avoid getting errors on email
  lib/tasks/test_email.rake
Due: none

feat: Add visual styling to Devise and reminder email templates
  app/views/devise/mailer/confirmation_instructions.html.erb
  app/views/devise/mailer/email_changed.html.erb
  app/views/devise/mailer/password_change.html.erb
  app/views/mailers/send_weekly_reminder_to_user_mailer/notify_user_about_missed_entries.html.erb
  lib/tasks/test_email.rake
  spec/mailers/email_styling_spec.rb
Due: lint-staged, rubocop
