Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

Add webpack asset compilation step to CI workflow
  .github/workflows/validations.yml
Due: none

Bump Rails from 7.1.5.1 to 7.2.0
  Gemfile
  Gemfile.lock
  bin/rubocop
  bin/setup
  config/cable.yml
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/ferrum_pdf.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/new_framework_defaults_7_2.rb
  public/406-unsupported-browser.html
  public/icon.png
  public/icon.svg
Due: lint-staged, rubocop

Fix failing specs: stub PDF generation and correct timeoff test expectation
  spec/services/timeoff_entries/index_service_spec.rb
  spec/support/pdf_generation_helpers.rb
Due: lint-staged, rubocop

Security: Update httparty and shakapacker to fix vulnerabilities
  Gemfile
  Gemfile.lock
Due: none

fix: upgrade database_cleaner and configure Ferrum for Rails 7.2/Ruby 3.4 compatibility
  Gemfile
  Gemfile.lock
  config/initializers/ferrum_pdf.rb
Due: lint-staged, rubocop

fix: disable nested_entries in shakapacker config
  config/shakapacker.yml
Due: none

Fix PDF test timeouts by mocking FerrumPdf browser initialization
  .devcontainer/docker-compose.yml
  Procfile.dev
  config/initializers/ferrum_pdf.rb
  spec/mailers/invoice_mailer_spec.rb
  spec/mailers/send_reminder_mailer_spec.rb
  spec/requests/internal_api/v1/invoices/download_spec.rb
  spec/requests/internal_api/v1/invoices/send_invoice_spec.rb
  spec/requests/internal_api/v1/reports/time_entry/download_spec.rb
  spec/services/bulk_invoice_download_service_spec.rb
  spec/support/ferrum_pdf.rb
Due: lint-staged, rubocop

Fix webpack config for shakapacker 9.x API change
  config/webpack/base.js
Due: lint-staged

Add missing babel-plugin-dynamic-import-node dependency
  package.json
  yarn.lock
Due: lint-staged

fix: resolve DoubleRenderError, unsafe migration, and Docker version mismatches
  .devcontainer/Dockerfile
  .github/workflows/validations.yml
  Dockerfile.local
  app/controllers/internal_api/v1/users/confirmations_controller.rb
  app/controllers/internal_api/v1/users/passwords_controller.rb
  app/models/client.rb
  app/models/invoice.rb
  db/migrate/20260120064206_add_solid_queue_recurring_tasks.rb
Due: lint-staged, rubocop

Fix Ruby 3.4.8 compatibility issues
  Gemfile
  Gemfile.lock
  Procfile.dev
  config/shakapacker.yml
  config/webpack/base.js
  config/webpack/development.js
  config/webpack/production.js
  config/webpack/test.js
  db/migrate/20260120064206_add_solid_queue_recurring_tasks.rb
  yarn.lock
Due: lint-staged, rubocop

fix: prevent invoice update failure when removing line items without timesheet entries
  .bundler-audit.yml
  Gemfile
  Gemfile.lock
  app/models/invoice_line_item.rb
  app/services/timeoff_entries/index_service.rb
  spec/models/invoice_line_item_spec.rb
  spec/requests/internal_api/v1/invoices/update_spec.rb
Due: lint-staged, rubocop

fix: prevent invoice update failure when removing line items without … (#2041)
  .bundler-audit.yml
  Gemfile
  Gemfile.lock
  app/models/invoice_line_item.rb
  app/services/timeoff_entries/index_service.rb
  spec/models/invoice_line_item_spec.rb
  spec/requests/internal_api/v1/invoices/update_spec.rb
Due: lint-staged, rubocop

Bump version to 1.9.5
  package.json
Due: lint-staged

Bump version to 1.9.5 (#2044)
  package.json
Due: lint-staged

feat: Show holiday validation errors near input fields instead of flash message
  app/controllers/internal_api/v1/holidays_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Profile/Organization/Holidays/EditHolidays/index.tsx
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  app/models/holiday_info.rb
  app/services/bulk_holiday_service.rb
  app/services/timeoff_entries/index_service.rb
  spec/models/holiday_info_spec.rb
  spec/services/bulk_holiday_service_spec.rb
Due: lint-staged, rubocop

fix: resolve VCR test failures and holiday error map index drift
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  spec/cassettes/wise_currency_success.yml
  spec/support/wise_setup.rb
Due: lint-staged, rubocop

fix: add error handling for non-field errors in holiday save operation
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
Due: lint-staged

refactor: scope Wise test setup and clear holiday form errors on cancel
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  spec/models/wise_account_spec.rb
  spec/policies/wise/currency_policy_spec.rb
  spec/policies/wise/recipient_policy_spec.rb
  spec/policies/wise_policy_spec.rb
  spec/requests/internal_api/v1/profiles/bank_account_details_controller_spec.rb
  spec/requests/internal_api/v1/wise/currencies_controller_spec.rb
  spec/requests/internal_api/v1/wise/recipients_controller_spec.rb
  spec/requests/internal_api/v1/wise_controller_spec.rb
  spec/services/wise/api_spec.rb
  spec/services/wise/currency_spec.rb
  spec/services/wise/recipient_spec.rb
  spec/support/wise_setup.rb
Due: lint-staged, rubocop

refactor: implement field-specific error handling and fix state mutations in Holidays component
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
Due: lint-staged

refactor: Removed redundant force_encoding call.
  config/initializers/encoding_sanitizer.rb
Due: lint-staged, rubocop

fix: standardize custom leave icon/color handling and cleanup inconsistencies
  app/javascript/src/components/LeaveManagement/Container/LeaveBlock.tsx
  app/javascript/src/components/LeaveManagement/Container/Table/TableRow.tsx
  app/views/internal_api/v1/time_tracking/index.json.jbuilder
  docs/docs/product-guide/05-time-tracking.md
  spec/services/timeoff_entries/index_service_spec.rb
Due: lint-staged, rubocop

fix: ensure safe color fallbacks and use custom leave attributes
  app/javascript/src/components/LeaveManagement/Container/LeaveBlock.tsx
  app/services/timeoff_entries/index_service.rb
  docs/docs/product-guide/05-time-tracking.md
Due: lint-staged, rubocop

Fixes for failing tests
  app/services/timeoff_entries/index_service.rb
Due: lint-staged, rubocop

fix: exclude .well-known paths from catch-all route
  app/controllers/home_controller.rb
  config/routes.rb
Due: lint-staged, rubocop

fix: gracefully handle Postmark inactive recipient errors
  app/mailers/application_mailer.rb
Due: lint-staged, rubocop

Rspec fixes and coderabbitai review fixes
  app/mailers/application_mailer.rb
  spec/mailers/application_mailer_spec.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
