Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

fix(test): align helper and dashboard expectations
  spec/helpers/navigation_helper_spec.rb
  spec/requests/api/v1/dashboard_controller_spec.rb
Due: lint-staged, rubocop

test(reports): align access expectations
  spec/controllers/api/v1/reports/payments_controller_spec.rb
  spec/policies/client_policy_spec.rb
Due: lint-staged, rubocop

fix(nav): hide client preferences link
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  spec/system/role_access_spec.rb
Due: lint-staged, rubocop

fix(team): prefill member edit form
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  spec/system/teams/index_spec.rb
Due: lint-staged, rubocop

fix(auth): preserve dark mode on password reset
  app/javascript/src/common/useThemeMode.ts
  spec/system/users/login_spec.rb
Due: lint-staged, rubocop

fix(test): raise cuprite startup timeout in ci
  spec/support/capybara.rb
Due: lint-staged, rubocop

test(launch): add browser-driven launch matrix runner
  bin/verify-launch-matrix
  config/launch_matrix.yml
  docs/testing/launch_matrix.md
  script/launch_matrix/verify.mjs
Due: none

fix(devices): restore device management flow
  app/controllers/api/v1/users/devices_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Profile/Personal/Devices/Device.ts
  app/javascript/src/components/Profile/Personal/Devices/Edit/ModernEditPage.tsx
  app/javascript/src/components/Profile/Personal/Devices/Edit/index.tsx
  app/javascript/src/components/Profile/Personal/Devices/index.tsx
  app/policies/users/device_policy.rb
  app/views/api/v1/users/devices/_device.json.jbuilder
  config/routes/api.rb
  spec/requests/api/v1/users/devices/destroy_spec.rb
  spec/system/settings/devices_spec.rb
Due: lint-staged, rubocop

fix(clients): handle empty logos in edit dialog
  app/javascript/src/components/Clients/ClientForm/UploadLogo.tsx
  app/javascript/src/components/Clients/Modals/EditClient.tsx
  spec/system/clients/edit_dialog_spec.rb
Due: lint-staged, rubocop

fix(projects): mark existing member input read only
  app/javascript/src/components/Projects/Details/EditMembersListForm.tsx
Due: lint-staged

test(launch): expand owner verification matrix
  config/launch_matrix.yml
Due: none

fix(app): silence user bootstrap fetch noise
  app/javascript/src/components/AppWithUserData.tsx
Due: lint-staged

fix(payments): move manual entry to dialog
  app/javascript/src/components/payments/Modals/AddManualEntry.tsx
Due: lint-staged

fix(forms): make shared inputs theme aware
  app/javascript/src/common/CustomInputText/index.tsx
  app/javascript/src/common/CustomReactSelectStyle/Styles/index.ts
  app/javascript/src/common/CustomTextareaAutosize.tsx
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
Due: lint-staged

fix(reports): remove nested export buttons
  app/javascript/src/components/Reports/ReportsTable.tsx
Due: lint-staged

test(launch): verify dark mode control visibility
  config/launch_matrix.yml
  script/launch_matrix/verify.mjs
Due: none

test(launch): cover owner action dialogs
  config/launch_matrix.yml
  script/launch_matrix/verify.mjs
Due: none

fix(nav): show profile photo in sidebar
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Dashboard/Sidebar.tsx
  spec/system/role_access_spec.rb
Due: lint-staged, rubocop

feat(auth): add passkey sign-in support
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/users/passkeys_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Authentication/SignIn/SignInForm.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileEditPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/PasskeysPanel.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  app/javascript/src/utils/passkeys.ts
  app/models/passkey.rb
  app/models/user.rb
  app/services/passkeys/challenge_token.rb
  config/routes/api.rb
  db/migrate/20260317120000_add_passkeys_support.rb
  db/migrate/20260317120100_validate_passkeys_user_foreign_key.rb
  db/schema.rb
  spec/requests/api/v1/users/passkeys_spec.rb
  spec/requests/api/v1/users/sessions/create_spec.rb
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

fix(test): stabilize ci boot for passkey branch
  config/environments/test.rb
  spec/support/capybara.rb
Due: lint-staged, rubocop

fix(test): align reports navigation and ci browser startup
  spec/support/capybara.rb
  spec/system/navigation_spec.rb
Due: lint-staged, rubocop
