Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

fix(ci): simplify Docker build workflow
  .devcontainer/Dockerfile
  .github/workflows/docker-build.yml
Due: none

fix: add dashboard activities controller and fix Docker build
  Dockerfile
  app/controllers/api/v1/dashboard/activities_controller.rb
  config/routes/api.rb
Due: lint-staged, rubocop

fix: complete dashboard activities implementation
  app/controllers/api/v1/dashboard/activities_controller.rb
  spec/requests/api/v1/dashboard/activities_controller_spec.rb
Due: lint-staged, rubocop

fix: add missing API view templates
  app/views/api/v1/employments/show.json.jbuilder
  app/views/api/v1/reports/client_revenues/index.json.jbuilder
  app/views/api/v1/reports/client_revenues/new.json.jbuilder
Due: none

fix: add remaining missing API view templates
  app/views/api/v1/expense_categories/create.json.jbuilder
  app/views/api/v1/expenses/_expense.json.jbuilder
  app/views/api/v1/expenses/create.json.jbuilder
  app/views/api/v1/expenses/index.json.jbuilder
  app/views/api/v1/expenses/show.json.jbuilder
  app/views/api/v1/vendors/create.json.jbuilder
Due: none

fix: add missing API view templates and fix test failures
  app/controllers/api/v1/invoices_controller.rb
  app/views/api/v1/generate_invoice/index.json.jbuilder
  app/views/api/v1/invitations/create.json.jbuilder
  app/views/api/v1/invitations/update.json.jbuilder
  app/views/api/v1/invoices/index.json.jbuilder
  app/views/api/v1/payment_settings/connect_stripe.json.jbuilder
  app/views/api/v1/payment_settings/destroy.json.jbuilder
  app/views/api/v1/payment_settings/index.json.jbuilder
  app/views/api/v1/payments/create.json.jbuilder
  app/views/api/v1/payments/index.json.jbuilder
  app/views/api/v1/payments/new.json.jbuilder
  app/views/api/v1/payments/providers/create.json.jbuilder
  app/views/api/v1/payments/providers/index.json.jbuilder
  app/views/api/v1/payments/providers/update.json.jbuilder
  app/views/api/v1/profiles/bank_account_details/index.json.jbuilder
  app/views/api/v1/projects/create.json.jbuilder
  app/views/api/v1/projects/search/index.json.jbuilder
  app/views/api/v1/projects/show.json.jbuilder
  app/views/api/v1/projects/update.json.jbuilder
  app/views/api/v1/reports/accounts_aging/index.json.jbuilder
  app/views/api/v1/reports/outstanding_overdue_invoices/index.json.jbuilder
  app/views/api/v1/reports/time_entries/index.json.jbuilder
Due: lint-staged, rubocop

style: fix rubocop issues in API views
  app/views/api/v1/generate_invoice/index.json.jbuilder
  app/views/api/v1/invitations/create.json.jbuilder
  app/views/api/v1/invitations/update.json.jbuilder
  app/views/api/v1/invoices/index.json.jbuilder
Due: none

fix: add all missing API v1 view templates
  app/views/api/v1/calendars/events.json.jbuilder
  app/views/api/v1/client_members/index.json.jbuilder
  app/views/api/v1/holidays/index.json.jbuilder
  app/views/api/v1/invitations/_invitation.json.jbuilder
  app/views/api/v1/leaves/index.json.jbuilder
  app/views/api/v1/partial/_address.json.jbuilder
  app/views/api/v1/partial/_client.json.jbuilder
  app/views/api/v1/partial/_client_list.json.jbuilder
  app/views/api/v1/partial/_company.json.jbuilder
  app/views/api/v1/partial/_invoice.json.jbuilder
  app/views/api/v1/partial/_invoice_item.json.jbuilder
  app/views/api/v1/partial/_invoice_line_item.json.jbuilder
  app/views/api/v1/profile/_detail.json.jbuilder
  app/views/api/v1/profile/show.json.jbuilder
  app/views/api/v1/projects/_project.json.jbuilder
  app/views/api/v1/reports/client_revenues/new.json.jbuilder
  app/views/api/v1/team/index.json.jbuilder
  app/views/api/v1/team/update.json.jbuilder
  app/views/api/v1/team_members/details/_detail.json.jbuilder
  app/views/api/v1/team_members/details/show.json.jbuilder
  app/views/api/v1/team_members/details/update.json.jbuilder
  app/views/api/v1/time_tracking/index.json.jbuilder
  app/views/api/v1/timeoff_entries/index.json.jbuilder
  app/views/api/v1/users/devices/_device.json.jbuilder
  app/views/api/v1/users/devices/create.json.jbuilder
  app/views/api/v1/users/devices/index.json.jbuilder
  app/views/api/v1/users/devices/show.json.jbuilder
  app/views/api/v1/users/devices/update.json.jbuilder
  app/views/api/v1/users/previous_employments/_previous_employment.json.jbuilder
  app/views/api/v1/users/previous_employments/create.json.jbuilder
  app/views/api/v1/users/previous_employments/index.json.jbuilder
  app/views/api/v1/users/previous_employments/show.json.jbuilder
  app/views/api/v1/users/previous_employments/update.json.jbuilder
  app/views/api/v1/workspaces/index.json.jbuilder
Due: none

fix: resolve remaining spec failures
  app/controllers/api/v1/payments_controller.rb
  app/controllers/api/v1/reports/time_entries_controller.rb
  app/controllers/api/v1/users/previous_employments_controller.rb
  spec/requests/api/v1/payment_settings_controller_spec.rb
  spec/requests/api/v1/reports/time_entries_controller_spec.rb
  spec/requests/api/v1/users/previous_employments_controller_spec.rb
Due: lint-staged, rubocop

style: fix Rubocop offenses
  app/controllers/api/v1/payments_controller.rb
  app/controllers/api/v1/reports/time_entries_controller.rb
  app/controllers/api/v1/users/previous_employments_controller.rb
  spec/requests/api/v1/reports/time_entries_controller_spec.rb
Due: lint-staged, rubocop

fix: correct payment settings destroy action response format
  app/controllers/api/v1/payment_settings_controller.rb
Due: lint-staged, rubocop

test: fix payment settings spec Stripe stubbing issues
  spec/requests/api/v1/payment_settings_controller_spec.rb
Due: lint-staged, rubocop

test: fix all remaining spec failures
  spec/requests/api/v1/payments/new_spec.rb
  spec/requests/api/v1/reports/time_entries_controller_spec.rb
  spec/requests/api/v1/users/previous_employments/create_spec.rb
  spec/requests/api/v1/users/previous_employments_controller_spec.rb
Due: lint-staged, rubocop

feat: import enhanced UI components and utilities from jp pro
  app/javascript/src/components/Invoices/ModernInvoiceCard.tsx
  app/javascript/src/components/ui/accordion.tsx
  app/javascript/src/components/ui/aspect-ratio.tsx
  app/javascript/src/components/ui/breadcrumb.tsx
  app/javascript/src/components/ui/hover-card.tsx
  app/javascript/src/components/ui/navigation-menu.tsx
  app/javascript/src/components/ui/pagination.tsx
  app/javascript/src/components/ui/slider.tsx
  app/javascript/src/components/ui/toggle.tsx
  app/javascript/src/utils/currencyFormatter.ts
  app/javascript/src/utils/dateHelpers.ts
  package.json
  pnpm-lock.yaml
Due: lint-staged
