Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

fix: address CodeRabbit review comments
  app/controllers/api/v1/team_members/notification_preferences_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/apis/reports.ts
Due: lint-staged, rubocop

fix: remove duplicate time_tracking route and unused ransack gem
  Gemfile
  Gemfile.lock
  config/routes/api.rb
Due: lint-staged, rubocop

fix: complete time tracking page improvements
  analyze-time-tracking.spec.ts
  app/javascript/src/components/AdminPages/ClientsPage/index.tsx
  app/javascript/src/components/Invoices/InvoiceEditor.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/InvoicePreview.tsx
  app/javascript/src/components/Profile/Organization/Details/index.tsx
  app/javascript/src/components/Profile/Organization/Payment/ModernPaymentSettings.tsx
  app/javascript/src/components/Profile/Personal/Devices/Edit/ModernEditPage.tsx
  app/javascript/src/components/Reports/AccountsAgingReport/Container/Table/TableRow.tsx
  app/javascript/src/components/Reports/AccountsAgingReport/index.tsx
  app/javascript/src/components/Reports/PaymentReport/index.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/ModernRevenueByClientReport.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/index.tsx
  app/javascript/src/components/Reports/TimeEntryReport/index.tsx
  app/javascript/src/components/Settings/ModernPreferences/index.tsx
  app/javascript/src/components/TimeTracking/EntryDetailsModal.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/helpers/currency.ts
  package.json
  pnpm-lock.yaml
Due: lint-staged

fix: clean up time tracking comments and remove inline entry display
  app/javascript/src/components/TimeTracking/index.tsx
Due: lint-staged

fix: address critical issues from expert review
  app/javascript/src/components/TimeTracking/DatesInWeek.tsx
  app/javascript/src/components/TimeTracking/EntryDetailsModal.tsx
  app/javascript/src/types/timeTracking.ts
  spec/system/time_tracking/add_entry_spec.rb
Due: lint-staged, rubocop

feat: add auto-cancel for GitHub Actions and fix CI
  .github/workflows/playwright.yml
  .github/workflows/validations.yml
Due: none

fix: remove recentlyUpdatedInvoices from API and update frontend
  .github/workflows/playwright.yml
  app/controllers/api/v1/clients/invoices_controller.rb
  app/controllers/api/v1/clients_controller.rb
  app/controllers/api/v1/invoices_controller.rb
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/services/invoiceApi.ts
  app/views/api/v1/invoices/index.json.jbuilder
  playwright.config.ts
  spec/requests/api/v1/invoices/index_spec.rb
  spec/support/shared_examples/company/index_spec_success_response_shared_example.rb
  spec/support/shared_examples/reports/client_revenue/new_success_response_shared_example.rb
Due: lint-staged, rubocop

fix: rubocop and add missing api/v1 view templates
  app/views/api/v1/addresses/_address.json.jbuilder
  app/views/api/v1/addresses/create.json.jbuilder
  app/views/api/v1/addresses/index.json.jbuilder
  app/views/api/v1/addresses/show.json.jbuilder
  app/views/api/v1/addresses/update.json.jbuilder
  app/views/api/v1/clients/_client.json.jbuilder
  app/views/api/v1/clients/create.json.jbuilder
  app/views/api/v1/clients/invoices/index.json.jbuilder
  app/views/api/v1/clients/show.json.jbuilder
  app/views/api/v1/invoices/_invoice.json.jbuilder
  app/views/api/v1/invoices/action_trails/show.json.jbuilder
  app/views/api/v1/invoices/create.json.jbuilder
  app/views/api/v1/invoices/edit.json.jbuilder
  app/views/api/v1/invoices/index.json.jbuilder
  app/views/api/v1/invoices/show.json.jbuilder
  app/views/api/v1/invoices/update.json.jbuilder
  app/views/api/v1/invoices/view/show.json.jbuilder
Due: none

fix: update specs and fix client create status code
  app/controllers/api/v1/clients_controller.rb
  spec/requests/api/v1/invoices/pagination_spec.rb
  spec/requests/api/v1/invoices/recently_updated_controller_spec.rb
Due: lint-staged, rubocop

fix: sanitize faker names in seed file
  db/seeds.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
