Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

chore(data): script post-restore subset normalization
  .gitignore
  bin/restore-sanitized-subset
  docs/sanitized-db-workflow.md
  script/data_subsets/post_restore.rb
Due: lint-staged, rubocop

feat(billing): add stripe-managed subscriptions and plan gating
  .env.example
  app/controllers/api/v1/subscriptions_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Profile/Layout/Navigation/AdminNav.tsx
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/components/ui/button.tsx
  app/jobs/sync_stripe_subscriptions_job.rb
  app/mailers/subscription_mailer.rb
  app/models/company.rb
  app/policies/company_policy.rb
  app/services/handle_stripe_checkout_event_service.rb
  app/services/subscriptions/stripe_sync_service.rb
  app/views/subscription_mailer/trial_started.html.erb
  app/views/subscription_mailer/trial_started.text.erb
  config/routes/api.rb
  config/solid_queue.yml
  db/migrate/20260311120000_add_billing_fields_to_companies.rb
  db/migrate/20260311121000_add_trial_fields_to_companies.rb
  db/migrate/20260311124500_add_stripe_subscription_fields_to_companies.rb
  db/schema.rb
  spec/config/solid_queue_schedule_spec.rb
  spec/jobs/sync_stripe_subscriptions_job_spec.rb
  spec/mailers/subscription_mailer_spec.rb
  spec/models/company_spec.rb
  spec/requests/api/v1/subscriptions_controller_spec.rb
  spec/requests/webhooks/stripe_controller_spec.rb
  spec/services/subscriptions/stripe_sync_service_spec.rb
  spec/system/settings/billing_spec.rb
Due: lint-staged, rubocop

feat(billing): gate pro features and upgrade prompts
  app/controllers/api/v1/invitations_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Profile/Layout/routes.tsx
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/components/Profile/Personal/Automation/index.tsx
  app/javascript/src/components/Reports/AccessGate.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/components/Team/modals/AddEditMember.tsx
  app/javascript/src/constants/routes.ts
  app/javascript/src/lib/planAccess.ts
  app/models/company.rb
  app/policies/profiles/billing_policy.rb
  app/policies/report_policy.rb
  spec/models/company_spec.rb
  spec/policies/report_policy_spec.rb
  spec/requests/api/v1/cli/clients/index_spec.rb
  spec/requests/api/v1/invitations/create_spec.rb
  spec/requests/api/v1/reports/accounts_aging/index_spec.rb
  spec/requests/api/v1/reports/client_revenue/index_spec.rb
  spec/requests/api/v1/reports/client_revenue/new_spec.rb
  spec/requests/api/v1/reports/outstanding_overdue_invoices/index_spec.rb
  spec/requests/api/v1/reports/time_entries_controller_spec.rb
  spec/requests/api/v1/reports/time_entry/download_spec.rb
  spec/requests/api/v1/reports/time_entry/index_spec.rb
  spec/requests/api/v1/subscriptions_controller_spec.rb
  spec/system/reports/index_spec.rb
  spec/system/settings/automation_spec.rb
  spec/system/settings/billing_spec.rb
  spec/system/teams/index_spec.rb
Due: lint-staged, rubocop

fix(ci): run system specs without mise in CI
  bin/system-specs-parallel
Due: none

fix(auth): resolve preview asset imports in CI
  app/javascript/src/components/Authentication/AuthShell.tsx
Due: lint-staged

fix(auth): track preview assets for CI builds
  .gitignore
  app/javascript/assets/images/auth/dashboard-preview-dark.png
  app/javascript/assets/images/auth/dashboard-preview.png
  app/javascript/assets/images/auth/invoices-preview-dark.png
  app/javascript/assets/images/auth/invoices-preview.png
  app/javascript/assets/images/auth/payments-preview-dark.png
  app/javascript/assets/images/auth/payments-preview.png
  app/javascript/assets/images/auth/time-tracking-preview-dark.png
  app/javascript/assets/images/auth/time-tracking-preview.png
Due: none

fix(profile): load personal details with current user workspace
  .gitignore
  Procfile.dev
  app/javascript/src/components/Profile/Personal/User/index.tsx
Due: lint-staged

fix(dashboard): hide finance data for employees
  app/controllers/api/v1/dashboard/activities_controller.rb
  app/javascript/src/components/Dashboard/DashboardHome.tsx
  app/presenters/dashboard_presenter.rb
  spec/requests/api/v1/dashboard/activities_controller_spec.rb
  spec/requests/api/v1/dashboard/index_spec.rb
Due: lint-staged, rubocop

fix(dashboard): tailor client summary data
  app/javascript/src/components/Dashboard/DashboardHome.tsx
  app/presenters/dashboard_presenter.rb
  spec/requests/api/v1/dashboard/index_spec.rb
Due: lint-staged, rubocop

fix(access): remove admin routes from employee flows
  app/controllers/api/v1/clients_controller.rb
  app/controllers/api/v1/projects_controller.rb
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Navbar/ModernNavbar.tsx
  app/javascript/src/components/Navbar/utils.tsx
  app/javascript/src/components/Routes/AppRouter.tsx
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
  app/javascript/src/constants/routes.ts
  app/policies/client_policy.rb
  app/services/clients/index_service.rb
  spec/requests/api/v1/clients/index_spec.rb
  spec/requests/api/v1/projects/index_spec.rb
  spec/support/session_helpers.rb
  spec/system/clients/index_spec.rb
Due: lint-staged, rubocop

chore(repo): restore agent instruction files
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

fix(projects): modernize details and remove legacy invoice flow
  AGENTS.md
  app/controllers/api/v1/time_tracking_controller.rb
  app/javascript/src/components/Invoices/Generate/index.tsx
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoicesRouteConfig.tsx
  app/javascript/src/components/Invoices/List/Header.tsx
  app/javascript/src/components/Invoices/List/NoInvoices.tsx
  app/javascript/src/components/Invoices/ResponsiveInvoice.tsx
  app/javascript/src/components/Invoices/RouteConfig.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/components/Projects/Details/EditMembersList.tsx
  app/javascript/src/components/Projects/Details/EditMembersListForm.tsx
  app/javascript/src/components/Projects/Details/HeadermenuList.tsx
  app/javascript/src/components/Projects/Details/Mobile/ProjectDetailsForm.tsx
  app/javascript/src/components/Projects/Details/index.tsx
  app/javascript/src/components/Team/TeamsRouteConfig.tsx
  app/javascript/src/constants/currencyList.ts
  spec/requests/api/v1/time_tracking/index_spec.rb
  spec/system/projects/add_team_member_spec.rb
Due: lint-staged, rubocop

fix(projects): modernize project dialogs
  app/controllers/api/v1/projects_controller.rb
  app/javascript/src/components/Projects/List/Header.tsx
  app/javascript/src/components/Projects/Modals/AddEditProject.tsx
  app/javascript/src/components/Projects/Modals/DeleteProject.tsx
Due: lint-staged, rubocop

test(auth): cover employee and client route guards
  spec/system/role_access_spec.rb
Due: lint-staged, rubocop

fix(projects): dedupe members and modernize list
  app/javascript/src/components/Projects/index.tsx
  app/javascript/src/mapper/project.mapper.ts
  app/models/concerns/project_sql_queries.rb
  app/views/api/v1/projects/index.json.jbuilder
Due: lint-staged, rubocop

refactor(invoices): remove legacy mobile invoice flow
  app/javascript/src/components/Invoices/Edit/Header.tsx
  app/javascript/src/components/Invoices/Edit/Mobile/index.tsx
  app/javascript/src/components/Invoices/Edit/index.tsx
  app/javascript/src/components/Invoices/Generate/Container.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/AddLineItemContainer/index.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/AddLineItemContainer/utils.ts
  app/javascript/src/components/Invoices/Generate/MobileView/Container/InvoicePreview/InvoiceInfo.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/InvoicePreview/InvoiceTotal.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MenuContainer/Billing.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MenuContainer/InvoiceDetails.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MenuContainer/InvoicePreview.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MenuContainer/LineItemRow.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MenuContainer/LineItems.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MenuContainer/index.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MenuContainer/utils.ts
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MultiLineContainer/index.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/index.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Header.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/index.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/utils.js
  app/javascript/src/components/Invoices/Invoice/MobileView/index.tsx
  app/javascript/src/components/Invoices/Invoice/index.tsx
  app/javascript/src/components/Invoices/InvoiceEditor.tsx
  app/javascript/src/components/Invoices/InvoicesRouteConfig.tsx
  app/javascript/src/components/Invoices/List/Table/TableRow.tsx
  app/javascript/src/components/Invoices/ResponsiveInvoice.tsx
  app/javascript/src/components/Invoices/RouteConfig.tsx
  app/javascript/src/components/Invoices/common/SendInvoiceContainer/index.tsx
  app/javascript/src/router/index.tsx
  spec/system/invoices/generate_invoice_spec.rb
  spec/system/invoices/index_spec.rb
  spec/system/shared_examples/invoices/generate_invoice.rb
Due: lint-staged, rubocop

ci(render): deploy branch images from ghcr
  .github/workflows/docker-build.yml
Due: none

fix(data): normalize canonical subset roles
  docs/sanitized-db-workflow.md
  script/data_subsets/post_restore.rb
  spec/scripts/data_subsets/post_restore_spec.rb
Due: lint-staged, rubocop

ci(render): deploy branch worker from ghcr
  .github/workflows/docker-build.yml
Due: none

fix(auth): honor role redirects during session bootstrap
  app/javascript/src/components/Authentication/SignIn/SignInForm.tsx
  app/javascript/src/components/Routes/ProtectedRoute.tsx
  app/javascript/src/components/Routes/PublicRoute.tsx
Due: lint-staged

refactor(projects): remove legacy projects wrapper
  app/javascript/src/components/Projects/ProjectsTable.tsx
  app/javascript/src/components/Projects/index.tsx
Due: lint-staged
