Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

fix: surface google oauth feedback
  app/controllers/home_controller.rb
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Main.tsx
  app/javascript/src/utils/googleOauthLogin.ts
  app/views/home/index.html.erb
  spec/views/home/index.html.erb_spec.rb
Due: lint-staged, rubocop

chore: require worktrees for issue fixes
  AGENTS.md
Due: none

ci: ignore stale parallel runtime logs
  bin/parallel_test
Due: none

fix: improve dark project row hover
  app/javascript/stylesheets/application.scss
Due: none

docs: route superpowers through gstack and gbrain
  AGENTS.md
Due: none

docs: route Superpowers through gstack and gbrain
  AGENTS.md
Due: none

fix: keep QuickBooks sync event index deploy-safe
  db/migrate/20260528190533_create_quickbooks_sync_events.rb
  db/schema.rb
Due: lint-staged, rubocop

feat: add super-admin permanent delete user from team UI
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/controllers/concerns/auth_response_payload.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/context/UserContext.tsx
  app/javascript/src/i18n/locales/en.ts
  app/policies/super_admin_user_policy.rb
  config/locales/en.yml
  config/routes/api.rb
Due: lint-staged, rubocop

fix: project team updates not reflected and last member cannot be removed
  app/javascript/src/components/Projects/Details/EditMembersList.tsx
  app/javascript/src/components/Projects/Details/EditMembersListForm.tsx
  app/javascript/src/components/Projects/Details/Mobile/MemberListForm.tsx
  app/javascript/src/components/Projects/Details/index.tsx
Due: lint-staged

fix: make line item input fields visually editable (#2360)
  app/javascript/src/components/Invoices/common/ManualEntry/index.tsx
  app/javascript/src/components/Invoices/common/NewLineItemRow/LineItemEditorRow.tsx
Due: lint-staged

fix: wire up Download Receipt action on Payments page
  app/javascript/src/components/payments/PaymentsTable.tsx
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix: enforce owner removal permissions on team (#2362)
  app/javascript/src/components/Team/List/Table/MoreOptions.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/policies/team_policy.rb
  config/locales/en-US.yml
  config/locales/en.yml
  spec/policies/team_policy_spec.rb
  spec/requests/api/v1/team/destroy_spec.rb
Due: lint-staged, rubocop

fix: make line item input fields visually editable (#2360) (#2366)
  app/javascript/src/components/Invoices/common/ManualEntry/index.tsx
  app/javascript/src/components/Invoices/common/NewLineItemRow/LineItemEditorRow.tsx
Due: lint-staged

fix: keep invoice infinite scroll visible for filters
  app/javascript/src/components/Invoices/InvoiceList.tsx
  spec/e2e/invoices-infinite-scroll.spec.ts
Due: lint-staged

test: make invoice scroll spec port configurable
  spec/e2e/invoices-infinite-scroll.spec.ts
Due: lint-staged

fix: keep filtered invoice scroll loading
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/usePaginatedInvoices.ts
  spec/e2e/invoices-infinite-scroll.spec.ts
Due: lint-staged

fix: share invoice page size
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/usePaginatedInvoices.ts
Due: lint-staged

fix: filter unpaid invoice summary card
  app/javascript/src/components/Invoices/ChartWithSummary/index.tsx
  spec/e2e/invoices-infinite-scroll.spec.ts
Due: lint-staged

fix: filter unpaid invoice summary card (#2373)
  app/javascript/src/components/Invoices/ChartWithSummary/index.tsx
  spec/e2e/invoices-infinite-scroll.spec.ts
Due: lint-staged

fix: hide receipt download without invoice
  app/javascript/src/components/payments/PaymentsTable.tsx
Due: lint-staged

fix: mirror team delete permissions
  app/javascript/src/components/Team/List/Table/MoreOptions.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/helpers/index.ts
  app/javascript/src/helpers/teamPermissions.ts
  spec/policies/team_policy_spec.rb
Due: lint-staged, rubocop

build: update vulnerable gems
  Gemfile.lock
Due: none

fix: compare team member ids consistently
  app/javascript/src/helpers/teamPermissions.ts
Due: lint-staged

Add currency selection to expenses
  app/controllers/api/v1/cli/expenses_controller.rb
  app/controllers/api/v1/expenses_controller.rb
  app/javascript/src/components/Expenses/Details/index.tsx
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/models/expense.rb
  app/presenters/expense/show_presenter.rb
  app/views/api/v1/expenses/_expense.json.jbuilder
  app/views/api/v1/expenses/index.json.jbuilder
  app/views/internal_api/v1/expenses/_expense.json.jbuilder
  app/views/internal_api/v1/expenses/index.json.jbuilder
  app/views/mailers/expense_mailer/approved.html.erb
  app/views/mailers/expense_mailer/paid.html.erb
  app/views/mailers/expense_mailer/rejected.html.erb
  app/views/mailers/expense_mailer/submitted.html.erb
  db/migrate/20260701120000_add_currency_to_expenses.rb
  db/schema.rb
  spec/models/expense_spec.rb
  spec/presenters/expense/show_presenter_spec.rb
  spec/requests/api/v1/cli/expenses/create_spec.rb
  spec/requests/api/v1/cli/expenses/index_spec.rb
  spec/requests/api/v1/expenses/create_spec.rb
  spec/requests/api/v1/expenses/index_spec.rb
  spec/requests/api/v1/expenses/show_spec.rb
  spec/requests/api/v1/expenses/update_spec.rb
Due: lint-staged, rubocop

Address expense currency review feedback
  app/controllers/api/v1/cli/expenses_controller.rb
  app/controllers/api/v1/expenses_controller.rb
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/models/expense.rb
  app/services/expenses/fetch_service.rb
  app/views/api/v1/expenses/index.json.jbuilder
  db/migrate/20260701101500_add_currency_to_expenses.rb
  db/migrate/20260701101600_add_currency_check_constraint_to_expenses.rb
  db/migrate/20260701101700_validate_currency_check_constraint_on_expenses.rb
  db/schema.rb
  spec/models/expense_spec.rb
  spec/requests/api/v1/expenses/index_spec.rb
Due: lint-staged, rubocop

fix: expense receipt Download button opening preview instead of downloading
  app/javascript/src/components/Expenses/ReceiptPreview.tsx
Due: lint-staged

fix: restore Active Storage inline content types clobbered by manual initializers
  config/application.rb
  spec/requests/active_storage/blob_disposition_spec.rb
Due: lint-staged, rubocop

fix: distinguish receipt Open/Download links for screen readers
  app/javascript/src/components/Expenses/ReceiptPreview.tsx
Due: lint-staged

chore: ignore webrick CVE-2026-38969 in bundler-audit
  .bundler-audit.yml
Due: none

Harden multi-tenant authorization and pin CI backup actions
  .bundler-audit.yml
  .github/workflows/backup.yml
  app/controllers/api/v1/bulk_previous_employments_controller.rb
  app/controllers/api/v1/invoices/bulk_download_controller.rb
  app/controllers/api/v1/invoices/payments_controller.rb
  app/controllers/api/v1/timeoff_entries_controller.rb
  app/controllers/invoices/payments_controller.rb
  app/jobs/bulk_invoice_download_job.rb
  app/models/bulk_invoice_download_status.rb
  app/policies/invoice_policy.rb
  app/services/bulk_invoice_download_service.rb
  config/initializers/rack_attack.rb
  db/migrate/20260708120000_add_company_to_bulk_invoice_download_statuses.rb
  db/schema.rb
  spec/factories/bulk_invoice_download_statuses.rb
  spec/policies/invoice_policy_spec.rb
  spec/requests/api/v1/bulk_previous_employments/update_spec.rb
  spec/requests/api/v1/invoices/bulk_download/status_spec.rb
  spec/requests/api/v1/invoices/payments/success_spec.rb
  spec/requests/api/v1/invoices/show_spec.rb
  spec/requests/api/v1/timeoff_entries/create_spec.rb
  spec/requests/invoices/payments_controller_spec.rb
  spec/services/bulk_invoice_download_service_spec.rb
Due: lint-staged, rubocop

Fix currency correctness and payment/FX reliability
  app/controllers/api/v1/application_controller.rb
  app/controllers/api/v1/invoices/bulk_deletion_controller.rb
  app/controllers/api/v1/reports/payments_controller.rb
  app/jobs/update_exchange_rates_job.rb
  app/models/expense.rb
  app/models/invoice.rb
  app/models/payment.rb
  app/services/currency_conversion_service.rb
  app/services/expenses/fetch_service.rb
  app/services/invoice_payment/settle.rb
  app/services/invoice_payment/stripe_checkout_fulfillment.rb
  app/services/weekly_reminder_for_missed_entries_service.rb
  config/solid_queue.yml
  db/migrate/20260709120000_add_base_currency_to_expenses.rb
  db/schema.rb
  lib/tasks/exchange_rates.rake
  spec/controllers/api/v1/reports/payments_controller_spec.rb
  spec/jobs/update_exchange_rates_job_spec.rb
  spec/models/payment_currency_conversion_spec.rb
  spec/models/payment_spec.rb
  spec/requests/api/v1/expenses/index_spec.rb
  spec/requests/api/v1/invoices/bulk_deletion_spec.rb
  spec/requests/api/v1/reports/payments/index_spec.rb
  spec/services/currency_conversion_service_spec.rb
  spec/services/weekly_reminder_for_missed_entries_service_spec.rb
Due: lint-staged, rubocop

Fix frontend crashes and swallowed errors
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/javascript/src/components/Expenses/Modals/ExpenseForm.tsx
  app/javascript/src/components/Invoices/List/index.tsx
  app/javascript/src/components/Reports/AccountsAgingReport/Container/Table/TableTotal.tsx
  app/javascript/src/components/TimesheetEntries/WeekView/WeeklyEntriesCard.tsx
Due: lint-staged

Set brand tokens to the purple design-system value
  app/javascript/stylesheets/application.scss
Due: none

Wire up workspace switching, report PDF, and expense audit trail
  app/controllers/api/v1/reports/payments_controller.rb
  app/javascript/src/components/Navbar/Sidebar.tsx
  app/models/expense.rb
  app/services/reports/generate_pdf.rb
  app/views/pdfs/payments.html.erb
  spec/controllers/api/v1/reports/payments_controller_spec.rb
  spec/models/expense_spec.rb
Due: lint-staged, rubocop

Replace hardcoded brand hex with the primary token
  app/javascript/src/components/Clients/ClientMobileMoreOptions.tsx
  app/javascript/src/components/Clients/Details/Header.tsx
  app/javascript/src/components/Expenses/List/Header.tsx
  app/javascript/src/components/Expenses/Modals/ExpenseForm.tsx
  app/javascript/src/components/Invoices/CompactInvoiceSummary/index.tsx
  app/javascript/src/components/Invoices/Invoice/EditButton.tsx
  app/javascript/src/components/Invoices/Invoice/MarkInvoicePaidModal.tsx
  app/javascript/src/components/Invoices/List/InvoiceListHeader.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/InfiniteScrollRecentlyUpdated.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/Filters/index.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/TimeEntrySelectionTable.tsx
  app/javascript/src/components/Invoices/ThemeToggle/index.tsx
  app/javascript/src/components/Invoices/common/InvoiceDetails/index.tsx
  app/javascript/src/components/Invoices/common/InvoiceForm/InvoiceFormHeader.tsx
  app/javascript/src/components/Invoices/common/ManualEntry/index.tsx
  app/javascript/src/components/Invoices/common/NewLineItemRow/LineItemEditorRow.tsx
  app/javascript/src/components/Profile/Personal/Employment/Edit/EmploymentEditor.tsx
  app/javascript/src/components/Profile/Personal/Employment/Edit/MobileEmploymentEditor.tsx
  app/javascript/src/components/Reports/Filters/SidebarClientFilter.tsx
  app/javascript/src/components/Reports/Filters/SidebarDateRangeFilter.tsx
  app/javascript/src/components/Reports/Filters/SidebarGroupByFilter.tsx
  app/javascript/src/components/Reports/Filters/SidebarTeamMembersFilter.tsx
  app/javascript/src/components/Reports/Header/index.tsx
  app/javascript/src/components/Team/List/Table/MoreOptions.tsx
  app/javascript/src/components/TimeTracking/MobileView/MobileEntryForm.tsx
  app/javascript/src/components/TimeoffEntries/TimeoffForm/MobileTimeoffForm.tsx
  app/javascript/src/components/TimesheetEntries/TimeEntryForm/MobileEntryForm.tsx
  app/javascript/src/components/payments/Mobile/Header.tsx
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
Due: lint-staged

Use the destructive token for form error text
  app/javascript/src/common/FormikFields/InputErrors/index.tsx
Due: lint-staged
