Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

fix(holidays): sort optional and national holidays by date
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
Due: lint-staged

fix(calendar): unblock month navigation button clicks
  app/javascript/src/components/ui/calendar.tsx
Due: lint-staged

fix(reminders): avoid false weekly reminders and stabilize mailer assets
  app/services/weekly_reminder_for_missed_entries_service.rb
  app/views/layouts/mailer.html.erb
  config/environments/production.rb
  spec/services/weekly_reminder_for_missed_entries_service_spec.rb
Due: lint-staged, rubocop

docs(changelog): record reminder normalization and mailer asset fixes
  CHANGELOG.md
Due: none

feat: add pro-gated Miru MCP server and SDK client wrapper
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/mcp_controller.rb
  app/mcp/api_proxy.rb
  app/mcp/idempotency_store.rb
  app/mcp/pro_access_checker.rb
  app/mcp/server_factory.rb
  app/mcp/tool_catalog.rb
  app/mcp/tools/base_tool.rb
  app/mcp/tools/capabilities_tool.rb
  app/mcp/tools/client_list_tool.rb
  app/mcp/tools/expense_create_tool.rb
  app/mcp/tools/expense_list_tool.rb
  app/mcp/tools/invoice_list_tool.rb
  app/mcp/tools/invoice_send_tool.rb
  app/mcp/tools/invoice_show_tool.rb
  app/mcp/tools/payment_list_tool.rb
  app/mcp/tools/payment_show_tool.rb
  app/mcp/tools/project_list_tool.rb
  app/mcp/tools/time_create_tool.rb
  app/mcp/tools/time_delete_tool.rb
  app/mcp/tools/time_list_tool.rb
  app/mcp/tools/time_update_tool.rb
  app/mcp/tools/workspace_whoami_tool.rb
  app/services/mcp/client.rb
  bin/miru-mcp
  config/initializers/mcp_miru.rb
  config/routes.rb
  spec/mcp/server_factory_spec.rb
  spec/mcp/tool_catalog_spec.rb
  spec/requests/api/v1/mcp/handle_spec.rb
Due: lint-staged, rubocop

chore: normalize MCP acronym casing
  app/controllers/api/v1/mcp_controller.rb
  config/initializers/inflections.rb
  spec/requests/api/v1/mcp/handle_spec.rb
Due: lint-staged, rubocop

docs: add comprehensive MCP setup and verification guide
  .codex/skills/miru-mcp/SKILL.md
  .github/workflows/validations.yml
  README.md
  docs/miru-cli.md
  docs/miru-mcp.md
Due: none

test: expand MCP coverage and harden tool safety
  .github/workflows/validations.yml
  app/controllers/api/v1/mcp_controller.rb
  app/mcp/idempotency_store.rb
  app/mcp/tools/payment_list_tool.rb
  app/mcp/tools/time_update_tool.rb
  app/services/mcp/miru/client.rb
  docs/miru-mcp.md
  spec/mcp/idempotency_store_spec.rb
  spec/mcp/pro_access_checker_spec.rb
  spec/mcp/server_factory_spec.rb
  spec/mcp/tool_catalog_spec.rb
  spec/mcp/tools/payment_list_tool_spec.rb
  spec/mcp/tools/write_tools_spec.rb
  spec/requests/api/v1/mcp/handle_spec.rb
  spec/services/mcp/client_spec.rb
Due: lint-staged, rubocop

chore: remove Claude PR review workflow
  .github/workflows/claude.yml
Due: none

ci: fix postgres connectivity for GitHub Actions jobs
  .github/workflows/validations.yml
Due: none

fix: resolve MCP CI eager-load and update omission semantics
  app/controllers/api/v1/cli/timesheet_entries_controller.rb
  app/mcp/tools/base_tool.rb
  config/initializers/mcp_miru.rb
  spec/requests/api/v1/cli/timesheet_entries/update_spec.rb
Due: lint-staged, rubocop

ci: install node tooling for MCP focused specs job
  .github/workflows/validations.yml
Due: none

ci: consolidate MCP checks into main test and lint jobs
  .github/workflows/validations.yml
Due: none

fix: return stable MCP write errors without message leakage
  app/mcp/tools/base_tool.rb
  spec/mcp/tools/write_tools_spec.rb
Due: lint-staged, rubocop

feat: add CLI token command for MCP setup
  docs/miru-cli.md
  docs/miru-mcp.md
  tools/miru-cli/README.md
  tools/miru-cli/cmd/miru/main.go
Due: none

Fix client form required-field clarity for add client
  CHANGELOG.md
  app/javascript/src/components/Clients/ClientForm/ClientEditor.tsx
  app/javascript/src/components/Clients/ClientForm/MobileClientEditor.tsx
  app/javascript/src/components/Clients/ClientForm/utils.ts
Due: lint-staged

fix: forward host context for MCP proxy tool calls
  app/controllers/api/v1/mcp_controller.rb
  app/mcp/api_proxy.rb
  app/mcp/tools/base_tool.rb
  spec/requests/api/v1/mcp/handle_spec.rb
Due: lint-staged, rubocop

Refactor client required-field helpers and a11y hint
  app/javascript/src/components/Clients/ClientForm/ClientEditor.tsx
  app/javascript/src/components/Clients/ClientForm/MobileClientEditor.tsx
  app/javascript/src/components/Clients/ClientForm/utils.ts
Due: lint-staged

Add system spec for client required-fields guidance
  spec/system/clients/add_client_required_fields_spec.rb
Due: lint-staged, rubocop

fix: forward host context for MCP proxy tool calls (#2191)
  app/controllers/api/v1/mcp_controller.rb
  app/mcp/api_proxy.rb
  app/mcp/tools/base_tool.rb
  spec/requests/api/v1/mcp/handle_spec.rb
Due: lint-staged, rubocop

docs: add MCP and CLI usage and support coverage
  README.md
  docs/miru-cli.md
Due: none

Fix invoice line-item employee name rendering
  CHANGELOG.md
  app/javascript/src/components/Invoices/Invoice/LineItem.tsx
  app/javascript/src/components/Invoices/common/NewLineItemRow/LineItemEditorRow.tsx
Due: lint-staged

Deduplicate invoice line-item display name logic
  CHANGELOG.md
  app/javascript/src/components/Invoices/Invoice/LineItem.tsx
  app/javascript/src/components/Invoices/common/NewLineItemRow/LineItemEditorRow.tsx
  app/javascript/src/helpers/index.ts
  app/javascript/src/helpers/lineItemDisplayName.ts
Due: lint-staged

Fix invoice line-item employee name rendering (#2192)
  CHANGELOG.md
  app/javascript/src/components/Invoices/Invoice/LineItem.tsx
  app/javascript/src/components/Invoices/common/NewLineItemRow/LineItemEditorRow.tsx
  app/javascript/src/helpers/index.ts
  app/javascript/src/helpers/lineItemDisplayName.ts
Due: lint-staged

Fix project member rate lookup per project
  CHANGELOG.md
  app/presenters/project_members_presenter.rb
  spec/presenters/project_members_presenter_spec.rb
Due: lint-staged, rubocop

Fix per-project member rate mapping for invoice generation (#2195)
  CHANGELOG.md
  app/presenters/project_members_presenter.rb
  spec/presenters/project_members_presenter_spec.rb
Due: lint-staged, rubocop

fix: stabilize Render session secret configuration
  Dockerfile.kamal
  Dockerfile.production
  config/initializers/production_secret_key_base.rb
  render.yaml
Due: lint-staged, rubocop

fix(company-settings): include EIN and US taxpayer ID in companies index response
  app/views/api/v1/companies/index.json.jbuilder
  spec/support/shared_examples/api/v1/companies_index_shared_example.rb
Due: lint-staged, rubocop

test: cover company US tax fields in index
  spec/requests/api/v1/companies/index_spec.rb
Due: lint-staged, rubocop

fix(company-settings): include EIN and US taxpayer ID in companies in… (#2204)
  app/views/api/v1/companies/index.json.jbuilder
  spec/requests/api/v1/companies/index_spec.rb
  spec/support/shared_examples/api/v1/companies_index_shared_example.rb
Due: lint-staged, rubocop

fix: prevent empty device saves
  app/javascript/src/components/Profile/Personal/Devices/Edit/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  app/models/device.rb
  spec/models/device_spec.rb
  spec/requests/api/v1/users/devices/create_spec.rb
  spec/requests/api/v1/users/devices/update_spec.rb
  spec/system/settings/devices_spec.rb
Due: lint-staged, rubocop

fix: keep invoice send failures clear
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  spec/system/invoices/create_spec.rb
Due: lint-staged, rubocop

fix: respect dark mode for accounts aging controls
  app/javascript/src/components/Reports/AccountsAgingReport/index.tsx
  spec/system/reports/index_spec.rb
Due: lint-staged, rubocop

fix: show project clients in create modal
  app/controllers/api/v1/projects_controller.rb
  app/javascript/src/components/Projects/Modals/AddEditProject.tsx
  spec/requests/api/v1/projects/index_spec.rb
  spec/system/projects/create_spec.rb
Due: lint-staged, rubocop

feat: add agent discovery endpoints
  app/controllers/agent_readiness_controller.rb
  app/controllers/home_controller.rb
  config/routes.rb
  public/llms-full.txt
  public/llms.txt
  public/robots.txt
  public/sitemap.xml
  spec/requests/agent_readiness_spec.rb
  spec/requests/home/index_spec.rb
Due: lint-staged, rubocop

test: cover MCP tool role access
  spec/mcp/tools/role_matrix_spec.rb
Due: lint-staged, rubocop

fix: serve robots without static cache
  app/controllers/agent_readiness_controller.rb
  config/routes.rb
  public/robots.txt
  spec/requests/agent_readiness_spec.rb
Due: lint-staged, rubocop

fix: order optional holidays after public holidays
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
  spec/system/holidays_management_spec.rb
Due: lint-staged, rubocop

feat: add A2A agent discovery
  app/controllers/agent_readiness_controller.rb
  config/routes.rb
  spec/requests/agent_readiness_spec.rb
Due: lint-staged, rubocop
