Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

feat(auth): add authenticator app 2fa
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/users/passkeys_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/api/v1/users/totp_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Authentication/SignIn/SignInForm.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileEditPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/TotpPanel.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  app/models/user.rb
  app/policies/totp_policy.rb
  config/routes/api.rb
  db/migrate/20260320100000_add_totp_support_to_users.rb
  db/schema.rb
  spec/requests/api/v1/users/sessions/create_spec.rb
  spec/requests/api/v1/users/totp_spec.rb
  spec/system/profile/settings_spec.rb
  spec/system/users/login_spec.rb
Due: lint-staged, rubocop

fix(subsets): restore into current branch schema
  bin/build-sanitized-subset
  bin/restore-sanitized-subset
  config/database.yml
  db/migrate/20260320110000_enable_postgresql_search_extensions.rb
  db/migrate/20260320110001_create_metrics.rb
  db/migrate/20260320110002_create_exchange_rates.rb
  db/migrate/20260320110003_add_exchange_rate_to_invoices_and_payments.rb
  db/migrate/20260320110004_install_audited.rb
  db/migrate/20260320110005_add_exchange_rate_date_to_payments.rb
  db/migrate/20260320110006_add_notification_fields_to_notification_preferences.rb
  db/migrate/20260320110007_add_bank_and_tax_info_to_companies.rb
  db/migrate/20260320110008_drop_ses_invalid_emails_table.rb
  db/migrate/20260320110009_add_custom_leave_id_to_timeoff_entries.rb
  db/migrate/20260320110010_add_foreign_key_custom_leave_to_timeoff_entries.rb
  db/migrate/20260320110011_validate_foreign_key_custom_leave_to_timeoff_entries.rb
  db/migrate/20260320110012_create_solid_cable_messages.rb
  db/migrate/20260320110013_create_recurring_tasks.solid_queue.rb
  db/migrate/20260320110014_add_name_to_processes.solid_queue.rb
  db/migrate/20260320110015_make_name_not_null.solid_queue.rb
  db/migrate/20260320110016_change_solid_queue_recurring_tasks_static_to_not_null.solid_queue.rb
  db/migrate/20260320110017_create_cli_sessions.rb
  db/migrate/20260320110018_add_user_to_expenses.rb
  db/migrate/20260320110019_add_foreign_key_to_expenses_user.rb
  db/migrate/20260320110020_validate_foreign_key_to_expenses_user.rb
  db/migrate/20260320110021_add_reimbursement_status_to_expenses.rb
  db/migrate/20260320110022_add_vendor_name_to_expenses.rb
  db/migrate/20260320110023_add_category_name_to_expenses.rb
  db/migrate/20260320110024_make_expense_category_optional_on_expenses.rb
  db/migrate/20260320110025_add_discarded_at_to_expenses.rb
  db/migrate/20260320110026_add_billing_fields_to_companies.rb
  db/migrate/20260320110027_add_trial_fields_to_companies.rb
  db/migrate/20260320110028_add_stripe_subscription_fields_to_companies.rb
  db/migrate/20260320110029_add_passkeys_support.rb
  db/migrate/20260320110030_validate_passkeys_user_foreign_key.rb
  db/migrate/20260320110031_add_lockable_to_users.rb
  db/migrate/20260320110032_add_reporting_indexes.rb
  db/migrate/20260320110033_add_totp_support_to_users.rb
  db/schema.rb
Due: lint-staged, rubocop

fix(ci): align test setup with refreshed schema
  db/schema.rb
  scripts/ci/rspec.sh
  scripts/ci/system_spec.sh
Due: lint-staged, rubocop

fix(ui): tighten shared theme and seo shell
  app/javascript/entrypoints/application.tsx
  app/javascript/src/components/Projects/ProjectsTable.tsx
  app/javascript/src/components/Team/ResponsiveTeam.tsx
  app/javascript/src/components/ui/status-badge.tsx
  app/views/layouts/application.html.erb
Due: lint-staged

fix(ui): simplify remaining status colors
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/RecentSales/index.tsx
  app/javascript/src/components/LeaveManagement/Container/index.tsx
  app/javascript/src/components/ui/enhanced-search.tsx
Due: lint-staged

fix(ui): neutralize admin surface colors
  app/javascript/src/components/AdminPages/ClientsPage/index.tsx
  app/javascript/src/components/Dashboard/DashboardHome.tsx
  app/javascript/src/components/Profile/Organization/Details/ModernOrganizationSettings.tsx
Due: lint-staged

fix(ui): simplify invoice and client colors
  app/javascript/src/components/Clients/List/ModernClientList.tsx
  app/javascript/src/components/Invoices/AdminDashboard/index.tsx
Due: lint-staged

fix(ui): neutralize payments and expenses colors
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/payments/PaymentsTable.tsx
  app/javascript/src/components/payments/Table/TableRow.tsx
  app/javascript/src/components/payments/utils.ts
Due: lint-staged

fix(ui): simplify payment report colors
  app/javascript/src/components/Reports/Filters/EnhancedStatusFilter.tsx
  app/javascript/src/components/Reports/PaymentReport/CleanPaymentReport.tsx
Due: lint-staged

fix(ui): simplify report summary colors
  app/javascript/src/components/Reports/OutstandingInvoiceReport/ModernOutstandingInvoiceReport.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/ModernRevenueByClientReport.tsx
Due: lint-staged

fix(ui): simplify settings and reports accents
  app/javascript/src/components/AdminPages/ReportsPage/index.tsx
  app/javascript/src/components/Profile/Organization/Holidays/ModernHolidaysEditor.tsx
  app/javascript/src/components/Profile/Organization/Import/importModal.tsx
Due: lint-staged

fix(leaves): use compact shared calendar
  app/javascript/src/components/LeaveManagement/Container/index.tsx
  spec/system/settings/leaves_spec.rb
Due: lint-staged, rubocop

fix(dashboard): hide meaningless zero trends
  app/javascript/src/components/Dashboard/DashboardHome.tsx
  app/javascript/src/components/Invoices/AdminDashboard/index.tsx
  app/javascript/src/components/ui/dashboard-cards.tsx
  spec/system/dashboard_spec.rb
Due: lint-staged, rubocop

fix(mail): force postmark in production
  config/environments/production.rb
Due: lint-staged, rubocop

fix(auth): stabilize root formats and oauth host
  app/controllers/home_controller.rb
  config/initializers/devise.rb
  spec/requests/home/index_spec.rb
  spec/requests/users/omniauth_callbacks/google_oauth2_spec.rb
Due: lint-staged, rubocop

build(rails): upgrade to rails 8.1.2.1
  Gemfile
  Gemfile.lock
  config/application.rb
Due: lint-staged, rubocop

fix(time-tracking): restore scoped refreshes
  app/javascript/src/apis/api.ts
  app/javascript/src/components/TimeTracking/EntryDetailsModal.tsx
  app/javascript/src/components/TimeTracking/EntryForm.tsx
  app/javascript/src/components/TimeTracking/MonthCalender.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/jobs/sync_stripe_subscription_company_job.rb
  app/jobs/sync_stripe_subscriptions_job.rb
  app/services/time_tracking_index_service.rb
  config/solid_queue.yml
  spec/jobs/sync_stripe_subscription_company_job_spec.rb
  spec/jobs/sync_stripe_subscriptions_job_spec.rb
  spec/services/time_tracking_index_service_spec.rb
  spec/system/time_tracking/add_entry_spec.rb
Due: lint-staged, rubocop

fix(ci): pin json and collapse branch runs
  .github/workflows/docker-build.yml
  .github/workflows/validations.yml
  Gemfile
  Gemfile.lock
Due: none

chore(frontend): remove dead legacy components
  app/javascript/src/common/TotalHeader/index.tsx
  app/javascript/src/components/AdminPages/ClientsPage/index.tsx
  app/javascript/src/components/AdminPages/ReportsPage/index.tsx
  app/javascript/src/components/AdminPages/SettingsPage/index.tsx
  app/javascript/src/components/AdminPages/TimeTrackingPage/index.tsx
  app/javascript/src/components/Authentication/FooterLinks/index.tsx
  app/javascript/src/components/Authentication/FooterLinks/utils.ts
  app/javascript/src/components/PlanDetails/index.tsx
Due: lint-staged

fix(auth): keep autofill text readable across themes
  app/javascript/stylesheets/application.scss
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none
