Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

style(responsive): improve list header layout on mobile
  app/javascript/src/components/Clients/Header/index.tsx
  app/javascript/src/components/Invoices/List/Header.tsx
  app/javascript/src/components/Projects/List/Header.tsx
Due: lint-staged

style(responsive): tighten invoice, payment, and report mobile layouts
  app/javascript/src/components/Invoices/Invoice/ClientInfo.tsx
  app/javascript/src/components/Invoices/Invoice/InvoiceInfo.tsx
  app/javascript/src/components/Invoices/common/InvoiceDetails/ClientSelection.tsx
  app/javascript/src/components/Invoices/common/InvoiceDetails/index.tsx
  app/javascript/src/components/Reports/Filters/EnhancedFilterSidebar.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/Filters/index.tsx
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
  app/javascript/src/components/payments/PaymentSearch/index.tsx
Due: lint-staged

style(responsive): polish time-tracking and invoice total layouts
  app/javascript/src/components/Invoices/Invoice/InvoiceTotalSummary.tsx
  app/javascript/src/components/Invoices/Invoice/MarkInvoicePaidModal.tsx
  app/javascript/src/components/Invoices/common/InvoiceTotal/index.tsx
  app/javascript/src/components/Reports/Container/index.tsx
  app/javascript/src/components/Reports/TimeEntryReport/ReportMobileRow.tsx
  app/javascript/src/components/Reports/TimeEntryReport/TimeEntryReportMobileView.tsx
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
Due: lint-staged

style(responsive): improve invoice editor headers and line item table
  app/javascript/src/components/Invoices/Edit/Header.tsx
  app/javascript/src/components/Invoices/List/InvoiceSearch/SearchedDataRow.tsx
  app/javascript/src/components/Invoices/common/InvoiceForm/Header/index.tsx
  app/javascript/src/components/Invoices/common/InvoiceTable/index.tsx
  app/javascript/src/components/Invoices/common/NewLineItemTable/index.tsx
Due: lint-staged

style(responsive): refine invoice mobile actions and modal layouts
  app/javascript/src/components/Invoices/Generate/MobileView/Container/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MenuContainer/InvoicePreview.tsx
  app/javascript/src/components/Invoices/Invoice/MobileView/index.tsx
  app/javascript/src/components/Invoices/Invoice/ViewHistory/HistoryMobileView.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/Table.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/index.tsx
  app/javascript/src/components/Invoices/popups/BulkDeleteInvoices.tsx
  app/javascript/src/components/Invoices/popups/DeleteInvoice.tsx
  app/javascript/src/components/Invoices/popups/WavieOffInvoice.tsx
Due: lint-staged

style(responsive): polish mobile invoice and time-entry forms
  app/javascript/src/components/Invoices/Generate/MobileView/Container/AddLineItemContainer/index.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/InvoicePreview/InvoiceInfo.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MenuContainer/Billing.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MenuContainer/InvoiceDetails.tsx
  app/javascript/src/components/TimeTracking/MobileView/MobileEntryForm.tsx
Due: lint-staged

style(responsive): improve report table overflow handling
  app/javascript/src/components/Reports/OutstandingInvoiceReport/Container/Table/TableRow.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/Container/Table/index.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/Container/index.tsx
Due: lint-staged

fix(ci): resolve parallel_rspec failures on Ruby 4.0.1
  .github/workflows/validations.yml
  .parallel_rspec
  .rspec_parallel
  Gemfile.lock
Due: none

style(responsive): improve mobile invoice preview layout consistency
  app/javascript/src/components/Invoices/Generate/MobileView/Container/InvoicePreview/InvoiceInfo.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/InvoicePreview/InvoiceTotal.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/Generate/MobileView/Container/MenuContainer/InvoicePreview.tsx
Due: lint-staged

style(responsive): improve accounts aging table overflow behavior
  app/javascript/src/components/Reports/AccountsAgingReport/Container/Table/TableHeader.tsx
  app/javascript/src/components/Reports/AccountsAgingReport/Container/Table/index.tsx
Due: lint-staged

test(speed): optimize parallel specs and align API expectations
  bin/system-specs-parallel
  config/initializers/parallel_tests.rb
  spec/requests/api/internal_api/v1/expenses/index_spec.rb
  spec/requests/api/internal_api/v1/payments/index_spec.rb
  spec/requests/api/v1/expenses/index_spec.rb
  spec/requests/api/v1/payments/index_spec.rb
  spec/support/database_cleaner.rb
  spec/support/parallel_tests_helper.rb
  spec/support/system_test_helpers.rb
  spec/system/payments/list_spec.rb
  spec/system/settings/leaves_spec.rb
  spec/system/shared_examples/invoices/invoice_history.rb
Due: lint-staged, rubocop

test(system): remove dead UI specs and keep parity-focused coverage
  spec/rails_helper.rb
  spec/requests/api/internal_api/v1/expenses/index_spec.rb
  spec/requests/api/internal_api/v1/payments/index_spec.rb
  spec/requests/api/v1/expenses/index_spec.rb
  spec/requests/api/v1/payments/index_spec.rb
  spec/system/companies/edit_spec.rb
  spec/system/companies/index_spec.rb
  spec/system/employment_details/edit_spec.rb
  spec/system/employment_details/index_spec.rb
  spec/system/expenses/index_spec.rb
  spec/system/multi_currency_invoice_spec.rb
  spec/system/payments/create_spec.rb
  spec/system/projects/add_team_member_spec.rb
  spec/system/projects/edit_spec.rb
  spec/system/reports/time_entries_spec.rb
  spec/system/shared_examples/invoices/edit_invoice.rb
  spec/system/shared_examples/invoices/generate_invoice.rb
  spec/system/shared_examples/invoices/invoice_history.rb
  spec/system/teams/create_spec.rb
  spec/system/teams/delete_spec.rb
  spec/system/teams/details_spec.rb
  spec/system/teams/edit_spec.rb
  spec/system/teams/index_spec.rb
  spec/system/teams/members_spec.rb
  spec/system/time_tracking/calendar_spec.rb
  spec/system/time_tracking/day_view_spec.rb
  spec/system/time_tracking/time_tracking_spec.rb
  spec/system/time_tracking/week_view_spec.rb
  spec/system/time_tracking_entry_spec.rb
  spec/system/time_tracking_spec.rb
  spec/system/users/email_confirmations_spec.rb
  spec/system/users/forgot_password_spec.rb
  spec/system/users/logout_spec.rb
  spec/system/users/reset_password_spec.rb
  spec/system/users/signup_spec.rb
Due: lint-staged, rubocop

ci(test): shard and parallelize system specs; continue hybrid fixture cleanup
  .github/workflows/validations.yml
  spec/requests/api/internal_api/v1/expenses/index_spec.rb
  spec/requests/api/v1/expenses/index_spec.rb
  spec/requests/api/v1/invoices/pagination_spec.rb
  spec/requests/api/v1/invoices/recently_updated_spec.rb
Due: lint-staged, rubocop

fix(cable): remove production redis dependency
  config/cable.yml
Due: none

fix(cable): migrate solid cable to single database
  config/cable.yml
  db/migrate/20260306160730_create_solid_cable_messages.rb
  db/schema.rb
Due: lint-staged, rubocop

fix(api): handle missing invoice and preference fields on restored data
  app/controllers/api/v1/team_members/notification_preferences_controller.rb
  app/views/api/v1/invoices/index.json.jbuilder
Due: lint-staged, rubocop

fix(api): support legacy notification preference schemas
  app/controllers/api/v1/team_members/notification_preferences_controller.rb
Due: lint-staged, rubocop

fix(payments): tolerate legacy payment schema fields
  app/presenters/payments_presenter.rb
Due: lint-staged, rubocop

fix(queue): disable recurring tasks in production worker
  config/solid_queue.yml
Due: none

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
