Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

Rspecs
  spec/requests/home/index_spec.rb
Due: lint-staged, rubocop

Rspec fixes
  spec/requests/home/index_spec.rb
Due: lint-staged, rubocop

Rspec fixes
  spec/mailers/application_mailer_spec.rb
Due: lint-staged, rubocop

Fix: S3 checksum conflict in ActiveStorage uploads (MIRU-WEB-3G)
  config/initializers/active_storage.rb
  spec/initializers/active_storage_s3_checksum_fix_spec.rb
  spec/requests/internal_api/v1/companies/create_spec.rb
  spec/services/create_company_service_spec.rb
Due: lint-staged, rubocop

Review Changes: - Add config/initializers/active_storage.rb with proper upload_options merging - Fix unsafe rescue pattern in service spec
  config/initializers/active_storage.rb
  spec/services/create_company_service_spec.rb
Due: lint-staged, rubocop

fix: extend S3 checksum fix to cover multipart and direct uploads
  config/initializers/active_storage.rb
  spec/initializers/active_storage_s3_checksum_fix_spec.rb
  spec/services/create_company_service_spec.rb
Due: lint-staged, rubocop

refactor: prioritize explicit params over config in S3 upload methods
  config/initializers/active_storage.rb
Due: lint-staged, rubocop

fix: load S3 checksum patch immediately instead of using on_load hook
  config/initializers/active_storage.rb
Due: lint-staged, rubocop

Temp fix to see if the initializer is required or not
  config/initializers/active_storage.rb
  config/storage.yml
Due: lint-staged, rubocop

Fix: S3 checksum conflict in ActiveStorage uploads (MIRU-WEB-3G) fixing "You can only specify one non-default checksum at a time" error with aws-sdk-s3 >= 1.208.0.
  config/storage.yml
Due: none

Fix: S3 checksum conflict in ActiveStorage uploads (MIRU-WEB-3G) (#2054)
  config/storage.yml
Due: none

Bump version to v1.9.6
  package.json
Due: lint-staged

Bump version to v1.9.6 (#2055)
  package.json
Due: lint-staged

docs: add Miru 2.0 parity checklist
  MIRU2_PARITY.md
Due: none

chore: fix Ruby version to 3.4.5
  .ruby-version
  Gemfile
Due: none

refactor: address code review feedback
  app/views/pdfs/invoices.html.erb
Due: none

fix: replace fixed heights with min-height to prevent text clipping
  app/views/pdfs/invoices.html.erb
Due: none

refactor: address code review feedback for EncodingSanitizer
  config/initializers/encoding_sanitizer.rb
  spec/middleware/encoding_sanitizer_spec.rb
Due: lint-staged, rubocop

Fix PR review comments: Add early return for 401 errors and comprehensive controller tests
  app/javascript/src/apis/api.ts
  spec/requests/internal_api/v1/holidays_controller_spec.rb
Due: lint-staged, rubocop

SolidQueue crashes with a segmentation fault when attempting to connect to PostgreSQL on Apple Silicon Macs.
  config/database.yml
Due: none

Fix: undefined method new_user_session_path error on password reset page
  app/views/devise/shared/_links.html.erb
Due: none

Fix Solid Queue PostgreSQL connection failure handling
  app/jobs/application_job.rb
  config/database.yml
  config/initializers/solid_queue.rb
Due: lint-staged, rubocop

Removed redundant code
  app/services/bulk_holiday_service.rb
Due: lint-staged, rubocop

Ignored CVE-2026-25765 to avoid upgrading Faraday to 2.14.1
  .bundler-audit.yml
Due: none

test(playwright): add deep-link and API status resilience specs
  playwright/e2e/app/spa-deep-links.spec.ts
  playwright/e2e/regression/api-status-resilience.spec.ts
Due: lint-staged

chore(runtime): align ruby toolchain to 4.0.0 with mise
  .ruby-version
  Gemfile
  Gemfile.lock
Due: none

fix(ci): stabilize pipeline and resolve lint blockers
  .github/workflows/validations.yml
  Gemfile
  app/avo/resources/client.rb
  app/avo/resources/company.rb
  app/avo/resources/user.rb
  app/controllers/avo/clients_controller.rb
  app/controllers/avo/companies_controller.rb
  app/controllers/avo/users_controller.rb
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/Invoices/common/ManualEntry/index.tsx
  app/javascript/src/services/invoiceApi.ts
  config/initializers/avo.rb
Due: lint-staged, rubocop

test(parity): add missing CRUD integration coverage and harden dashboard loading
  app/javascript/src/hooks/useDashboard.ts
  docs/testing/integration_coverage_matrix.md
  playwright/e2e/dashboard/overview.spec.ts
  spec/requests/api/v1/expenses/destroy_spec.rb
  spec/requests/api/v1/expenses/update_spec.rb
  spec/requests/api/v1/invitations/destroy_spec.rb
  spec/requests/api/v1/invitations/resend_spec.rb
  spec/requests/api/v1/invitations/update_spec.rb
  spec/system/invoice_pdf_download_spec.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
