Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

fix(theme): update Dashboard to use optional theme hooks and fix AdminDashboard imports
  app/controllers/internal_api/v1/invoices/analytics_controller.rb
  app/javascript/src/components/Dashboard/ModernLayout.tsx
  app/javascript/src/components/Dashboard/index.tsx
  app/javascript/src/components/Global/ThemeToggle.tsx
  app/javascript/src/components/Invoices/InvoiceSummary/index.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/RecentlyUpdatedCard.tsx
  app/javascript/src/components/ui/dashboard-cards.tsx
  app/javascript/src/contexts/ThemeContext.tsx
  app/javascript/stylesheets/application.scss
  spec/system/teams/edit_spec.rb
  tailwind.config.js
Due: lint-staged, rubocop

fix(deps): update pnpm lockfile to match package.json
  pnpm-lock.yaml
Due: none

fix: resolve ESLint errors and formatting issues
  app/javascript/src/components/App.tsx
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Dashboard/ModernLayout.tsx
  app/javascript/src/components/Dashboard/Sidebar.tsx
  app/javascript/src/components/Dashboard/index.tsx
  app/javascript/src/components/Global/LayoutToggle.tsx
  app/javascript/src/components/Global/ThemeToggle.tsx
  app/javascript/src/components/Invoices/ChartWithSummary/index.tsx
  app/javascript/src/components/Invoices/InvoiceEditor.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/InvoicePreview.tsx
  app/javascript/src/components/Invoices/MercuryRouteConfig.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/components/Routes/AppRouter.tsx
  app/javascript/src/components/ui/dashboard-cards.tsx
  app/javascript/src/components/ui/sidebar.tsx
  app/javascript/src/components/ui/table.tsx
  app/javascript/src/constants/routes.ts
  app/javascript/src/contexts/ThemeContext.tsx
  app/javascript/src/hooks/use-mobile.tsx
  app/javascript/src/services/invoiceApi.ts
  app/javascript/stylesheets/application.scss
Due: lint-staged

fix: update invoice summary spec to include totalAmount field
  spec/requests/internal_api/v1/invoices/index_spec.rb
Due: lint-staged, rubocop

feat: merge mobile/desktop components and consolidate API endpoints
  app/javascript/src/components/Invoices/common/utils.js
Due: lint-staged

fix: update API endpoints to use /api/v1 instead of internal_api
  app/javascript/org_timezones.js
  app/javascript/src/lib/api-client.ts
  cookies.txt
Due: lint-staged

fix: resolve remaining controller and routing issues
  app/controllers/api/v1/users_controller.rb
  app/controllers/home_controller.rb
Due: lint-staged, rubocop

fix: resolve UI issues and API compatibility problems
  app/controllers/api/v1/payment_settings_controller.rb
  app/controllers/api/v1/users/previous_employments_controller.rb
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/LeaveManagement/Container/index.tsx
  app/javascript/src/components/LeaveManagement/Header.tsx
  app/javascript/src/components/Projects/ProjectsTable.tsx
  app/javascript/src/hooks/useCalendarData.ts
  spec/requests/api/v1/payment_settings_controller_spec.rb
  spec/requests/api/v1/users/previous_employments_controller_spec.rb
Due: lint-staged, rubocop

fix: calendar events display and API integration
  app/javascript/src/components/LeaveManagement/Container/index.tsx
  app/javascript/src/components/ui/schedule-calendar.css
  app/javascript/src/hooks/useCalendarData.ts
Due: lint-staged

fix: modernize devices page design
  app/javascript/src/components/Profile/Personal/Devices/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/Devices/index.tsx
Due: lint-staged

feat: add preferences page with modern design
  app/javascript/src/components/Settings/Preferences/index.tsx
  app/javascript/src/router/index.tsx
Due: lint-staged

fix: correct routing for preferences page
  app/javascript/src/router/index.tsx
Due: lint-staged

feat: enhance calendar with holidays and improve notifications UI
  .playwright-mcp/leaves-calendar-with-holidays.png
  .playwright-mcp/notifications-page-initial.png
  .playwright-mcp/notifications-page-toggle-enabled.png
  .playwright-mcp/notifications-updated-design.png
  app/controllers/api/v1/team_members/notification_preferences_controller.rb
  app/javascript/src/components/LeaveManagement/Container/index.tsx
  app/javascript/src/components/LeaveManagement/Header.tsx
  app/javascript/src/components/LeaveManagement/index.tsx
  app/javascript/src/components/Profile/Personal/NotificationPreferences/index.tsx
  app/javascript/src/hooks/useCalendarData.ts
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
