Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

fix(ci): stabilize auth bootstrap and system runners
  app/javascript/src/common/Loader.tsx
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Authentication/AuthShell.tsx
  app/javascript/src/components/Dashboard/Home.tsx
  app/javascript/src/utils/storage.ts
  bin/system-specs-parallel
  config/initializers/solid_queue.rb
  spec/support/capybara.rb
  spec/support/session_helpers.rb
Due: lint-staged, rubocop

fix(forms): clean phone input props and select styles
  app/javascript/src/common/CustomReactSelectStyle/ErrStyles/index.ts
  app/javascript/src/common/CustomReactSelectStyle/Styles/index.ts
  app/javascript/src/components/Clients/ClientForm/MobileClientForm.tsx
  app/javascript/src/components/Clients/ClientForm/index.tsx
  app/javascript/src/components/OrganizationSetup/CompanyDetailsForm/index.tsx
  app/javascript/src/components/Profile/Organization/Edit/ModernStaticPage.tsx
  app/javascript/src/components/Profile/Organization/Edit/OrgEditForm.tsx
  app/javascript/src/components/Profile/Organization/Edit/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileEditPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/StaticPage.tsx
  app/javascript/stylesheets/application.scss
Due: lint-staged

fix(ui): remove duplicate finance page titles
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Projects/ProjectsTable.tsx
  app/javascript/src/components/payments/PaymentsTable.tsx
Due: lint-staged

fix(ui): simplify top-level report and work headers
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/Reports/ReportsTable.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/components/TimeTracking/index.tsx
Due: lint-staged

fix(ui): align team cards with shared theme
  app/javascript/src/components/Team/ResponsiveTeam.tsx
Due: lint-staged

fix(ui): improve reports contrast and actions
  app/javascript/src/components/Reports/ReportsTable.tsx
Due: lint-staged

fix(auth): use asset-pipeline paths for preview images
  app/javascript/src/components/Authentication/AuthShell.tsx
Due: lint-staged

fix(render): add predeploy script
  bin/render-predeploy
Due: none

fix(auth): bundle preview images with vite
  app/javascript/src/components/Authentication/AuthShell.tsx
Due: lint-staged

fix(auth): move preview images into vite assets
  app/javascript/src/components/Authentication/AuthShell.tsx
Due: lint-staged

fix(auth): restore dashboard logout flow
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Navbar/ModernNavbar.tsx
  spec/system/dashboard_spec.rb
Due: lint-staged, rubocop

feat(data): add sanitized subset workflow
  .env.example
  .gitignore
  bin/build-sanitized-subset
  bin/restore-sanitized-subset
  config/data_subsets/miru.yml
  docs/sanitized-db-workflow.md
  script/data_subsets/build.rb
  script/data_subsets/r2.rb
  tmp/data_subsets/.keep
  tmp/migration/.keep
Due: lint-staged, rubocop

refactor(data): use wrangler for subset artifact storage
  .env.example
  .gitignore
  docs/sanitized-db-workflow.md
  script/data_subsets/r2.rb
Due: lint-staged, rubocop

fix(dashboard): scope client dashboard data
  app/controllers/api/v1/dashboard/activities_controller.rb
  app/controllers/api/v1/dashboard_controller.rb
  app/presenters/dashboard_presenter.rb
  spec/requests/api/v1/dashboard/activities_controller_spec.rb
  spec/requests/api/v1/dashboard_controller_spec.rb
Due: lint-staged, rubocop

fix(roles): align finance access and client scoping
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/policies/client_policy.rb
  spec/policies/client_policy_spec.rb
  spec/requests/api/v1/clients/index_spec.rb
Due: lint-staged, rubocop

chore(seeds): refresh local seed dataset
  db/seeds.rb
Due: lint-staged, rubocop

chore(data): script post-restore subset normalization
  .gitignore
  bin/restore-sanitized-subset
  docs/sanitized-db-workflow.md
  script/data_subsets/post_restore.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
