Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

The ClientPaymentMailer#payment method throws a Postmark::InvalidEmai… (#2063)
  app/mailers/client_payment_mailer.rb
  spec/mailers/client_payment_mailer_spec.rb
Due: lint-staged, rubocop

Fix: undefined method new_user_session_path error on password reset page (#2061)
  app/views/devise/shared/_links.html.erb
Due: none

SolidQueue crashes with a segmentation fault when attempting to conne… (#2059)
  config/database.yml
Due: none

fix: address code review feedback for PR #2045
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Profile/Organization/Holidays/EditHolidays/index.tsx
  app/services/timeoff_entries/index_service.rb
  spec/services/timeoff_entries/index_service_spec.rb
Due: lint-staged, rubocop

Linting issue fixed
  app/javascript/src/components/LeaveManagement/Container/LeaveBlock.tsx
Due: lint-staged

fix: exclude .well-known paths from catch-all route (#2049)
  app/controllers/home_controller.rb
  config/routes.rb
  spec/requests/home/index_spec.rb
Due: lint-staged, rubocop

feat: Add custom leaves support for time off entries (#2036)
  app/controllers/internal_api/v1/timeoff_entries_controller.rb
  app/javascript/src/components/LeaveManagement/Container/LeaveBlock.tsx
  app/javascript/src/components/LeaveManagement/Container/Table/TableRow.tsx
  app/javascript/src/components/LeaveManagement/index.tsx
  app/javascript/src/components/TimeoffEntries/TimeoffForm/index.tsx
  app/javascript/src/constants/leaveType.tsx
  app/models/custom_leave.rb
  app/models/timeoff_entry.rb
  app/policies/timeoff_entry_policy.rb
  app/services/time_tracking_index_service.rb
  app/services/timeoff_entries/index_service.rb
  app/views/internal_api/v1/time_tracking/index.json.jbuilder
  app/views/internal_api/v1/timeoff_entries/index.json.jbuilder
  db/migrate/20260112175140_add_custom_leave_id_to_timeoff_entries.rb
  db/migrate/20260112175342_add_foreign_key_custom_leave_to_timeoff_entries.rb
  db/migrate/20260112175355_validate_foreign_key_custom_leave_to_timeoff_entries.rb
  db/schema.rb
  docs/docs/product-guide/05-time-tracking.md
  docs/docs/product-guide/team/03-leave-management.md
  docs/docs/product-guide/team/_category_.json
  spec/factories/custom_leave_users.rb
  spec/factories/custom_leaves.rb
  spec/models/timeoff_entry_spec.rb
  spec/requests/internal_api/v1/time_tracking/index_spec.rb
  spec/requests/internal_api/v1/timeoff_entries/create_spec.rb
  spec/requests/internal_api/v1/timeoff_entries/index_spec.rb
  spec/services/timeoff_entries/index_service_spec.rb
Due: lint-staged, rubocop

fix: improve error mapping to match by name and date
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
Due: lint-staged

2027 special chars not allowed in holiday list v2 (#2045)
  .bundler-audit.yml
  app/controllers/internal_api/v1/holidays_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Profile/Organization/Holidays/EditHolidays/index.tsx
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  app/models/holiday_info.rb
  app/services/bulk_holiday_service.rb
  app/services/timeoff_entries/index_service.rb
  spec/cassettes/wise_currency_success.yml
  spec/models/holiday_info_spec.rb
  spec/models/timeoff_entry_spec.rb
  spec/models/wise_account_spec.rb
  spec/policies/wise/currency_policy_spec.rb
  spec/policies/wise/recipient_policy_spec.rb
  spec/policies/wise_policy_spec.rb
  spec/requests/internal_api/v1/holidays_controller_spec.rb
  spec/requests/internal_api/v1/profiles/bank_account_details_controller_spec.rb
  spec/requests/internal_api/v1/wise/currencies_controller_spec.rb
  spec/requests/internal_api/v1/wise/recipients_controller_spec.rb
  spec/requests/internal_api/v1/wise_controller_spec.rb
  spec/services/bulk_holiday_service_spec.rb
  spec/services/timeoff_entries/index_service_spec.rb
  spec/services/wise/api_spec.rb
  spec/services/wise/currency_spec.rb
  spec/services/wise/recipient_spec.rb
  spec/support/wise_setup.rb
Due: lint-staged, rubocop

Fix Solid Queue PostgreSQL connection failure handling (#2065)
  app/jobs/application_job.rb
  config/database.yml
  config/initializers/solid_queue.rb
Due: lint-staged, rubocop

feat(cli): add authenticated Miru CLI workflows
  .gitignore
  app/controllers/api/v1/cli/base_controller.rb
  app/controllers/api/v1/cli/capabilities_controller.rb
  app/controllers/api/v1/cli/clients_controller.rb
  app/controllers/api/v1/cli/expenses_controller.rb
  app/controllers/api/v1/cli/sessions_controller.rb
  app/controllers/api/v1/cli/timesheet_entries_controller.rb
  app/controllers/api/v1/payments_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/concerns/authenticable.rb
  app/controllers/concerns/current_company_concern.rb
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/models/cli_session.rb
  app/policies/payment_policy.rb
  app/views/api/v1/payments/show.json.jbuilder
  config/locales/en.yml
  config/routes/api.rb
  db/migrate/20260309221000_create_cli_sessions.rb
  db/schema.rb
  docs/miru-cli.md
  mise.toml
  spec/controllers/api/v1/users/sessions_controller_spec.rb
  spec/models/cli_session_spec.rb
  spec/rails_helper.rb
  spec/requests/api/v1/cli/capabilities/show_spec.rb
  spec/requests/api/v1/cli/clients/index_spec.rb
  spec/requests/api/v1/cli/expenses/create_spec.rb
  spec/requests/api/v1/cli/expenses/index_spec.rb
  spec/requests/api/v1/cli/sessions/destroy_spec.rb
  spec/requests/api/v1/cli/timesheet_entries/create_spec.rb
  spec/requests/api/v1/cli/timesheet_entries/destroy_spec.rb
  spec/requests/api/v1/cli/timesheet_entries/update_spec.rb
  spec/requests/api/v1/invoices/send_invoice_spec.rb
  spec/requests/api/v1/payments/show_spec.rb
  spec/requests/api/v1/users/me_spec.rb
  tools/miru-cli/README.md
  tools/miru-cli/cmd/miru/main.go
  tools/miru-cli/cmd/miru/main_test.go
  tools/miru-cli/go.mod
  tools/miru-cli/install.sh
Due: lint-staged, rubocop

feat(cli): add authenticated Miru CLI workflows
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
Due: lint-staged

chore(repo): ignore local test artifacts
  .gitignore
  app/javascript/src/components/Clients/Modals/AddProject.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/EmailPreview/InvoiceRow.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/EmailPreview/index.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/MobileView/MobileInvoiceRow.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/MobileView/MobileTableHeader.tsx
Due: lint-staged

fix(specs): align system coverage with current billing UI
  app/models/company.rb
  app/policies/company_policy.rb
  config/routes/api.rb
  spec/controllers/internal_api/v1/users/sessions_controller_spec.rb
  spec/requests/api/internal_api/v1/payments/providers/index_spec.rb
  spec/requests/api/internal_api/v1/reports/accounts_aging/index_spec.rb
  spec/requests/api/internal_api/v1/reports/outstanding_overdue_invoices/index_spec.rb
  spec/system/expenses/crud_spec.rb
  spec/system/outstanding_overdue_reports_spec.rb
  spec/system/payments/create_spec.rb
  spec/system/payments/list_spec.rb
Due: lint-staged, rubocop

fix(ci): restore test and system workflow prerequisites
  Gemfile
  Gemfile.lock
  config/database.yml
  package.json
  pnpm-lock.yaml
Due: lint-staged

ci(cli): run request specs explicitly in github actions
  .github/workflows/validations.yml
Due: none

fix(ui): align auth and admin shells with theme tokens
  app/javascript/src/components/AdminPages/ClientsPage/index.tsx
  app/javascript/src/components/AdminPages/ReportsPage/index.tsx
  app/javascript/src/components/AdminPages/SettingsPage/index.tsx
  app/javascript/src/components/AdminPages/TimeTrackingPage/index.tsx
  app/javascript/src/components/Authentication/SignIn/SignInForm.tsx
  app/javascript/src/components/Navbar/ModernNavbar.tsx
Due: lint-staged

feat(leaves): add summary calendar to settings view
  app/controllers/api/v1/timeoff_entries_controller.rb
  app/javascript/src/components/LeaveManagement/Container/index.tsx
  app/javascript/src/components/LeaveManagement/Header.tsx
  app/views/api/v1/timeoff_entries/index.json.jbuilder
Due: lint-staged, rubocop

fix(profile): restore avatar upload and display
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Profile/Layout/Navigation/UserInformation.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileEditPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileImageCard.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  app/javascript/src/components/Profile/Personal/User/MobilePersonalDetails.tsx
  app/javascript/src/components/Profile/Personal/User/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/User/index.tsx
  app/javascript/src/mapper/teams.mapper.ts
  config/initializers/encoding_sanitizer.rb
  package.json
  pnpm-lock.yaml
  spec/middleware/encoding_sanitizer_spec.rb
  spec/requests/api/v1/team_members/avatar/update_spec.rb
  spec/system/profile/avatar_upload_spec.rb
Due: lint-staged, rubocop

chore(dev): remove rack mini profiler
  Gemfile
  Gemfile.lock
  app/javascript/entrypoints/application.tsx
  app/javascript/src/components/Profile/Organization/Details/ModernOrganizationSettings.tsx
Due: lint-staged

fix(ci): stabilize auth bootstrap and system runners
  app/javascript/src/common/Loader.tsx
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Authentication/AuthShell.tsx
  app/javascript/src/components/Dashboard/Home.tsx
  app/javascript/src/utils/storage.ts
  bin/system-specs-parallel
  config/initializers/solid_queue.rb
  spec/support/capybara.rb
  spec/support/session_helpers.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
