Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

test(parity): add missing leave and timeoff integration coverage
  spec/requests/api/v1/leave_types/update_spec.rb
  spec/requests/api/v1/leaves/update_spec.rb
  spec/requests/api/v1/timeoff_entries/index_spec.rb
Due: lint-staged, rubocop

test(rspec): harden parallel test execution
  bin/parallel_setup
  bin/parallel_test
  bin/test
  spec/support/database_cleaner.rb
Due: lint-staged, rubocop

fix(specs): restore request/report parity and stabilize parallel runs
  app/controllers/api/v1/currency_pairs_controller.rb
  app/helpers/application_helper.rb
  app/models/currency_pair.rb
  app/services/currency_conversion_service.rb
  app/services/reports/generate_pdf.rb
  bin/parallel_setup
  bin/parallel_test
  bin/test
  config/initializers/stripe.rb
  config/routes/api.rb
  spec/factories/currency_pairs.rb
  spec/helpers/application_helper_spec.rb
  spec/requests/api/internal_api/v1/invoices/send_invoice_spec.rb
  spec/requests/api/internal_api/v1/reports/accounts_aging/index_spec.rb
  spec/requests/api/internal_api/v1/reports/client_revenue/index_spec.rb
  spec/requests/api/internal_api/v1/reports/time_entry/download_spec.rb
  spec/requests/api/v1/clients/invoices/index_spec.rb
  spec/requests/api/v1/invoices/send_invoice_spec.rb
  spec/requests/api/v1/reports/accounts_aging/index_spec.rb
  spec/requests/api/v1/reports/client_revenue/index_spec.rb
  spec/requests/api/v1/reports/time_entries_controller_spec.rb
  spec/requests/api/v1/reports/time_entry/download_spec.rb
Due: lint-staged, rubocop

test(parity): add missing system specs and refresh schema/checklist
  db/schema.rb
  docs/playwright-feature-parity-checklist.md
  spec/system/expenses/crud_spec.rb
  spec/system/invoices/partial_payments_spec.rb
  spec/system/invoices/status_transitions_spec.rb
  spec/system/payments/invoice_balance_spec.rb
  spec/system/reports/payments_spec.rb
Due: lint-staged, rubocop

fix(review): address CI, calendar, and frontend parity review issues
  .devcontainer/docker-compose.yml
  .devcontainer/post-start.sh
  .github/workflows/validations.yml
  app/controllers/api/v1/calendars_controller.rb
  app/javascript/packs/application.css
  app/javascript/src/apis/api.ts
  app/javascript/src/common/SearchTimeEntries.tsx
Due: lint-staged, rubocop

chore(deps): remove claude-on-rails
  Gemfile
  Gemfile.lock
Due: none

chore(deps): remove dockerfile-rails and rspec-buildkite
  .rspec
  Gemfile
  Gemfile.lock
Due: none

fix(security): sanitize kamal env placeholders
  .env.kamal
Due: none

test: stabilize request and system specs after upgrade
  spec/requests/api/internal_api/v1/companies/create_spec.rb
  spec/requests/invitations/accept/index_spec.rb
  spec/services/bulk_holiday_service_spec.rb
  spec/services/reports/time_entries/filter_service_spec.rb
  spec/support/capybara.rb
  spec/system/dashboard_spec.rb
  spec/system/expenses/index_spec.rb
  spec/system/holidays_management_spec.rb
  spec/system/invoice_pdf_download_spec.rb
  spec/system/invoices/details_spec.rb
Due: lint-staged, rubocop

chore: remove unused gems and update affected system specs
  Gemfile
  Gemfile.lock
  spec/system/invoices/index_spec.rb
  spec/system/time_tracking/entries_spec.rb
Due: lint-staged, rubocop

test: remove fuubar and keep rspec output minimal
  .rspec
  .rspec_fuubar
  Gemfile
  Gemfile.lock
Due: none

ci: fix ruby 4 bundler setup on linux
  .github/workflows/validations.yml
  Dockerfile
  Gemfile.lock
Due: none

ci: remove force-ruby-platform for sorbet compatibility
  .github/workflows/validations.yml
  Dockerfile
Due: none

build: upgrade pg for ruby 4 linux compatibility
  Gemfile.lock
Due: none

ci: increase vite sanity build timeout
  .github/workflows/validations.yml
Due: none

fix(ci): remove dead conditional in time tracking
  app/javascript/src/components/TimeTracking/index.tsx
Due: lint-staged

fix(ci): upgrade net-imap for ruby 4 compatibility
  Gemfile.lock
Due: none

fix(test): inline invoice logo fixture for CI
  spec/requests/api/v1/invoices/pdf_download_spec.rb
Due: lint-staged, rubocop
