Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

fix: enforce profile DOB and phone validation
  app/javascript/src/common/CustomDatePicker/index.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileProfileEditor.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileEditor.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/validationSchema.ts
  app/models/user.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/api/v1/profile/update_spec.rb
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

test: stabilize profile validation coverage
  spec/requests/api/v1/team_members/details/update_spec.rb
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

fix: localize profile settings summary
  app/javascript/src/components/Profile/Personal/User/MobilePersonalDetails.tsx
  app/javascript/src/components/Profile/Personal/User/PersonalProfileSummary.tsx
  app/javascript/src/components/Profile/Personal/User/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

fix: localize settings preferences page
  app/javascript/src/components/Settings/Preferences/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

fix: localize automation settings page
  app/javascript/src/components/Profile/Personal/Automation/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/settings/automation_spec.rb
Due: lint-staged, rubocop

fix: localize holidays settings page
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/settings/holidays_spec.rb
Due: lint-staged, rubocop

fix: localize report category labels
  app/javascript/src/components/Reports/ReportsTable.tsx
  spec/system/reports/index_spec.rb
Due: lint-staged, rubocop

fix: localize billing settings page
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/settings/billing_spec.rb
Due: lint-staged, rubocop

fix: prevent future dates in dob picker
  app/javascript/src/common/CustomDatePicker/index.tsx
Due: lint-staged

fix(profile): clamp phone input to 15 digits
  app/javascript/src/components/Profile/Personal/User/Edit/MobileProfileEditor.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileEditor.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
Due: lint-staged

test: cache runtime-balanced parallel specs
  .github/workflows/validations.yml
  bin/parallel_test
  bin/system-specs-parallel
  spec/spec_helper.rb
  spec/support/session_helpers.rb
Due: lint-staged, rubocop

test: fall back when mise is unavailable in CI
  .github/workflows/validations.yml
  bin/parallel_test
Due: none

fix(invoices): restore custom date filter in line item picker
  app/javascript/src/common/CustomDateRangePicker/index.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/Filters/index.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/Footer.tsx
  app/javascript/src/components/Invoices/MultipleEntriesModal/TimeEntrySelectionHeader.tsx
  app/javascript/src/components/Invoices/common/InvoiceTable/index.tsx
  app/javascript/src/components/Invoices/common/ManualEntry/index.tsx
  app/javascript/src/components/Invoices/common/MoreButton.tsx
  app/javascript/src/components/Invoices/common/NewLineItemRow/LineItemEditorRow.tsx
  app/javascript/src/components/Invoices/common/NewLineItemTable/TimeEntryPickerHeader.tsx
  spec/system/invoices/create_spec.rb
Due: lint-staged, rubocop

fix(time-tracking): wrap long review notes
  app/javascript/src/components/TimeTracking/EntryCard.tsx
  spec/system/time_tracking/add_entry_spec.rb
Due: lint-staged, rubocop

test(invoices): cover manual entry preview names
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  spec/system/invoices/create_spec.rb
Due: lint-staged, rubocop

fix(settings): localize payment settings page
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/settings/payment_spec.rb
Due: lint-staged, rubocop

fix(settings): localize leaves page and shared headers
  app/javascript/src/components/LeaveManagement/Header.tsx
  app/javascript/src/components/LeaveManagement/index.tsx
  app/javascript/src/components/Profile/Common/DetailsHeader.tsx
  app/javascript/src/components/Profile/Common/EditHeader.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/profile/settings_spec.rb
  spec/system/settings/leaves_spec.rb
Due: lint-staged, rubocop

fix(settings): localize notification settings page
  app/javascript/src/components/Profile/Personal/NotificationPreferences/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

fix(settings): localize employment settings pages
  app/javascript/src/components/Profile/Personal/Employment/Edit/EmploymentEditor.tsx
  app/javascript/src/components/Profile/Personal/Employment/Edit/MobileEmploymentEditor.tsx
  app/javascript/src/components/Profile/Personal/Employment/Edit/index.tsx
  app/javascript/src/components/Profile/Personal/Employment/EmploymentSummary.tsx
  app/javascript/src/components/Profile/Personal/Employment/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

fix(settings): localize devices settings pages
  app/javascript/src/components/Profile/Personal/Devices/DeviceInventorySummary.tsx
  app/javascript/src/components/Profile/Personal/Devices/Edit/Page.tsx
  app/javascript/src/components/Profile/Personal/Devices/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/settings/devices_spec.rb
Due: lint-staged, rubocop

fix: localize organization settings and harden date parsing
  app/controllers/api/v1/time_tracking_controller.rb
  app/controllers/api/v1/timesheet_entry_controller.rb
  app/controllers/concerns/date_range_param_parsing.rb
  app/javascript/src/components/Profile/Organization/Details/Page.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/requests/api/v1/time_tracking/index_spec.rb
  spec/requests/api/v1/timesheet_entry/index_spec.rb
  spec/system/settings/organization_spec.rb
Due: lint-staged, rubocop

fix: localize Hindi settings sidebar labels
  app/javascript/src/i18n/locales/hi.ts
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

fix: localize mounted reports and clients pages
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/clients/index_spec.rb
  spec/system/reports/index_spec.rb
Due: lint-staged, rubocop

fix: localize shared leave allocation labels
  app/javascript/src/constants/leaveType.tsx
Due: lint-staged

fix: localize leave balance cards in Hindi
  app/javascript/src/components/LeaveManagement/Container/LeaveBlock.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/settings/leaves_spec.rb
Due: lint-staged, rubocop

fix: localize shared clients and reports ui copy
  app/javascript/src/components/Reports/ShareReportButton.tsx
  app/javascript/src/components/ui/data-table.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/clients/index_spec.rb
  spec/system/reports/index_spec.rb
Due: lint-staged, rubocop

fix: localize client details header actions
  app/javascript/src/components/Clients/Details/Header.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/clients/details_spec.rb
Due: lint-staged, rubocop

fix: localize client payment reminder flow
  app/javascript/src/components/Clients/Details/index.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/MobileView/index.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/clients/details_spec.rb
Due: lint-staged, rubocop

fix: localize mounted client and payment report flows
  app/javascript/src/components/Clients/Details/constants.ts
  app/javascript/src/components/Clients/Modals/PaymentReminder/EmailPreview/index.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/utils.tsx
  app/javascript/src/components/Reports/PaymentReport/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/clients/details_spec.rb
  spec/system/reports/index_spec.rb
Due: lint-staged, rubocop

fix: localize client contacts and reminder previews
  app/javascript/src/components/Clients/Contacts/DeleteContact.tsx
  app/javascript/src/components/Clients/Contacts/List.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/EmailPreview/InvoiceRow.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/MobileView/MobileInvoiceRow.tsx
  app/javascript/src/components/Clients/Modals/PaymentReminder/MobileView/MobileTableHeader.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/clients/details_spec.rb
Due: lint-staged, rubocop

fix: localize revenue by client report labels
  app/javascript/src/components/Reports/RevenueByClientReport/Container/index.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/util.ts
  spec/system/reports/index_spec.rb
Due: lint-staged, rubocop

fix: localize accounts aging report labels
  app/javascript/src/components/Reports/AccountsAgingReport/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/reports/index_spec.rb
Due: lint-staged, rubocop

fix: localize outstanding overdue report labels
  app/javascript/src/components/Reports/OutstandingInvoiceReport/WorkspaceView.tsx
  app/javascript/src/i18n/locales/en.ts
  app/javascript/src/i18n/locales/hi.ts
  spec/system/reports/index_spec.rb
Due: lint-staged, rubocop

fix: avoid duplicate time tracking entries after save
  app/javascript/src/components/TimeTracking/EntryForm.tsx
  spec/system/time_tracking/add_entry_spec.rb
Due: lint-staged, rubocop

docs: prefer rtk for shell commands when practical
  AGENTS.md
Due: none

fix: align draft invoice line item styling
  app/javascript/src/components/Invoices/common/ManualEntry/index.tsx
Due: lint-staged

docs: add changelog entries for today bug fixes
  CHANGELOG.md
Due: none

docs: remove verification bullets from changelog
  CHANGELOG.md
Due: none

docs: remove changelog verification section
  CHANGELOG.md
Due: none
