Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

feat: import enhanced UI components and utilities from jp pro
  app/javascript/src/components/Invoices/ModernInvoiceCard.tsx
  app/javascript/src/components/ui/accordion.tsx
  app/javascript/src/components/ui/aspect-ratio.tsx
  app/javascript/src/components/ui/breadcrumb.tsx
  app/javascript/src/components/ui/hover-card.tsx
  app/javascript/src/components/ui/navigation-menu.tsx
  app/javascript/src/components/ui/pagination.tsx
  app/javascript/src/components/ui/slider.tsx
  app/javascript/src/components/ui/toggle.tsx
  app/javascript/src/utils/currencyFormatter.ts
  app/javascript/src/utils/dateHelpers.ts
  package.json
  pnpm-lock.yaml
Due: lint-staged

test: fix all remaining spec failures
  spec/requests/api/internal_api/v1/payments/create_spec.rb
  spec/requests/api/internal_api/v1/payments/new_spec.rb
  spec/requests/api/internal_api/v1/users/previous_employments/create_spec.rb
Due: lint-staged, rubocop

fix: type safety improvements and controller inheritance fixes
  AGENTS.md
  app/controllers/api/v1/payments_controller.rb
  app/controllers/api/v1/users/previous_employments_controller.rb
  app/javascript/src/StyledComponents/Avatar.tsx
  app/javascript/src/StyledComponents/Button.tsx
  app/javascript/src/components/Clients/TotalHoursChart.tsx
  app/javascript/src/components/Dashboard/Home.tsx
  app/javascript/src/components/Invoices/InvoiceSettings.tsx
  app/javascript/src/components/Profile/Organization/Payment/index.tsx
  spec/factories/payments.rb
Due: lint-staged, rubocop

fix: enable system specs to run locally
  spec/rails_helper.rb
  spec/system/basic_system_spec.rb
Due: lint-staged, rubocop

fix: migrate InputField to shadcn/ui and fix login page border issues
  app/javascript/packs/application.css
  app/javascript/src/common/FormikFields/InputField/index.tsx
Due: lint-staged

fix: remove review branch from CI build triggers
  .github/workflows/docker-build.yml
  .github/workflows/optimized-ci.yml
Due: none

fix: use X-Auth-Token and X-Auth-Email headers for API authentication
  app/javascript/src/context/AuthContext.tsx
  app/javascript/src/lib/api-client.ts
  cookies.txt
Due: lint-staged

fix: add missing dashboard index route to API
  config/routes/api.rb
Due: lint-staged, rubocop

fix: resolve all linting issues for CI
  app/javascript/src/common/FormikFields/InputField/index.tsx
  app/javascript/src/components/Dashboard/Home.tsx
  app/javascript/src/components/Invoices/ModernInvoiceCard.tsx
  app/javascript/src/components/ui/accordion.tsx
  app/javascript/src/components/ui/aspect-ratio.tsx
  app/javascript/src/components/ui/breadcrumb.tsx
  app/javascript/src/components/ui/hover-card.tsx
  app/javascript/src/components/ui/navigation-menu.tsx
  app/javascript/src/components/ui/pagination.tsx
  app/javascript/src/components/ui/slider.tsx
  app/javascript/src/components/ui/toggle.tsx
  app/javascript/src/lib/api-client.ts
  app/javascript/src/utils/currencyFormatter.ts
  app/javascript/src/utils/dateHelpers.ts
  spec/requests/api/v1/payment_settings_controller_spec.rb
  spec/requests/api/v1/reports/time_entries_controller_spec.rb
Due: lint-staged, rubocop

fix: restrict CI workflows to only run on PRs targeting main branches
  .github/workflows/docker-build.yml
  .github/workflows/optimized-ci.yml
  .github/workflows/validations.yml
Due: none

fix: run all tests in single shard/container
  .github/workflows/validations.yml
Due: none

fix: use parallel_rspec in single container with proper sizing
  .github/workflows/validations.yml
Due: none

fix: remove matrix completely and use Rails 8 official Dockerfile
  .dockerignore
  .github/workflows/validations.yml
  Dockerfile
  bin/docker-entrypoint
Due: none

build: standardize Dockerfile with Rails 8 patterns while keeping optimizations
  .github/workflows/docker-build.yml
  Dockerfile
Due: none
