Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

fix: validate invoice signature png dimensions without imagemagick
  app/controllers/api/v1/companies/invoice_signatures_controller.rb
Due: lint-staged, rubocop

refactor: extract invoice signature upload validation
  app/controllers/api/v1/companies/invoice_signatures_controller.rb
  app/services/companies/invoice_signature_upload_service.rb
  spec/services/companies/invoice_signature_upload_service_spec.rb
Due: lint-staged, rubocop

fix: disable invoice signature delete during upload
  app/javascript/src/components/Profile/Organization/InvoiceSignature/index.tsx
Due: lint-staged

fix: remove duplicate toast notifications when saving a client
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Clients/ClientForm/ClientEditor.tsx
  app/javascript/src/components/Clients/ClientForm/MobileClientEditor.tsx
  app/views/api/v1/clients/create.json.jbuilder
  github_bug_template.md
Due: lint-staged

revert: local file pushes
  github_bug_template.md
Due: none

feat: add search text highlighting across all searchable pages
  app/javascript/src/common/SearchDataRow/index.tsx
  app/javascript/src/components/ClientInvoices/Header.tsx
  app/javascript/src/components/ClientInvoices/InvoiceSearch/SearchDropdown.tsx
  app/javascript/src/components/ClientInvoices/InvoiceSearch/SearchedDataRow.tsx
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/javascript/src/components/Clients/Header/index.tsx
  app/javascript/src/components/Expenses/List/Header.tsx
  app/javascript/src/components/Invoices/List/InvoiceSearch/SearchDropdown.tsx
  app/javascript/src/components/Invoices/List/InvoiceSearch/SearchedDataRow.tsx
  app/javascript/src/components/Projects/ProjectsTable.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/components/ui/data-table.tsx
  app/javascript/src/components/ui/enhanced-search.tsx
  app/javascript/src/components/ui/highlight-text.tsx
Due: lint-staged

fix(ui): restore sign-out button in dashboard header
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
Due: lint-staged

fix: harden dashboard logout button
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
Due: lint-staged

test: align logout header expectation
  spec/system/profile/settings_spec.rb
Due: lint-staged, rubocop

feat(payments): add bulk download option for selected payments
  app/controllers/api/v1/payments_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/payments/PaymentsTable.tsx
  app/javascript/src/i18n/locales/en.ts
  app/policies/payment_policy.rb
  config/routes/api.rb
  spec/requests/api/v1/payments/bulk_download_spec.rb
Due: lint-staged, rubocop

fix: normalize analytics utilization durations
  app/jobs/analytics/threshold_notifications_job.rb
  app/services/analytics/team_productivity_analytics.rb
  spec/jobs/analytics/threshold_notifications_job_spec.rb
  spec/services/analytics/team_productivity_analytics_spec.rb
  spec/services/analytics/threshold_evaluator_spec.rb
Due: lint-staged, rubocop

feat: add search highlighting and fix filtered count on payments, invoices, and expenses
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Projects/ProjectsTable.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/components/payments/PaymentsTable.tsx
  app/javascript/src/components/ui/data-table.tsx
  app/javascript/src/components/ui/highlight-text.tsx
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix: use i18n-js %{} interpolation format for matching count messages
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

feat(cli): add invoice creation
  CHANGELOG.md
  README.md
  app/controllers/api/v1/cli/capabilities_controller.rb
  app/mcp/server_factory.rb
  app/mcp/tool_catalog.rb
  app/mcp/tools/invoice_create_tool.rb
  docs/miru-cli.md
  docs/miru-mcp.md
  spec/mcp/tool_catalog_spec.rb
  spec/mcp/tools/write_tools_spec.rb
  tools/miru-cli/README.md
  tools/miru-cli/cmd/miru/main.go
  tools/miru-cli/cmd/miru/main_test.go
  tools/miru-cli/install.sh
Due: lint-staged, rubocop

fix(auth): stabilize SPA token fallback
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/concerns/authenticable.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Main.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileEditor.tsx
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
  app/javascript/src/context/auth.tsx
  app/javascript/src/hooks/useCurrentUser.ts
  app/javascript/src/hooks/useDashboard.ts
  app/javascript/src/reducers/auth.ts
  app/javascript/src/utils/authHeaders.ts
  spec/controllers/api/v1/users/sessions_controller_spec.rb
  spec/system/auth/token_fallback_spec.rb
Due: lint-staged, rubocop

fix(time-tracking): use shared projects API path
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
Due: lint-staged

test(auth): align session controller specs with cookie auth
  spec/controllers/api/v1/users/sessions_controller_spec.rb
Due: lint-staged, rubocop

fix: profile page UI alignment and dropdown highlight issues (#2315)
  app/javascript/src/common/CustomReactSelect/index.tsx
  app/javascript/src/common/CustomReactSelectStyle/ErrStyles/index.ts
  app/javascript/src/common/CustomReactSelectStyle/Styles/index.ts
  app/javascript/src/common/CustomReactSelectStyle/shared.ts
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileEditor.tsx
  app/javascript/stylesheets/application.scss
Due: lint-staged

fix: add empty line before declaration to satisfy Stylelint rule
  app/javascript/stylesheets/application.scss
Due: none

test(e2e): extend Playwright tests with coverage for recent PRs
  e2e/clients/02-search.spec.ts
  e2e/clients/04-create.spec.ts
  e2e/clients/05-edit.spec.ts
  e2e/dashboard/02-stats-and-charts.spec.ts
  e2e/invoices/01-list.spec.ts
  e2e/invoices/02-create.spec.ts
  e2e/invoices/05-send.spec.ts
  e2e/payments/02-add-payment.spec.ts
  e2e/payments/04-ux-interactions.spec.ts
  e2e/reports/03-time-entry-report.spec.ts
  e2e/settings-holidays/03-public-holidays.spec.ts
  e2e/settings-organization/01-page-load.spec.ts
  e2e/settings-payment/02-upi-settings.spec.ts
  e2e/settings-profile/05-edit-validations.spec.ts
  e2e/team/06-kebab-menu.spec.ts
  e2e/time-tracking/08-copy-last-week.spec.ts
Due: lint-staged

fix(analytics): correct utilization alert scope
  app/services/analytics/team_productivity_analytics.rb
  config/solid_queue.yml
  docs/analytics.md
  spec/config/solid_queue_schedule_spec.rb
  spec/services/analytics/team_productivity_analytics_spec.rb
  spec/services/analytics/threshold_evaluator_spec.rb
Due: lint-staged, rubocop

fix(analytics): correct utilization alert scope
  app/jobs/analytics/threshold_notifications_job.rb
  app/services/analytics/team_productivity_analytics.rb
  app/services/analytics/threshold_evaluator.rb
  config/solid_queue.yml
  docs/analytics.md
  spec/config/solid_queue_schedule_spec.rb
  spec/jobs/analytics/threshold_notifications_job_spec.rb
  spec/services/analytics/team_productivity_analytics_spec.rb
  spec/services/analytics/threshold_evaluator_spec.rb
Due: lint-staged, rubocop

fix: mobile UI responsiveness, duplicate toasts, and form issues
  app/javascript/entrypoints/application.tsx
  app/javascript/src/common/CustomAdvanceInput/index.tsx
  app/javascript/src/common/CustomAsyncSelect/index.tsx
  app/javascript/src/common/CustomCreatableSelect/index.tsx
  app/javascript/src/common/CustomInputText/index.tsx
  app/javascript/src/common/CustomReactSelect/index.tsx
  app/javascript/src/common/CustomTextareaAutosize.tsx
  app/javascript/src/components/Clients/ClientForm/MobileClientEditor.tsx
  app/javascript/src/components/Clients/ClientsTable.tsx
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/OrganizationSetup/FinancialDetailsForm/MobileFinancialDetailForm.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileProfileEditor.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/components/TimeTracking/Header.tsx
  app/javascript/src/components/TimeTracking/MonthCalendar.tsx
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/components/TimeTracking/WeekDaySelector.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/common/CompactLocaleSwitcher.tsx
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
  app/javascript/src/components/ui/data-table.tsx
  app/javascript/stylesheets/application.scss
  app/views/mailers/client_payment_mailer/payment.html.erb
  app/views/mailers/payment_mailer/client_payment_mailer.html.erb
  app/views/mailers/payment_mailer/payment.html.erb
Due: lint-staged

fix: mobile UI responsiveness, device specs, calendar layout, duplicate toast
  app/javascript/src/apis/api.ts
  app/javascript/src/components/LeaveManagement/Header.tsx
  app/javascript/src/components/LeaveManagement/LeaveManagementContent.tsx
  app/javascript/src/components/Profile/Organization/Holidays/Editor.tsx
  app/javascript/src/components/Profile/Organization/Payment/Page.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileProfileEditor.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/ProfileEditor.tsx
  app/javascript/src/components/Profile/Personal/User/index.tsx
  app/javascript/src/components/Settings/Preferences/index.tsx
  app/models/device.rb
Due: lint-staged, rubocop

fix(expenses): split date picker state between Add/Edit dialogs and fix date format key
  app/javascript/src/components/Expenses/ExpensesTable.tsx
Due: lint-staged

fix(mobile): address PR review comments — date picker, payment dropdown, cleanup
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/Profile/Personal/User/MobilePersonalDetails.tsx
  app/javascript/src/components/Profile/Personal/User/index.tsx
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
  app/javascript/src/components/payments/Modals/utils.ts
  app/javascript/stylesheets/application.scss
Due: lint-staged

fix(payments): open mobile transaction type dropdown on wrapper click
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
Due: lint-staged

fix(payments): make mobile transaction type dropdown keyboard accessible
  app/javascript/src/components/payments/Modals/PaymentEntryForm.tsx
Due: lint-staged

feat(timesheet): make entry edit window configurable per company
  app/controllers/api/v1/companies_controller.rb
  app/javascript/src/components/Profile/Organization/Edit/OrgEditForm.tsx
  app/javascript/src/components/Profile/Organization/Edit/index.tsx
  app/javascript/src/components/TimeTracking/EntryCard.tsx
  app/javascript/src/i18n/locales/en.ts
  app/views/api/v1/companies/index.json.jbuilder
  app/views/internal_api/v1/companies/index.json.jbuilder
  db/migrate/20260525143125_add_timesheet_edit_days_to_companies.rb
  db/schema.rb
  spec/factories/companies.rb
  spec/requests/api/v1/companies/update_spec.rb
  spec/support/shared_examples/api/v1/companies_index_shared_example.rb
Due: lint-staged, rubocop

fix(timesheet): wire timesheet_edit_days through backend enforcement
  app/controllers/api/v1/timesheet_entry/bulk_action_controller.rb
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/models/company.rb
  app/policies/timesheet_entry_policy.rb
  config/locales/en.yml
  spec/policies/timesheet_entry_policy_spec.rb
  spec/requests/api/v1/timesheet_entries/bulk_actions/destroy_spec.rb
  spec/requests/api/v1/timesheet_entries/bulk_actions/update_spec.rb
Due: lint-staged, rubocop

fix(timesheet): complete configurable edit window via autoplan review
  app/controllers/api/v1/timesheet_entry/bulk_action_controller.rb
  app/javascript/src/components/Profile/Organization/Edit/index.tsx
  app/javascript/src/components/TimeTracking/EntryCard.tsx
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/i18n/locales/en.ts
  app/policies/timesheet_entry_policy.rb
  config/locales/ar.yml
  config/locales/bn.yml
  config/locales/de.yml
  config/locales/en-GB.yml
  config/locales/en-US.yml
  config/locales/en.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/gu.yml
  config/locales/hi.yml
  config/locales/id.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/kn.yml
  config/locales/ko.yml
  config/locales/ml.yml
  config/locales/mr.yml
  config/locales/nl.yml
  config/locales/pa.yml
  config/locales/pt-BR.yml
  config/locales/ta.yml
  config/locales/te.yml
  config/locales/tr.yml
  config/locales/ur.yml
  config/locales/zh-CN.yml
  db/migrate/20260525143125_add_timesheet_edit_days_to_companies.rb
  spec/models/company_spec.rb
  spec/policies/timesheet_entry_policy_spec.rb
Due: lint-staged, rubocop

fix(timesheet): correct boundary date in employee request specs
  spec/requests/api/v1/timesheet_entries/destroy_spec.rb
  spec/requests/api/v1/timesheet_entries/update_spec.rb
Due: lint-staged, rubocop

fix(timesheet): review fixes — _me endpoint, timeoff owner bypass, locale text, dead code
  app/controllers/api/v1/users_controller.rb
  app/javascript/src/components/TimeTracking/EntryCard.tsx
  app/policies/timeoff_entry_policy.rb
  config/environments/development.rb
  config/locales/ar.yml
  config/locales/bn.yml
  config/locales/de.yml
  config/locales/en-GB.yml
  config/locales/en-US.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/gu.yml
  config/locales/hi.yml
  config/locales/id.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/kn.yml
  config/locales/ko.yml
  config/locales/ml.yml
  config/locales/mr.yml
  config/locales/nl.yml
  config/locales/pa.yml
  config/locales/pt-BR.yml
  config/locales/ta.yml
  config/locales/te.yml
  config/locales/tr.yml
  config/locales/ur.yml
  config/locales/zh-CN.yml
  spec/policies/timeoff_entry_policy_spec.rb
Due: lint-staged, rubocop

fix(timesheet): address CodeRabbit review comments
  app/controllers/api/v1/timesheet_entry/bulk_action_controller.rb
  app/javascript/src/components/Profile/Organization/Edit/OrgEditForm.tsx
  app/javascript/src/components/Profile/Organization/Edit/index.tsx
  app/javascript/src/i18n/locales/en.ts
  spec/requests/api/v1/timesheet_entries/bulk_actions/destroy_spec.rb
  spec/requests/api/v1/timesheet_entries/bulk_actions/update_spec.rb
Due: lint-staged, rubocop

chore(i18n): localize edit-window locked messages in 22 locale files
  config/locales/ar.yml
  config/locales/bn.yml
  config/locales/de.yml
  config/locales/es.yml
  config/locales/fr.yml
  config/locales/gu.yml
  config/locales/hi.yml
  config/locales/id.yml
  config/locales/it.yml
  config/locales/ja.yml
  config/locales/kn.yml
  config/locales/ko.yml
  config/locales/ml.yml
  config/locales/mr.yml
  config/locales/nl.yml
  config/locales/pa.yml
  config/locales/pt-BR.yml
  config/locales/ta.yml
  config/locales/te.yml
  config/locales/tr.yml
  config/locales/ur.yml
  config/locales/zh-CN.yml
Due: none
