Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Suppress all output except errors
output:
  - summary
  - success

# Skip hooks execution if it's a merge or rebase
skip_output:
  - meta
  - execution

pre-commit:
  parallel: true
  commands:
    lint-staged:
      glob: "*.{js,jsx,ts,tsx,json,rb}"
      run: npx lint-staged
    
    rubocop:
      glob: "*.rb"
      run: bundle exec rubocop -a --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    conventional-commit:
      run: |
        # Skip if not a regular commit or if message already follows convention
        if [ "$2" != "" ] || grep -qE '^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?:' "$1"; then
          exit 0
        fi
        
        # Get branch name and determine commit type
        BRANCH=$(git symbolic-ref --short HEAD 2>/dev/null || echo "")
        TYPE="feat"
        
        case "$BRANCH" in
          *fix*|*bug*|*hotfix*) TYPE="fix" ;;
          *doc*|*docs*) TYPE="docs" ;;
          *test*|*spec*) TYPE="test" ;;
          *chore*|*upgrade*|*update*|*rm-*) TYPE="chore" ;;
          *refactor*) TYPE="refactor" ;;
        esac
        
        # Read and update commit message
        COMMIT_MSG=$(cat "$1" 2>/dev/null || echo "")
        if [ -n "$COMMIT_MSG" ]; then
          echo "$TYPE: $COMMIT_MSG" > "$1"
        fi

post-commit:
  commands:
    update-claude:
      run: |
        # Update CLAUDE.md with recent commits if needed
        echo "âœ… Commit successful!"

# Install hooks on npm/pnpm install
scripts:
  "postinstall": "lefthook install"

feat(chat): add Chatbase identity verification endpoint
  app/controllers/api/v1/chatbase_tokens_controller.rb
  app/javascript/src/components/TimeTracking/EntryCard.tsx
  app/javascript/src/components/TimeTracking/EntryDetailsModal.tsx
  app/javascript/src/components/TimeTracking/EntryForm.tsx
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
  app/javascript/src/utils/timeTrackingTimer.ts
  config/initializers/cors.rb
  config/routes/api.rb
  spec/system/time_tracking/add_entry_spec.rb
  spec/system/time_tracking/entries_spec.rb
Due: lint-staged, rubocop

fix(chatbase): allow session-auth token fetch
  app/controllers/api/v1/chatbase_tokens_controller.rb
  spec/requests/api/v1/chatbase_tokens_controller_spec.rb
Due: lint-staged, rubocop

fix(chatbase): allow session-auth token fetch
  app/controllers/api/v1/chatbase_tokens_controller.rb
  config/initializers/cors.rb
  config/routes/api.rb
  spec/requests/api/v1/chatbase_tokens_controller_spec.rb
Due: lint-staged, rubocop

ci(fly): skip staging deploy when app is unset
  .github/workflows/fly.yml
Due: none

ci: remove obsolete fly staging workflow
  .github/workflows/fly.yml
Due: none

test: align expense pagination expectation
  spec/requests/api/v1/expenses/index_spec.rb
Due: lint-staged, rubocop

fix(ui): restore valid time entry selection and invoice theming
  app/javascript/src/components/Invoices/Invoice/PaymentDetails.tsx
  app/javascript/src/components/Invoices/InvoicePreview/index.tsx
  app/javascript/src/components/TimeTracking/EntryForm.tsx
  mise.toml
  spec/system/time_tracking/add_entry_spec.rb
Due: lint-staged, rubocop

fix(invoices): ensure latest-first list ordering
  app/services/invoices/index_service.rb
  spec/requests/api/v1/invoices/index_spec.rb
  spec/services/invoices/index_service_spec.rb
  spec/system/invoices/index_spec.rb
Due: lint-staged, rubocop

docs(agent-billing): generalize agent key plan
  docs/miru-ai-agent-billing-autoplan.md
Due: none

fix(pdf): increase ferrum startup timeout in ci
  app/services/pdf_generation/base_service.rb
  spec/services/pdf_generation/base_service_spec.rb
Due: lint-staged, rubocop

feat(agent): add generic agent key ingestion
  app/controllers/api/v1/agent/base_controller.rb
  app/controllers/api/v1/agent/capabilities_controller.rb
  app/controllers/api/v1/agent/timesheet_entries_controller.rb
  app/models/agent.rb
  app/models/agent_key.rb
  app/models/company.rb
  app/models/timesheet_entry.rb
  app/models/user.rb
  config/routes/api.rb
  db/migrate/20260329190000_add_agents_and_reviewable_agent_entries.rb
  db/migrate/20260329190001_add_foreign_key_to_timesheet_entries_agent.rb
  db/migrate/20260329190002_validate_foreign_key_to_timesheet_entries_agent.rb
  db/schema.rb
  spec/factories/agent_keys.rb
  spec/factories/agents.rb
  spec/models/agent_key_spec.rb
  spec/models/agent_spec.rb
  spec/models/timesheet_entry_spec.rb
  spec/requests/api/v1/agent/capabilities/show_spec.rb
  spec/requests/api/v1/agent/timesheet_entries/create_spec.rb
Due: lint-staged, rubocop

fix(timesheet-entry): declare review_status enum type
  app/models/timesheet_entry.rb
Due: lint-staged, rubocop

fix(invoices): improve recently updated card spacing
  app/javascript/src/components/Invoices/List/RecentlyUpdated/InfiniteScrollRecentlyUpdated.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/RecentlyUpdatedCard.tsx
Due: lint-staged

fix(api): restore chatbase auth and harden timesheet attributes
  app/controllers/api/v1/chatbase_tokens_controller.rb
  app/models/timesheet_entry.rb
Due: lint-staged, rubocop

fix(mailer): normalize trial timezone labels
  app/mailers/subscription_mailer.rb
  app/views/subscription_mailer/trial_started.html.erb
  app/views/subscription_mailer/trial_started.text.erb
  spec/mailers/subscription_mailer_spec.rb
Due: lint-staged, rubocop

fix(time-tracking): restore old entry serialization
  app/models/timesheet_entry.rb
  spec/models/timesheet_entry_spec.rb
  spec/requests/api/v1/timesheet_entry/index_spec.rb
Due: lint-staged, rubocop

fix(time-tracking): restore pto and holiday entries
  app/javascript/src/components/TimeTracking/TimeEntriesDisplay.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  spec/system/time_tracking/views_spec.rb
Due: lint-staged, rubocop

docs: add jira-to-miru drafting examples
  docs/miru-ai-agent-billing-autoplan.md
  docs/miru-cli.md
  tools/miru-cli/README.md
Due: none

docs: add miru 3.0 launch readiness checklist
  docs/launch-readiness-3-0.md
Due: none

feat: add locale-aware auth and onboarding defaults
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/application_controller.rb
  app/controllers/api/v1/profile_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/auth_response_payload.rb
  app/controllers/concerns/devise_whitelist.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/AppWithUserData.tsx
  app/javascript/src/components/Authentication/AuthShell.tsx
  app/javascript/src/components/Authentication/SignIn/SignInForm.tsx
  app/javascript/src/components/Authentication/SignIn/utils.ts
  app/javascript/src/components/Authentication/SignUp/SignUpForm.tsx
  app/javascript/src/components/Authentication/SignUp/utils.ts
  app/javascript/src/components/Navbar/ModernNavbar.tsx
  app/javascript/src/components/OrganizationSetup/CompanyDetailsForm/index.tsx
  app/javascript/src/components/OrganizationSetup/CompanyDetailsForm/utils.ts
  app/javascript/src/components/OrganizationSetup/FinancialDetailsForm/utils.ts
  app/javascript/src/components/Profile/Layout/Navigation/List.tsx
  app/javascript/src/components/Profile/Layout/Navigation/MobileNav.tsx
  app/javascript/src/components/Settings/ModernPreferences/index.tsx
  app/javascript/src/context/UserContext.tsx
  app/javascript/src/hooks/useCurrentUser.ts
  app/javascript/src/i18n/index.ts
  app/models/concerns/locale_config.rb
  app/models/user.rb
  config/i18n-tasks.yml
  config/initializers/i18n.rb
  db/migrate/20260330062553_add_locale_to_users.rb
  db/schema.rb
  docs/localization-workflow.md
  spec/models/user_spec.rb
  spec/requests/api/v1/profile/update_spec.rb
  spec/requests/api/v1/users/me_spec.rb
  spec/requests/api/v1/users/sessions/create_spec.rb
  spec/requests/localization/auth_pages_spec.rb
Due: lint-staged, rubocop

docs: add miru 3.0 launch narrative
  docs/launch-narrative-3-0.md
Due: none

feat: add internal purchase alert email
  app/mailers/subscription_mailer.rb
  app/services/handle_stripe_checkout_event_service.rb
  app/services/subscriptions/stripe_sync_service.rb
  app/views/subscription_mailer/plan_purchased.html.erb
  app/views/subscription_mailer/plan_purchased.text.erb
  docs/web-time-tracker-spec.md
  spec/mailers/previews/subscription_mailer_preview.rb
  spec/mailers/subscription_mailer_spec.rb
  spec/requests/webhooks/stripe_controller_spec.rb
  spec/services/subscriptions/stripe_sync_service_spec.rb
  spec/system/time_tracking/add_entry_spec.rb
Due: lint-staged, rubocop

feat(time-tracking): fix month navigation and expand locales
  app/javascript/src/common/SearchTimeEntries.tsx
  app/javascript/src/components/Dashboard/DashboardHome.tsx
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Dashboard/MonochromeCharts.tsx
  app/javascript/src/components/TimeTracking/Header.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/common/CompactLocaleSwitcher.tsx
  app/javascript/src/i18n/index.ts
  app/models/concerns/locale_config.rb
  config/i18n-tasks.yml
  spec/models/user_spec.rb
  spec/requests/localization/auth_pages_spec.rb
  spec/system/time_tracking/add_entry_spec.rb
  spec/system/time_tracking/views_spec.rb
Due: lint-staged, rubocop

fix(time-tracking): restore month view navigation
  app/javascript/src/common/SearchTimeEntries.tsx
  app/javascript/src/components/TimeTracking/Header.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  spec/system/time_tracking/add_entry_spec.rb
  spec/system/time_tracking/views_spec.rb
Due: lint-staged, rubocop

feat(time-tracking): fix month navigation and expand locales
  app/javascript/src/components/Dashboard/DashboardHome.tsx
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Dashboard/MonochromeCharts.tsx
  app/javascript/src/components/common/CompactLocaleSwitcher.tsx
  app/javascript/src/i18n/index.ts
  app/models/concerns/locale_config.rb
  config/i18n-tasks.yml
  spec/models/user_spec.rb
  spec/requests/localization/auth_pages_spec.rb
Due: lint-staged, rubocop

fix(i18n): lazy-load locale fallbacks
  app/javascript/src/i18n/index.ts
  config/application.rb
Due: lint-staged, rubocop

fix(i18n): guard locale during mixed-schema deploys
  app/controllers/api/v1/application_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/models/user.rb
Due: lint-staged, rubocop

fix(settings): restore profile prefills and employee access
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/javascript/src/components/Profile/Layout/Navigation/index.tsx
  app/javascript/src/components/Profile/Layout/routes.tsx
  app/javascript/src/components/Profile/Organization/Holidays/ModernHolidaysEditor.tsx
  app/javascript/src/components/Profile/Organization/Holidays/index.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/MobileEditPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  app/javascript/src/components/Settings/ModernPreferences/index.tsx
  app/javascript/src/hooks/useCurrentUser.ts
  spec/requests/api/v1/users/me_spec.rb
  spec/system/profile/settings_spec.rb
  spec/system/settings/leaves_spec.rb
Due: lint-staged, rubocop

fix(time-tracking): restore time off entry flow
  app/javascript/src/components/TimeTracking/AddEntryButton.tsx
  app/javascript/src/components/TimeTracking/index.tsx
Due: lint-staged

style: fix production lint regressions
  app/javascript/src/components/Settings/ModernPreferences/index.tsx
  app/javascript/src/components/TimeTracking/index.tsx
Due: lint-staged

style: normalize time tracking formatting
  app/javascript/src/components/TimeTracking/index.tsx
Due: lint-staged

style: satisfy time tracking lint rule
  app/javascript/src/components/TimeTracking/index.tsx
Due: lint-staged
