Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

fix: make Stripe failure webhooks idempotent
  app/services/invoice_payment/stripe_payment_failed.rb
  db/migrate/20260729000200_add_provider_event_id_to_payments.rb
  db/schema.rb
  spec/services/invoice_payment/stripe_payment_failed_spec.rb
Due: lint-staged, rubocop

fix: make payment success reads side-effect free
  app/controllers/api/v1/invoices/payments_controller.rb
  app/services/invoice_payment/settle.rb
  spec/requests/api/v1/invoices/payments/success_spec.rb
  spec/services/invoice_payment/settle_spec.rb
Due: lint-staged, rubocop

fix: gate Reports upsell banner on pro_access and clear the feature param
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
Due: lint-staged

fix: reauthenticate security setting changes
  app/controllers/api/v1/application_controller.rb
  app/controllers/api/v1/users/passkeys_controller.rb
  app/controllers/api/v1/users/totp_controller.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  spec/requests/api/v1/users/passkeys_spec.rb
  spec/requests/api/v1/users/totp_spec.rb
Due: lint-staged, rubocop

fix: require production demo password
  script/production_demo/ensure_matrix.rb
  spec/scripts/production_demo/ensure_matrix_spec.rb
Due: lint-staged, rubocop

fix: reject static Rails signing secret
  deploy_kamal.sh
  spec/scripts/deploy_kamal_spec.rb
Due: lint-staged, rubocop

feat: tease Reports as a Pro upsell instead of hiding it (#2405)
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/components/Reports/AccessGate.tsx
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix: remove committed timesheet exports
  lib/csvs/time-entries.csv
  lib/csvs/timesheet-entries-data.csv
  lib/tasks/timesheet_data.rake
Due: none

fix: remove committed credentials
  docs/contributing-guide/setup/windows.md
  spec/cassettes/Api_V1_PaymentSettings_destroy/when_the_user_is_an_book_keeper/is_not_be_permitted_to_connect_stripe.yml
  spec/cassettes/Api_V1_PaymentSettings_destroy/when_the_user_is_an_employee/is_not_be_permitted_to_connect_stripe.yml
  spec/cassettes/Api_V1_PaymentSettings_destroy/when_user_is_an_admin/is_able_to_delete_a_stripe_connection.yml
  spec/cassettes/InternalApi_V1_PaymentSettings_destroy/when_the_user_is_an_book_keeper/is_not_be_permitted_to_connect_stripe.yml
  spec/cassettes/InternalApi_V1_PaymentSettings_destroy/when_the_user_is_an_employee/is_not_be_permitted_to_connect_stripe.yml
  spec/cassettes/InternalApi_V1_PaymentSettings_destroy/when_user_is_an_admin/is_able_to_delete_a_stripe_connection.yml
  spec/cassettes/InvoicePayment_StripeCheckoutFailed/_process/creates_the_payment_entry.yml
  spec/cassettes/InvoicePayment_StripeCheckoutFailed/_process/returns_a_Payment_object.yml
  spec/cassettes/InvoicePayment_StripeCheckoutFulfillment/when_correct_stripe_event_is_passed/creates_the_payment_entry.yml
  spec/cassettes/InvoicePayment_StripeCheckoutFulfillment/when_correct_stripe_event_is_passed/updates_the_invoice_status_to_paid.yml
  spec/cassettes/InvoicePayment_StripeCheckoutFulfillment/when_intent_id_of_invoice_and_stripe_event_doesn_t_match/doesn_t_create_the_payment_entry.yml
  spec/cassettes/InvoicePayment_StripeCheckoutFulfillment/when_stripe_event_payment_status_is_not_paid/doesn_t_create_the_payment_entry.yml
  spec/cassettes/InvoicePayment_StripeCheckoutFulfillment/when_stripe_event_status_is_not_complete/doesn_t_create_the_payment_entry.yml
  spec/cassettes/InvoicePayment_StripePaymentFailed/_process/creates_the_payment_entry.yml
  spec/cassettes/InvoicePayment_StripePaymentFailed/_process/returns_a_Payment_object.yml
  spec/cassettes/InvoicePayment_StripePaymentFailed/_process/returns_the_stripe_intent_object.yml
  spec/cassettes/InvoicePayment_StripePaymentIntent/_process/returns_the_stripe_intent_object.yml
  spec/cassettes/InvoicePayment_StripePaymentIntent/_process/won_t_return_stripe_intent_object_when_there_is_no_associated_invoice.yml
  spec/cassettes/Invoices_PaymentsController/GET_cancel/renders_time_tracking_page_with_status_200.yml
  spec/cassettes/Invoices_PaymentsController/GET_new/when_invoice_is_paid/redirects_user_to_success_path.yml
  spec/cassettes/Invoices_PaymentsController/GET_new/when_invoice_is_unpaid/creates_stripe_session_and_redirects_user_to_url_returned_by_session.yml
  spec/cassettes/Invoices_PaymentsController/GET_success/doesn_t_mark_invoice_status_as_paid.yml
  spec/cassettes/Invoices_PaymentsController/GET_success/invoice_status_will_remain_as_sent.yml
  spec/cassettes/Invoices_PaymentsController/GET_success/marks_invoice_status_as_paid.yml
  spec/rails_helper.rb
  spec/security/vcr_cassettes_spec.rb
Due: lint-staged, rubocop

feat: turn the team-seat limit into a targeted upgrade prompt
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix: validate addable project members only
  app/services/project_member_service.rb
  spec/services/project_member_service_spec.rb
Due: lint-staged, rubocop

feat: turn the team-seat limit into a targeted upgrade prompt (#2406)
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/i18n/locales/en.ts
Due: lint-staged

fix: harden remaining security boundaries
  app/controllers/api/v1/payments_controller.rb
  app/controllers/api/v1/reports/payments_controller.rb
  app/controllers/api/v1/users/registrations_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/concerns/same_origin_authentication.rb
  app/models/concerns/super_admin.rb
  app/views/layouts/pdf.html.erb
  bin/deploy-hetzner
  bin/setup-hetzner
  config/initializers/rack_attack.rb
  spec/models/user_spec.rb
  spec/requests/api/v1/payments/index_spec.rb
  spec/requests/api/v1/reports/payments/index_spec.rb
  spec/requests/api/v1/users/destroy_spec.rb
  spec/requests/api/v1/users/registrations/create_spec.rb
  spec/requests/rack_attack_spec.rb
  tools/miru-cli/cmd/miru/main.go
  tools/miru-cli/cmd/miru/main_test.go
  tools/miru-cli/go.mod
  tools/miru-cli/go.sum
Due: lint-staged, rubocop

docs: pin Miru CLI installation
  README.md
  app/javascript/src/components/Profile/Personal/Automation/index.tsx
  docs/launch-readiness-3-0.md
  docs/miru-cli.md
  docs/miru-mcp.md
  tools/miru-cli/README.md
  tools/miru-cli/install.sh
Due: lint-staged

docs: mark payment response ceiling
  app/controllers/api/v1/payments_controller.rb
Due: lint-staged, rubocop

fix: update CLI security runtime
  tools/miru-cli/go.mod
  tools/miru-cli/go.sum
Due: none

docs: pin patched CLI toolchain
  README.md
  app/javascript/src/components/Profile/Personal/Automation/index.tsx
  docs/miru-cli.md
  tools/miru-cli/README.md
  tools/miru-cli/install.sh
Due: lint-staged

fix: keep demo passwords out of direct storage
  script/production_demo/ensure_matrix.rb
  spec/scripts/production_demo/ensure_matrix_spec.rb
Due: lint-staged, rubocop

feat: track acquisition funnel conversions
  app/controllers/api/v1/subscriptions_controller.rb
  app/services/analytics/tracking_service.rb
  app/services/create_company_service.rb
  app/services/subscriptions/stripe_sync_service.rb
  spec/requests/api/v1/subscriptions_controller_spec.rb
  spec/services/create_company_service_spec.rb
  spec/services/subscriptions/stripe_sync_service_spec.rb
Due: lint-staged, rubocop

fix: normalize funnel billing intervals
  app/services/analytics/tracking_service.rb
  spec/requests/api/v1/subscriptions_controller_spec.rb
  spec/services/subscriptions/stripe_sync_service_spec.rb
Due: lint-staged, rubocop

fix: shorten subscription transition lock
  app/services/subscriptions/stripe_sync_service.rb
Due: lint-staged, rubocop

feat: bill per team member and keep the Stripe quantity in sync
  app/controllers/api/v1/subscriptions_controller.rb
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/jobs/sync_stripe_subscription_company_job.rb
  app/models/company.rb
  app/services/subscriptions/seat_reconciliation_service.rb
  spec/jobs/sync_stripe_subscription_company_job_spec.rb
  spec/models/company_spec.rb
  spec/requests/api/v1/subscriptions_controller_spec.rb
  spec/services/subscriptions/seat_reconciliation_service_spec.rb
Due: lint-staged, rubocop

feat: bill per team member and keep the Stripe quantity in sync (#2407)
  app/controllers/api/v1/subscriptions_controller.rb
  app/javascript/src/components/Profile/Organization/Billing/index.tsx
  app/javascript/src/i18n/locales/en.ts
  app/jobs/sync_stripe_subscription_company_job.rb
  app/models/company.rb
  app/services/subscriptions/seat_reconciliation_service.rb
  spec/jobs/sync_stripe_subscription_company_job_spec.rb
  spec/models/company_spec.rb
  spec/requests/api/v1/subscriptions_controller_spec.rb
  spec/services/subscriptions/seat_reconciliation_service_spec.rb
Due: lint-staged, rubocop

fix: resolve Stripe price and secret env under production's variable names
  app/controllers/api/v1/subscriptions_controller.rb
  app/jobs/trial_emails_job.rb
  config/initializers/stripe.rb
  spec/jobs/trial_emails_job_spec.rb
  spec/requests/api/v1/subscriptions_controller_spec.rb
Due: lint-staged, rubocop

fix: resolve Stripe price/secret env under production's variable names (unblock checkout) (#2408)
  app/controllers/api/v1/subscriptions_controller.rb
  app/jobs/trial_emails_job.rb
  config/initializers/stripe.rb
  spec/jobs/trial_emails_job_spec.rb
  spec/requests/api/v1/subscriptions_controller_spec.rb
Due: lint-staged, rubocop

feat: track signup attribution (#2401)
  app/controllers/api/v1/subscriptions_controller.rb
  app/controllers/api/v1/users/registrations_controller.rb
  app/javascript/src/components/Authentication/SignUp/SignUpForm.tsx
  app/services/analytics/tracking_service.rb
  app/services/create_company_service.rb
  app/services/subscriptions/stripe_sync_service.rb
  spec/requests/api/v1/subscriptions_controller_spec.rb
  spec/requests/api/v1/users/registrations/create_spec.rb
  spec/services/create_company_service_spec.rb
  spec/services/subscriptions/stripe_sync_service_spec.rb
Due: lint-staged, rubocop

fix: resolve bundler-audit advisories for mcp and rails-html-sanitizer
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/mcp_controller.rb
Due: lint-staged, rubocop

fix: harden MCP transport config after adversarial review
  app/controllers/api/v1/mcp_controller.rb
  config/initializers/mcp.rb
Due: lint-staged, rubocop

docs: update MCP_ALLOWED_ORIGINS semantics after augment change
  docs/miru-mcp.md
Due: none

fix: bump Rails to 8.1.3.1 for Active Storage RCE advisory
  Gemfile.lock
Due: none

fix: bump ruby-vips to 2.3.0 so patched Active Storage boots in the image
  Gemfile.lock
Due: none

docs: link to the canonical signup route
  docs/product-guide/account-setup/01-signin-signup.md
Due: none

docs: correct authentication guide links
  docs/product-guide/account-setup/01-signin-signup.md
Due: none

feat: ship secure acquisition funnel tracking (#2409)
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/mcp_controller.rb
  app/controllers/api/v1/subscriptions_controller.rb
  app/controllers/api/v1/users/registrations_controller.rb
  app/javascript/src/components/Authentication/SignUp/SignUpForm.tsx
  app/services/analytics/tracking_service.rb
  app/services/create_company_service.rb
  app/services/subscriptions/stripe_sync_service.rb
  config/initializers/mcp.rb
  docs/miru-mcp.md
  docs/product-guide/account-setup/01-signin-signup.md
  spec/requests/api/v1/subscriptions_controller_spec.rb
  spec/requests/api/v1/users/registrations/create_spec.rb
  spec/services/create_company_service_spec.rb
  spec/services/subscriptions/stripe_sync_service_spec.rb
Due: lint-staged, rubocop

fix: exclude tracking parameters from canonical URLs
  app/views/layouts/application.html.erb
  spec/requests/seo_metadata_spec.rb
Due: lint-staged, rubocop

test: assert SEO metadata response succeeds
  spec/requests/seo_metadata_spec.rb
Due: lint-staged, rubocop

fix: exclude tracking parameters from canonical URLs (#2410)
  app/views/layouts/application.html.erb
  spec/requests/seo_metadata_spec.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
