Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

fix: sanitize faker names in seed file
  db/seeds.rb
Due: lint-staged, rubocop

fix: rubocop style violations in seeds.rb
  db/seeds.rb
Due: lint-staged, rubocop

fix: add missing api/v1 view templates and fix Playwright CI
  app/views/api/v1/companies/index.json.jbuilder
  playwright.config.ts
Due: lint-staged

fix: rubocop violations autocorrected
  app/controllers/api/v1/clients_controller.rb
  app/views/api/v1/invoices/index.json.jbuilder
  spec/requests/api/v1/invoices/pagination_spec.rb
Due: lint-staged, rubocop

fix: add missing ESLint dependencies
  package.json
  pnpm-lock.yaml
Due: lint-staged

fix: optimize Playwright CI performance and fix linting issues
  .github/workflows/validations.yml
  app/javascript/src/apis/internalApi.ts
  app/javascript/src/apis/timeTracking.ts
  app/javascript/src/components/AdminPages/ClientsPage/index.tsx
  app/javascript/src/components/Dashboard/DashboardLayout.tsx
  app/javascript/src/components/Expenses/ExpensesTable.tsx
  app/javascript/src/components/Invoices/InvoiceEditor.tsx
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/InvoiceList.tsx
  app/javascript/src/components/Invoices/InvoicePreview.tsx
  app/javascript/src/components/Invoices/List/RecentlyUpdated/RecentlyUpdatedCard.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/components/Profile/Organization/Edit/OrgEditForm.tsx
  app/javascript/src/components/Profile/Organization/Edit/index.tsx
  app/javascript/src/components/Reports/AccountsAgingReport/index.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/ModernOutstandingInvoiceReport.tsx
  app/javascript/src/components/Reports/RevenueByClientReport/ModernRevenueByClientReport.tsx
  app/javascript/src/components/TimeTracking/DatesInWeek.tsx
  app/javascript/src/components/TimeTracking/EntryDetailsModal.tsx
  app/javascript/src/components/TimeTracking/SelectProject.tsx
  app/javascript/src/components/TimeTracking/WeeklyEntries.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  db/seeds.rb
  eslint.config.js
  playwright.config.ts
Due: lint-staged, rubocop

fix: truncate all company names in seeds to 30 chars max
  db/seeds.rb
Due: lint-staged, rubocop

fix: resolve remaining ESLint errors
  app/javascript/src/components/Invoices/InvoiceEditor/index.tsx
  app/javascript/src/components/Invoices/index.tsx
  app/javascript/src/components/Navbar/Sidebar.tsx
  app/javascript/src/components/Profile/Organization/Details/ModernOrganizationSettings.tsx
  app/javascript/src/components/Profile/Organization/Edit/OrgEditForm.tsx
  app/javascript/src/components/Profile/Organization/Edit/index.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/ModernOutstandingInvoiceReport.tsx
  app/javascript/src/components/Reports/api/outstandingOverdueInvoice.ts
  app/javascript/src/components/Team/TeamTable.tsx
  app/javascript/src/components/TimeTracking/WeeklyEntries.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/ui/sidebar.tsx
  app/javascript/src/types/global.d.ts
  app/javascript/src/types/timeTracking.ts
Due: lint-staged

fix: resolve all ESLint errors and optimize Playwright for speed
  app/javascript/src/components/Invoices/List/RecentlyUpdated/InfiniteScrollRecentlyUpdated.tsx
  app/javascript/src/components/Reports/OutstandingInvoiceReport/ModernOutstandingInvoiceReport.tsx
  app/javascript/src/components/TimesheetEntries/EnhancedTimeTrackingTable.tsx
  app/javascript/src/components/TimesheetEntries/FloatingTimer.tsx
  app/javascript/src/components/ui/chart.tsx
  playwright.config.ts
Due: lint-staged

fix: optimize Playwright for ultra-fast CI execution
  .github/workflows/validations.yml
  playwright.config.ts
  playwright/e2e/basic.spec.ts
  playwright/e2e/simple-login.spec.ts
  playwright/e2e/smoke.spec.ts
  test-results/.last-run.json
  test-results/.playwright-artifacts-0/0d3973e2001e7d96f5467a7eeb20cf7a.webm
  test-results/.playwright-artifacts-1/0f208e7619bebb1d0436cf2f65fb02b2.webm
  test-results/.playwright-artifacts-2/d9146e84a927924fba158230cbca3be3.webm
  test-results/.playwright-artifacts-4/8dd7f2e6bbb0ac414bb6ad4a4eb237d1.webm
  test-results/time-tracking-TimeTracking-0c0a1-splays-week-view-by-default-chromium/error-context.md
  test-results/time-tracking-TimeTracking-0c0a1-splays-week-view-by-default-chromium/video.webm
  test-results/time-tracking-TimeTracking-1c45d-can-view-time-sheet-entries-chromium/error-context.md
  test-results/time-tracking-TimeTracking-1c45d-can-view-time-sheet-entries-chromium/video.webm
  test-results/time-tracking-TimeTracking-57308-an-view-other-users-entries-chromium/error-context.md
  test-results/time-tracking-TimeTracking-57308-an-view-other-users-entries-chromium/video.webm
  test-results/time-tracking-TimeTracking-764b2-View-can-add-new-time-entry-chromium/error-context.md
  test-results/time-tracking-TimeTracking-764b2-View-can-add-new-time-entry-chromium/video.webm
  test-results/time-tracking-TimeTracking-ce3e0-an-edit-existing-time-entry-chromium/error-context.md
  test-results/time-tracking-TimeTracking-ce3e0-an-edit-existing-time-entry-chromium/video.webm
Due: lint-staged

fix: add Rails server startup to Playwright workflow
  .github/workflows/playwright.yml
Due: none

fix: simplify Playwright tests to basic server validation
  playwright/e2e/simple-login.spec.ts
  playwright/e2e/smoke.spec.ts
Due: lint-staged

chore: remove codecov setup from CI
  .github/workflows/validations.yml
Due: none

perf: optimize CI parallelization strategy
  .github/workflows/playwright.yml
  .github/workflows/validations.yml
  playwright.config.ts
  playwright/e2e/essential.spec.ts
Due: lint-staged

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
