Repository saeloun/miru-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, rubocop

lint-staged:
  run: npx lint-staged

rubocop:
  run: bundle exec rubocop -a --force-exclusion {staged_files}
  stage_fixed: true

fix(specs): stub Stripe API calls to prevent authentication failures in CI
  spec/requests/invoices/payments_controller_spec.rb
  spec/services/invoice_payment/stripe_payment_intent_spec.rb
  spec/support/stripe_helpers.rb
Due: lint-staged, rubocop

fix: improve Stripe API stubbing and remove corrupt VCR cassettes
  spec/support/stripe_helpers.rb
Due: lint-staged, rubocop

chore: upgrade Node.js to v22 LTS across all environments
  .devcontainer/docker-compose.yml
  .github/workflows/validations.yml
  .gitignore
  .nvmrc
  deployment/fly/Dockerfile
Due: none

feat: modernize Miru 2.0 with JWT auth and shadcn/ui
  .env.example
  ARCHITECTURE_DECISION.md
  Gemfile
  Gemfile.lock
  app/helpers/application_helper.rb
  app/javascript/entrypoints/application.jsx
  app/javascript/packs/application.css
  app/javascript/src/apis/api.ts
  app/javascript/src/components/App.tsx
  app/javascript/src/components/Main.tsx
  app/javascript/src/components/ui/button.tsx
  app/javascript/src/components/ui/dropdown-menu.tsx
  app/javascript/src/components/ui/example-usage.tsx
  app/javascript/src/components/ui/mode-toggle.tsx
  app/javascript/src/components/ui/theme-provider.tsx
  app/javascript/src/lib/utils.ts
  app/javascript/stylesheets/application.scss
  app/models/user.rb
  components.json
  config/initializers/devise.rb
  db/migrate/20250812100812_add_jti_to_users.rb
  db/schema.rb
  package.json
  pnpm-lock.yaml
  postcss.config.js
  spec/factories/users.rb
  spec/models/user_spec.rb
  tailwind.config.js
  tsconfig.json
Due: lint-staged, rubocop

fix: complete authentication revert and add shadcn UI components
  app/javascript/src/components/Navbar/Header.tsx
  app/javascript/src/components/Navbar/ModernSidebar.tsx
  app/javascript/src/components/ui/avatar.tsx
  app/javascript/src/components/ui/button.tsx
  app/javascript/src/components/ui/dropdown-menu.tsx
  app/javascript/src/components/ui/scroll-area.tsx
  app/javascript/src/components/ui/tooltip.tsx
  app/models/user.rb
  components.json
  package.json
  pnpm-lock.yaml
  vite.config.mts
Due: lint-staged, rubocop

feat: add _me endpoint with retry logic for user details
  app/controllers/internal_api/v1/users/sessions_controller.rb
  app/javascript/src/components/App.tsx
  app/javascript/src/components/Dashboard/Home.tsx
  app/javascript/src/hooks/useUserDetails.ts
  config/routes/internal_api.rb
  spec/controllers/internal_api/v1/users/sessions_controller_spec.rb
Due: lint-staged, rubocop

fix: correct import path for useUserDetails hook
  app/javascript/src/components/App.tsx
Due: lint-staged

refactor: simplify auth to use server sessions and _me endpoint
  app/controllers/concerns/authenticable.rb
  app/controllers/internal_api/v1/application_controller.rb
  app/helpers/application_helper.rb
  app/javascript/src/apis/api.ts
  app/javascript/src/components/App.tsx
  app/javascript/src/components/Main.tsx
  app/javascript/src/components/Navbar/ModernSidebar.tsx
  app/javascript/src/hooks/useUserDetails.ts
Due: lint-staged, rubocop

fix: leave-management page issues and modernize reports UI
  app/javascript/src/components/LeaveManagement/Container/index.tsx
  app/javascript/src/components/Reports/List/index.tsx
  app/javascript/src/components/Reports/List/reportCard.tsx
  app/javascript/src/components/ui/card.tsx
Due: lint-staged

fix: include Authenticable concern and update system specs
  app/controllers/internal_api/v1/application_controller.rb
  spec/system/basic_system_spec.rb
Due: lint-staged, rubocop

fix: make report cards uniform height for better layout
  app/javascript/src/components/Reports/List/reportCard.tsx
Due: lint-staged

feat: improve search with shadcn/ui Input component
  app/javascript/src/common/AutoSearch/index.tsx
  app/javascript/src/components/ui/input.tsx
Due: lint-staged

feat: modernize profile page with shadcn/ui components
  app/javascript/src/components/Profile/Personal/User/StaticPage.tsx
Due: lint-staged

feat: improve fonts across all pages and rename sidebar component
  app/controllers/concerns/error_handler.rb
  app/controllers/internal_api/v1/clients/invoices_controller.rb
  app/controllers/internal_api/v1/invoices/payments_controller.rb
  app/controllers/internal_api/v1/invoices/view_controller.rb
  app/controllers/internal_api/v1/invoices_controller.rb
  app/controllers/internal_api/v1/payment_settings_controller.rb
  app/controllers/internal_api/v1/users/confirmations_controller.rb
  app/controllers/internal_api/v1/users/passwords_controller.rb
  app/controllers/internal_api/v1/users/registrations_controller.rb
  app/controllers/internal_api/v1/users/sessions_controller.rb
  app/javascript/src/components/Clients/Header/index.tsx
  app/javascript/src/components/Dashboard/index.tsx
  app/javascript/src/components/Navbar/Sidebar.tsx
  app/javascript/src/components/Profile/Layout/Navigation/AdminNav.tsx
  app/javascript/src/components/Profile/Layout/Navigation/List.tsx
  app/javascript/src/components/Profile/Layout/RouteConfig.tsx
  app/javascript/src/components/Profile/Organization/Details/StaticPage.tsx
  app/javascript/src/components/Profile/Organization/Details/index.tsx
  app/javascript/src/components/Profile/Personal/Employment/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/NotificationPreferences/index.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/StaticPage.tsx
  app/javascript/src/components/Profile/Personal/User/StaticPage.tsx
  app/javascript/src/components/TimeTracking/index.tsx
  app/javascript/src/components/ui/button.tsx
  app/services/update_profile_settings_service.rb
  full_parallel_test_results.txt
  rspec_output.txt
  spec/controllers/internal_api/v1/users/sessions_controller_spec.rb
  spec/requests/internal_api/v1/clients/create_spec.rb
  spec/requests/internal_api/v1/invitations/create_spec.rb
  spec/requests/internal_api/v1/payments/providers/update_spec.rb
  spec/requests/internal_api/v1/profile/update_spec.rb
  spec/requests/internal_api/v1/projects/create_spec.rb
  spec/requests/internal_api/v1/projects/update_spec.rb
  spec/requests/internal_api/v1/timeoff_entries/create_spec.rb
  spec/requests/internal_api/v1/timeoff_entries/update_spec.rb
  spec/requests/internal_api/v1/users/passwords/create_spec.rb
  spec/requests/internal_api/v1/users/passwords/update_spec.rb
  spec/requests/internal_api/v1/users/registrations/create_spec.rb
  spec/requests/internal_api/v1/users/sessions/create_spec.rb
Due: lint-staged, rubocop

fix: address review comments from CodeRabbit
  app/javascript/src/common/CustomCheckbox.tsx
  app/javascript/src/common/CustomInputText/index.tsx
  app/javascript/src/components/Clients/Details/Header.tsx
  app/javascript/src/components/Navbar/Sidebar.tsx
  app/javascript/src/components/Profile/Layout/Navigation/UserInformation.tsx
  app/javascript/src/components/Profile/Personal/Compensation/index.tsx
  app/javascript/src/components/Profile/Personal/Devices/index.tsx
  app/javascript/src/components/Profile/Personal/Employment/Edit/index.tsx
  app/javascript/src/components/Profile/Personal/Employment/index.tsx
  app/javascript/src/components/Profile/Personal/User/Edit/index.tsx
  app/javascript/src/components/Profile/Personal/User/index.tsx
  app/javascript/src/components/Profile/index.tsx
  app/javascript/src/components/Projects/Details/HeadermenuList.tsx
  app/javascript/src/components/Routes/AppRouter.tsx
  app/javascript/src/components/Team/modals/AddEditMember.tsx
  app/javascript/src/components/Team/modals/DeleteMember.tsx
  app/javascript/src/components/TimeoffEntries/TimeoffForm/DesktopTimeoffForm.tsx
  app/javascript/src/components/TimeoffEntries/TimeoffForm/MobileTimeoffForm.tsx
  app/javascript/src/constants/index.tsx
  app/javascript/src/context/UserContext.tsx
  app/javascript/src/context/auth.tsx
  app/javascript/src/hooks/useCurrentUser.ts
  app/javascript/src/reducers/auth.ts
  app/javascript/src/types/images.d.ts
  app/models/concerns/pg_searchable.rb
  app/models/expense.rb
  app/models/invoice.rb
  app/models/project.rb
  app/models/timesheet_entry.rb
  spec/requests/internal_api/v1/clients/index_spec.rb
Due: lint-staged, rubocop

chore: migrate system tests from Selenium to Playwright
  .github/workflows/validations.yml
  Gemfile
  Gemfile.lock
  app/javascript/src/StyledComponents/MoreOptions.tsx
  package.json
  playwright-report/index.html
  pnpm-lock.yaml
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/support/capybara.rb
  spec/support/playwright_setup.rb
  spec/support/react_helpers.rb
  spec/support/system_test_config.rb
  spec/system/basic_system_spec.rb
  spec/system/clients/create_spec.rb
  spec/system/clients/edit_spec.rb
  test-results/.last-run.json
Due: lint-staged, rubocop

refactor: clean up Playwright configuration following best practices
  .github/workflows/validations.yml
  spec/support/capybara.rb
  spec/support/playwright_test_helper.rb
  spec/support/react_pending_helper.rb
  spec/support/system_helpers.rb
  spec/support/system_test_config.rb
  spec/system/basic_system_spec.rb
  spec/system/clients/create_spec.rb
  spec/system/clients/edit_spec.rb
Due: lint-staged, rubocop

fix: migrate ESLint to v9 flat config format
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: lint-staged

fix: add missing browser globals to ESLint config
  eslint.config.js
Due: lint-staged

test: mark pending UI-dependent specs
  spec/system/teams/create_spec.rb
Due: lint-staged, rubocop

test: fix time tracking specs navigation
  spec/system/time_tracking/calendar_spec.rb
Due: lint-staged, rubocop

test: mark time tracking UI specs as pending
  spec/system/time_tracking/day_view_spec.rb
  spec/system/time_tracking/week_view_spec.rb
Due: lint-staged, rubocop

test: enable email confirmation specs that are now passing
  spec/system/users/email_confirmations_spec.rb
Due: lint-staged, rubocop

Path conditions:
  lint-staged: any of: *.{js,jsx,ts,tsx,json,rb}
  rubocop: any of: *.rb
